Repository ansys/pydpf-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- doc/source/**/*
- examples/**/*
maintenance:
- .flake8
- CODE_OF_CONDUCT.md
- LICENSE
- README.md
- codecov.yml
- ignore_words.txt
- setup.py
dependencies:
- setup.py
- requirements/*
CI/CD:
- docker/**/*
- .github/**/*
- .ci/**/*

Update the note of field data
  doc/source/user_guide/tutorials/data_structures/data_arrays.rst
Labels: documentation

remove the section on scoping
  doc/source/user_guide/tutorials/data_structures/data_arrays.rst
Labels: documentation

Fix title consistency
  doc/source/user_guide/tutorials/post_processing_basics/01-main-steps.rst
Labels: documentation

Remove last step from 01-main-steps.rst
  doc/source/user_guide/tutorials/post_processing_basics/01-main-steps.rst
Labels: documentation

Update create fields based on result files
  doc/source/user_guide/tutorials/data_structures/data_arrays.rst
Labels: documentation

Fix typehinting of field.dimensionality
  src/ansys/dpf/core/field.py
  src/ansys/dpf/core/field_definition.py
Labels: none

Update the "from scratch" section
  doc/source/user_guide/tutorials/data_structures/data_arrays.rst
Labels: documentation

update generated code
  src/ansys/dpf/core/operators/math/accumulation_per_scoping.py
  src/ansys/dpf/core/operators/result/workflow_energy_per_component.py
  src/ansys/dpf/core/operators/result/workflow_energy_per_harmonic.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

update generated code
  src/ansys/dpf/core/operators/math/accumulation_per_scoping.py
  src/ansys/dpf/core/operators/result/workflow_energy_per_component.py
  src/ansys/dpf/core/operators/result/workflow_energy_per_harmonic.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Update generated code for DPF 261_daily on master (#2471)
  src/ansys/dpf/core/operators/math/accumulation_per_scoping.py
  src/ansys/dpf/core/operators/result/workflow_energy_per_component.py
  src/ansys/dpf/core/operators/result/workflow_energy_per_harmonic.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

refactor: add typing for workflow record function
  src/ansys/dpf/core/workflow.py
Labels: none

ci: sync main with master branch (#2449)
  .github/workflows/ci.yml
  .github/workflows/update_operators.yml
  README.md
  src/ansys/dpf/core/examples/downloads.py
Labels: maintenance, CI/CD

fix: action
  .github/workflows/ci.yml
Labels: CI/CD

fix: main-master sync action (#2481)
  .github/workflows/ci.yml
Labels: CI/CD

ci: test master-main sync
  run_client.bat
Labels: none

ci: test master-main sync (#2482)
  run_client.bat
Labels: none

ci: use PAT for main/master sync
  .github/workflows/ci.yml
Labels: CI/CD

ci: use PAT for main/master sync (#2484)
  .github/workflows/ci.yml
Labels: CI/CD

Fix the fields_factory.create_matrix_field by having the Dimensionality create a 3x3 matrix by default
  src/ansys/dpf/core/dimensionality.py
Labels: none

Check scalar bars with pyvista 0.45.1
  requirements/requirements_docs.txt
Labels: dependencies

Remove useless checks on PropertyField.location and StringField.location
  src/ansys/dpf/core/property_field.py
  src/ansys/dpf/core/string_field.py
Labels: none

Fix check in PropertyField.location and StringField.location getter
  src/ansys/dpf/core/property_field.py
  src/ansys/dpf/core/string_field.py
Labels: none

Try 0.44.2
  requirements/requirements_docs.txt
Labels: dependencies

Fix some typehints
  src/ansys/dpf/core/field.py
  src/ansys/dpf/core/server.py
Labels: none

Refactor and typehint fields_factory.py
  src/ansys/dpf/core/fields_factory.py
Labels: none

Update field creation sections
  doc/source/user_guide/tutorials/data_structures/data_arrays.rst
Labels: documentation

fix(any): fix cast of Any to DataSources
  src/ansys/dpf/core/any.py
Labels: none

Add a test
  tests/test_any.py
Labels: none

Fix index card
  doc/source/user_guide/tutorials/data_structures/index.rst
Labels: documentation

Update field metadata section in data_arrays.rst
  doc/source/user_guide/tutorials/data_structures/data_arrays.rst
Labels: documentation

Fix the test
  tests/test_any.py
Labels: none

Correct reference to te tutorial on the section card
  doc/source/user_guide/tutorials/data_structures/index.rst
Labels: documentation

Update doc/source/user_guide/tutorials/data_structures/data_arrays.rst
  doc/source/user_guide/tutorials/data_structures/data_arrays.rst
Labels: documentation

doc(tutorials): data structures - fields (#2462)
  doc/source/user_guide/tutorials/data_structures/data_arrays.rst
  doc/source/user_guide/tutorials/data_structures/index.rst
  doc/source/user_guide/tutorials/import_data/import_result_file.rst
  doc/source/user_guide/tutorials/post_processing_basics/01-main-steps.rst
  src/ansys/dpf/core/dimensionality.py
  src/ansys/dpf/core/field.py
  src/ansys/dpf/core/field_definition.py
  src/ansys/dpf/core/fields_factory.py
  src/ansys/dpf/core/property_field.py
  src/ansys/dpf/core/server.py
  src/ansys/dpf/core/string_field.py
Labels: documentation

Create gate/any_grpcapi.py any_get_as_data_sources and any_new_from_data_sources
  src/ansys/dpf/gate/any_grpcapi.py
Labels: none

Update test to limitations
  tests/test_any.py
Labels: none

Test on gRPC too (will wait for fix server-sde)
  tests/test_any.py
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Add tabs to create field with fields factory
  doc/source/user_guide/tutorials/data_structures/data_arrays.rst
Labels: documentation
