Repository ansys/pydpf-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- doc/source/**/*
- examples/**/*
maintenance:
- .flake8
- CODE_OF_CONDUCT.md
- LICENSE
- README.md
- codecov.yml
- ignore_words.txt
- setup.py
dependencies:
- setup.py
- requirements/*
CI/CD:
- docker/**/*
- .github/**/*
- .ci/**/*

update generated code
  src/ansys/dpf/core/operators/math/compute_residual_and_error.py
  src/ansys/dpf/core/operators/result/__init__.py
  src/ansys/dpf/core/operators/result/gasket_deformation.py
  src/ansys/dpf/core/operators/result/gasket_deformation_X.py
  src/ansys/dpf/core/operators/result/gasket_deformation_XY.py
  src/ansys/dpf/core/operators/result/gasket_deformation_XZ.py
  src/ansys/dpf/core/operators/result/gasket_total_closure.py
  src/ansys/dpf/core/operators/result/gasket_total_closure_X.py
  src/ansys/dpf/core/operators/result/gasket_total_closure_XY.py
  src/ansys/dpf/core/operators/result/gasket_total_closure_XZ.py
  src/ansys/dpf/core/operators/utility/customtypefield_get_attribute.py
  src/ansys/dpf/core/operators/utility/field_get_attribute.py
  src/ansys/dpf/core/operators/utility/propertyfield_get_attribute.py
  src/ansys/dpf/core/operators/utility/set_property.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

doc(tutorials): Correct card of the "Custom operators" tutorial (#2494)
  doc/source/user_guide/tutorials/custom_operators_and_plugins/index.rst
Labels: documentation

update generated code
  src/ansys/dpf/core/operators/math/compute_residual_and_error.py
  src/ansys/dpf/core/operators/math/modal_superposition.py
  src/ansys/dpf/core/operators/result/__init__.py
  src/ansys/dpf/core/operators/result/gasket_deformation.py
  src/ansys/dpf/core/operators/result/gasket_deformation_X.py
  src/ansys/dpf/core/operators/result/gasket_deformation_XY.py
  src/ansys/dpf/core/operators/result/gasket_deformation_XZ.py
  src/ansys/dpf/core/operators/result/gasket_total_closure.py
  src/ansys/dpf/core/operators/result/gasket_total_closure_X.py
  src/ansys/dpf/core/operators/result/gasket_total_closure_XY.py
  src/ansys/dpf/core/operators/result/gasket_total_closure_XZ.py
  src/ansys/dpf/core/operators/scoping/adapt_with_scopings_container.py
  src/ansys/dpf/core/operators/utility/__init__.py
  src/ansys/dpf/core/operators/utility/customtypefield_get_attribute.py
  src/ansys/dpf/core/operators/utility/field_get_attribute.py
  src/ansys/dpf/core/operators/utility/multiply_fields_containers.py
  src/ansys/dpf/core/operators/utility/propertyfield_get_attribute.py
  src/ansys/dpf/core/operators/utility/set_property.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

update generated code
  src/ansys/dpf/core/operators/math/compute_residual_and_error.py
  src/ansys/dpf/core/operators/result/__init__.py
  src/ansys/dpf/core/operators/result/gasket_deformation.py
  src/ansys/dpf/core/operators/result/gasket_deformation_X.py
  src/ansys/dpf/core/operators/result/gasket_deformation_XY.py
  src/ansys/dpf/core/operators/result/gasket_deformation_XZ.py
  src/ansys/dpf/core/operators/result/gasket_total_closure.py
  src/ansys/dpf/core/operators/result/gasket_total_closure_X.py
  src/ansys/dpf/core/operators/result/gasket_total_closure_XY.py
  src/ansys/dpf/core/operators/result/gasket_total_closure_XZ.py
  src/ansys/dpf/core/operators/utility/customtypefield_get_attribute.py
  src/ansys/dpf/core/operators/utility/field_get_attribute.py
  src/ansys/dpf/core/operators/utility/propertyfield_get_attribute.py
  src/ansys/dpf/core/operators/utility/set_property.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Update generated code for DPF 261_daily on main (#2506)
  src/ansys/dpf/core/operators/math/compute_residual_and_error.py
  src/ansys/dpf/core/operators/result/__init__.py
  src/ansys/dpf/core/operators/result/gasket_deformation.py
  src/ansys/dpf/core/operators/result/gasket_deformation_X.py
  src/ansys/dpf/core/operators/result/gasket_deformation_XY.py
  src/ansys/dpf/core/operators/result/gasket_deformation_XZ.py
  src/ansys/dpf/core/operators/result/gasket_total_closure.py
  src/ansys/dpf/core/operators/result/gasket_total_closure_X.py
  src/ansys/dpf/core/operators/result/gasket_total_closure_XY.py
  src/ansys/dpf/core/operators/result/gasket_total_closure_XZ.py
  src/ansys/dpf/core/operators/utility/customtypefield_get_attribute.py
  src/ansys/dpf/core/operators/utility/field_get_attribute.py
  src/ansys/dpf/core/operators/utility/propertyfield_get_attribute.py
  src/ansys/dpf/core/operators/utility/set_property.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Update code_generation.py to handle kept operators
  .ci/code_generation.py
Labels: CI/CD

Update result __init__.py
  src/ansys/dpf/core/operators/result/__init__.py
Labels: none

Add the operator files to non-deleted files during code generation
  .ci/code_generation.py
Labels: CI/CD

Add back the gasket_deformation operator python modules
  src/ansys/dpf/core/operators/result/gasket_deformation.py
  src/ansys/dpf/core/operators/result/gasket_deformation_X.py
  src/ansys/dpf/core/operators/result/gasket_deformation_XY.py
  src/ansys/dpf/core/operators/result/gasket_deformation_XZ.py
Labels: none

Add a test for deprecation warning
  tests/operators/test_gasket_deformation.py
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Mark test as requiring DPF 9.0
  tests/operators/test_gasket_deformation.py
Labels: none

doc: update the compatibility table
  doc/source/getting_started/compatibility.rst
Labels: documentation

Fix test skip condition
  tests/operators/test_gasket_deformation.py
Labels: none

ci(release): ci_release.yml targets 252
  .github/workflows/ci_release.yml
Labels: CI/CD

ci(release): ci_release.yml targets 252 (#2515)
  .github/workflows/ci_release.yml
Labels: CI/CD

ci(release): ci_release.yml use repository variable ANSYS_VERSION_LAST_RELEASED
  .github/workflows/ci_release.yml
Labels: CI/CD

Update doc/source/getting_started/compatibility.rst
  doc/source/getting_started/compatibility.rst
Labels: documentation

doc: update the compatibility table (#2513)
  doc/source/getting_started/compatibility.rst
Labels: documentation

ci(release): ci_release.yml use repository variable ANSYS_VERSION_LAST_RELEASED (#2516)
  .github/workflows/ci_release.yml
Labels: CI/CD

Fix the test
  tests/test_any.py
Labels: none

fix(any): fix cast of Any to DataSources
  src/ansys/dpf/core/any.py
Labels: none

Fix version requirement
  tests/test_any.py
Labels: none

Add a test
  tests/test_any.py
Labels: none

Fix for LegacyGrpc
  src/ansys/dpf/gate/any_grpcapi.py
Labels: none

Update test to limitations
  tests/test_any.py
Labels: none

Create gate/any_grpcapi.py any_get_as_data_sources and any_new_from_data_sources
  src/ansys/dpf/gate/any_grpcapi.py
Labels: none

Test on gRPC too (will wait for fix server-sde)
  tests/test_any.py
Labels: none

refactor: add typing for workflow record function
  src/ansys/dpf/core/workflow.py
Labels: none

Deprecate renamed gasket_deformation operators (#2510)
  .ci/code_generation.py
  src/ansys/dpf/core/operators/result/__init__.py
  src/ansys/dpf/core/operators/result/gasket_deformation.py
  src/ansys/dpf/core/operators/result/gasket_deformation_X.py
  src/ansys/dpf/core/operators/result/gasket_deformation_XY.py
  src/ansys/dpf/core/operators/result/gasket_deformation_XZ.py
  tests/operators/test_gasket_deformation.py
Labels: CI/CD

Fix test skip condition
  tests/test_any.py
Labels: none

ci: use repository variables for retro test matrices
  .github/workflows/ci_release.yml
Labels: CI/CD

ci: use repository variables for retro test matrices
  .github/workflows/ci.yml
Labels: CI/CD

Add ANSYS_VERSION_LAST_RELEASED to retro matrix in ci.yml
  .github/workflows/ci.yml
Labels: CI/CD

feat: add WorkflowInfo typed dict
  src/ansys/dpf/core/workflow.py
Labels: none

refactor: remove type duplicated type hints
  src/ansys/dpf/core/workflow.py
Labels: none

AChange suffix management in retro and post matrices in ci.yml and ci_release.yml
  .github/workflows/ci.yml
  .github/workflows/ci_release.yml
Labels: CI/CD

Fix retro test naming
  .github/workflows/ci.yml
  .github/workflows/ci_release.yml
Labels: CI/CD

refactor: add docstring to workflowinfo
  src/ansys/dpf/core/workflow.py
Labels: none
