Repository ansys/pydpf-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, CI/CD

docs: Update ``CONTRIBUTORS.md`` with the latest contributors (#2352)
  CONTRIBUTORS.md
Labels: none

fix(examples): fix diagram in average across bodies example (#2345)
  examples/09-averaging/01-average_across_bodies.py
Labels: documentation

Update generated code for DPF 261_daily on master (#2351)
  src/ansys/dpf/core/operators/utility/__init__.py
  src/ansys/dpf/core/operators/utility/customtypefield_get_attribute.py
  src/ansys/dpf/core/operators/utility/field_get_attribute.py
  src/ansys/dpf/core/operators/utility/propertyfield_get_attribute.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Update generated code for DPF 261_daily on master (#2360)
  src/ansys/dpf/core/operators/math/modal_superposition.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

fix(dependencies): expired deprecation for conversion of np.inexact to dtype in numpy 2.3.0 (#2357)
  src/ansys/dpf/core/geometry.py
Labels: none

Update generated code for DPF 261_daily on master (#2363)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Substitute ECR->EPCR in _result_properties (#2367)
  src/ansys/dpf/core/available_result.py
Labels: none

Update generated code for DPF 261_daily on master (#2369)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

docs: Update ``CONTRIBUTORS.md`` with the latest contributors (#2370)
  CONTRIBUTORS.md
Labels: none

Update generated code for DPF 261_daily on master (#2374)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

feat(server): Add BaseServer.plugins property to list loaded plugins (#2383)
  src/ansys/dpf/core/check_version.py
  src/ansys/dpf/core/server_types.py
  tests/test_server.py
Labels: none

ci: Use PYANSYS_CI_BOT_TOKEN to install DPF (#2385)
  .github/workflows/docs.yml
  .github/workflows/examples.yml
  .github/workflows/examples_docker.yml
  .github/workflows/pydpf-post.yml
  .github/workflows/test_docker.yml
  .github/workflows/tests.yml
  .github/workflows/update_operators.yml
Labels: CI/CD

fix(retro): fix retro-compatibility following move of class locations (#2384)
  src/ansys/dpf/gate/common.py
  tests/test_scoping.py
Labels: none

fix(doc): make mathematical operations examples visible (#2368)
  examples/01-mathematical-operations/matrix-operations.py
  examples/16-maths-ops/README.txt
Labels: documentation

fix(api): Make locations a publicly documented class (#2375)
  src/ansys/dpf/core/common.py
  src/ansys/dpf/gate/common.py
  src/ansys/dpf/gate/meshed_region_grpcapi.py
Labels: none

maint(ci): Update tox.ini doc clean environment (#2376)
  tox.ini
Labels: none

feat(plotter): enable plots of mesh scopings (#2377)
  src/ansys/dpf/core/elements.py
  src/ansys/dpf/core/meshes_container.py
  src/ansys/dpf/core/nodes.py
  src/ansys/dpf/core/plotter.py
  src/ansys/dpf/core/scoping.py
  src/ansys/dpf/core/scopings_container.py
  tests/test_plotter.py
Labels: none

Update generated code for DPF 261_daily on master (#2388)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Update generated code for DPF 261_daily on master (#2389)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Update generated code for DPF 261_daily on master (#2390)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Update generated code for DPF 261_daily on master (#2392)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Update generated code for DPF 261_daily on master (#2393)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Update generated code for DPF 261_daily on master (#2395)
  src/ansys/dpf/core/operators/result/__init__.py
  src/ansys/dpf/core/operators/result/creep_strain.py
  src/ansys/dpf/core/operators/result/creep_strain_X.py
  src/ansys/dpf/core/operators/result/creep_strain_XY.py
  src/ansys/dpf/core/operators/result/creep_strain_XZ.py
  src/ansys/dpf/core/operators/result/creep_strain_Y.py
  src/ansys/dpf/core/operators/result/creep_strain_YZ.py
  src/ansys/dpf/core/operators/result/creep_strain_Z.py
  src/ansys/dpf/core/operators/result/creep_strain_eqv.py
  src/ansys/dpf/core/operators/result/creep_strain_intensity.py
  src/ansys/dpf/core/operators/result/creep_strain_max_shear.py
  src/ansys/dpf/core/operators/result/creep_strain_principal_1.py
  src/ansys/dpf/core/operators/result/creep_strain_principal_2.py
  src/ansys/dpf/core/operators/result/creep_strain_principal_3.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Update generated code for DPF 261_daily on master (#2398)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Update generated code for DPF 261_daily on master (#2400)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

docs: Update ``CONTRIBUTORS.md`` with the latest contributors (#2401)
  CONTRIBUTORS.md
Labels: none

Update generated code for DPF 261_daily on master (#2402)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

ci: test 25R2 retro-compatibility (#2403)
  .github/workflows/ci.yml
Labels: CI/CD

Update generated code for DPF 261_daily on master (#2408)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

fix: custom type check for unsupported type (#2407)
  src/ansys/dpf/core/custom_type_field.py
  src/ansys/dpf/gate/dpf_vector.py
  tests/test_custom_type_field.py
  tests/test_dpf_vector.py
Labels: none

Update generated code for DPF 261_daily on master (#2410)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Update generated code for DPF 261_daily on master (#2412)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Update generated code for DPF 261_daily on master (#2415)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

feat(plotter): return the plotter instance (#2413)
  src/ansys/dpf/core/fields_container.py
  src/ansys/dpf/core/plotter.py
Labels: none

Update generated code for DPF 261_daily on master (#2417)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Update generated code for DPF 261_daily on master (#2421)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Update generated code for DPF 261_daily on master (#2427)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

fix(plotter): merge fields of fields_container before plot (#2414)
  src/ansys/dpf/core/fields_container.py
  tests/test_plotter.py
Labels: none

Enable plots of ElementalNodal data (#511)
  examples/06-plotting/00-basic_plotting.py
  src/ansys/dpf/core/elements.py
  src/ansys/dpf/core/meshed_region.py
  src/ansys/dpf/core/plotter.py
  tests/test_plotter.py
Labels: documentation

ci(test): skip test-operators/test_operator_change_shell_layers_connect_enum (#2425)
  tests/operators/test_change_shell_layers.py
Labels: none

.github/labeler.yml:

documentation:
- doc/source/**/*
- examples/**/*
maintenance:
- .flake8
- CODE_OF_CONDUCT.md
- LICENSE
- README.md
- codecov.yml
- ignore_words.txt
- setup.py
dependencies:
- setup.py
- requirements/*
CI/CD:
- docker/**/*
- .github/**/*
- .ci/**/*
