Repository ansys/pydpf-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- doc/source/**/*
- examples/**/*
maintenance:
- .flake8
- CODE_OF_CONDUCT.md
- LICENSE
- README.md
- codecov.yml
- ignore_words.txt
- setup.py
dependencies:
- setup.py
- requirements/*
CI/CD:
- docker/**/*
- .github/**/*
- .ci/**/*

Update generated code for DPF 261_daily on main (#2624)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/core/operators/compression/apply_svd.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/core/operators/compression/apply_svd.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/core/operators/compression/apply_svd.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2628)
  src/ansys/dpf/core/operators/compression/apply_svd.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/core/operators/compression/apply_svd.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

fix: array view bug
  src/ansys/dpf/core/field_base.py
Labels: none

fix: improve copy requirements
  src/ansys/dpf/core/field_base.py
Labels: none

test: add unit tests
  tests/test_field.py
Labels: none

fix: codestyle
  tests/test_field.py
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

fix: support NumPy array views to set data of Field (#2630)
  src/ansys/dpf/core/field_base.py
  tests/test_field.py
Labels: none

docs: tip on context managers for efficient remote processing
  doc/source/user_guide/tutorials/data_structures/data_arrays.rst
Labels: documentation

Update generated code for DPF 261_daily on main (#2631)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

docs: tip on context managers for efficient remote processing (#2634)
  doc/source/user_guide/tutorials/data_structures/data_arrays.rst
Labels: documentation

Update doc/source/operators_doc/operator-specifications/toc_template.j2
  doc/source/operators_doc/operator-specifications/toc_template.j2
Labels: documentation

doc: update templates for Markdown operator documentation pages (#2543)
  doc/source/operators_doc/operator-specifications/operator_doc_template.md
  doc/source/operators_doc/operator-specifications/toc_template.j2
Labels: documentation

Create ansys.dpf.core.documentation module
  src/ansys/dpf/core/documentation/__init__.py
  src/ansys/dpf/core/documentation/generate_operators_doc.py
  src/ansys/dpf/core/documentation/operator_doc_template.md
  src/ansys/dpf/core/documentation/toc_template.j2
Labels: none

Add "operator_doc" dependency group
  pyproject.toml
Labels: none

Add "output_path" argument
  .ci/generate_operators_doc.py
Labels: CI/CD

Add "operator_doc" dependency group
  pyproject.toml
Labels: none

Fix typehint for server type in server.py
  src/ansys/dpf/core/__init__.py
  src/ansys/dpf/core/server.py
Labels: none

Add dpf_generate_operators_doc as an entry-point to the library
  pyproject.toml
Labels: none

Fix dpf_generate_operators_doc entry_point
  pyproject.toml
  src/ansys/dpf/core/documentation/generate_operators_doc.py
Labels: none

Package operator doc templates
  pyproject.toml
Labels: none

Support servers running on Linux
  src/ansys/dpf/core/documentation/generate_operators_doc.py
Labels: none

Add verbosity option
  src/ansys/dpf/core/documentation/generate_operators_doc.py
Labels: none

Add testing
  tests/test_documentation.py
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

feat: improve server errors handling
  src/ansys/dpf/gate/errors.py
Labels: none

Add jinja2 to requirements_test.txt
  requirements/requirements_test.txt
Labels: dependencies

Ignore F401
  src/ansys/dpf/core/__init__.py
Labels: none

Improve coverage
  src/ansys/dpf/core/documentation/generate_operators_doc.py
  tests/test_documentation.py
Labels: none

Fix noqa W0622 comment
  src/ansys/dpf/core/workflow.py
Labels: none

Ignore line in pylint
  src/ansys/dpf/core/workflow.py
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Switch tested plugin in test_generate_operators_doc_plugin for retro
  tests/test_documentation.py
Labels: none

Update generated code for DPF 261_daily on main (#2637)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

refactor: add typing for workflow record function (#2479)
  src/ansys/dpf/core/workflow.py
Labels: none

Add pytest fixture fluent_axial_comp_flprj
  tests/conftest.py
Labels: none
