Repository ansys/pydpf-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- doc/source/**/*
- examples/**/*
maintenance:
- .flake8
- CODE_OF_CONDUCT.md
- LICENSE
- README.md
- codecov.yml
- ignore_words.txt
- setup.py
dependencies:
- setup.py
- requirements/*
CI/CD:
- docker/**/*
- .github/**/*
- .ci/**/*

Improve the module documentation
  src/ansys/dpf/core/label_space.py
Labels: none

exclude cyberchannel.py
  codacy.yml
  codecov.yml
Labels: maintenance

reenable cfx example
  .ci/run_examples.py
Labels: CI/CD

fix unused import
  src/ansys/dpf/core/server_types.py
Labels: none

Improve the module documentation
  src/ansys/dpf/core/vtk_helper.py
Labels: none

Apply suggestions from code review
  src/ansys/dpf/core/label_space.py
Labels: none

Update label_space.py
  src/ansys/dpf/core/label_space.py
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2835)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/core/operators/utility/__init__.py
  src/ansys/dpf/core/operators/utility/concatenate_fields.py
  src/ansys/dpf/core/operators/utility/concatenate_fields_containers.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/core/operators/utility/__init__.py
  src/ansys/dpf/core/operators/utility/concatenate_fields.py
  src/ansys/dpf/core/operators/utility/concatenate_fields_containers.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Assign .h5 files to hdf5 key
  src/ansys/dpf/core/data_sources.py
Labels: none

feat(datasources): add the key argument to DataSources()
  src/ansys/dpf/core/data_sources.py
Labels: none

Update generated code for DPF 261_daily on main (#2837)
  src/ansys/dpf/core/operators/utility/__init__.py
  src/ansys/dpf/core/operators/utility/concatenate_fields.py
  src/ansys/dpf/core/operators/utility/concatenate_fields_containers.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update CONTRIBUTORS.md with the latest contributors
  CONTRIBUTORS.md
Labels: none

Update generated code for DPF 261_daily on main (#2840)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Codacy
  src/ansys/dpf/core/cyberchannel.py
Labels: none

Add a test
  tests/test_datasources.py
Labels: none

Add test
  tests/test_datasources.py
Labels: none

Apply suggestions from code review
  tests/test_datasources.py
Labels: none

fix: typing issue
  src/ansys/dpf/core/property_fields_container.py
Labels: none

Apply suggestions from code review
  tests/test_datasources.py
Labels: none

Update src/ansys/dpf/core/__init__.py
  src/ansys/dpf/core/__init__.py
Labels: none

grpc changes (#2790)
  .ci/run_examples.py
  .github/workflows/docs.yml
  .github/workflows/examples.yml
  .github/workflows/examples_docker.yml
  .github/workflows/test_docker.yml
  .github/workflows/tests.yml
  codacy.yml
  codecov.yml
  src/ansys/dpf/core/cyberchannel.py
  src/ansys/dpf/core/operators/scoping/adapt_with_scopings_container.py
  src/ansys/dpf/core/operators/utility/ints_to_scoping.py
  src/ansys/dpf/core/runtime_config.py
  src/ansys/dpf/core/server.py
  src/ansys/dpf/core/server_factory.py
  src/ansys/dpf/core/server_types.py
  tests/test_remote_operator.py
  tests/test_remote_workflow.py
  tests/test_server.py
  tests/test_workflow.py
  tox.ini
Labels: maintenance, CI/CD

Key is h5dpf and not hdf5
  src/ansys/dpf/core/data_sources.py
  tests/test_datasources.py
Labels: none

added grpc mode to insecure
  .github/workflows/update_operators.yml
Labels: CI/CD

ci: fix update_operators with default grpc mode to insecure (#2842)
  .github/workflows/update_operators.yml
Labels: CI/CD

update generated code
  src/ansys/dpf/core/operators/averaging/force_summation.py
  src/ansys/dpf/core/operators/averaging/force_summation_psd.py
  src/ansys/dpf/core/operators/result/torque.py
  src/ansys/dpf/core/operators/scoping/adapt_with_scopings_container.py
  src/ansys/dpf/core/operators/utility/ints_to_scoping.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2843)
  src/ansys/dpf/core/operators/averaging/force_summation.py
  src/ansys/dpf/core/operators/averaging/force_summation_psd.py
  src/ansys/dpf/core/operators/result/torque.py
  src/ansys/dpf/core/operators/scoping/adapt_with_scopings_container.py
  src/ansys/dpf/core/operators/utility/ints_to_scoping.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

remove mesh on modal_coordinate
  examples/07-distributed-post/02-distributed-msup_expansion.py
Labels: documentation

remove mesh on modal_coordinate
  examples/07-distributed-post/02-distributed-msup_expansion.py
Labels: documentation

feat(hdf5): assign `.h5` files to `hdf5` key (#2838)
  src/ansys/dpf/core/data_sources.py
  tests/test_datasources.py
Labels: none

feat(datasources): add the `key` argument to DataSources() (#2839)
  src/ansys/dpf/core/data_sources.py
  tests/test_datasources.py
Labels: none

added insecure mode for cloning and testing post
  .github/workflows/pydpf-post.yml
Labels: CI/CD

Remove unused TYPE_CHECKING imports
  src/ansys/dpf/core/vtk_helper.py
Labels: none

Sort the label_space
  src/ansys/dpf/core/label_space.py
Labels: none

feat: expose `PropertyFieldsContainer` class properly (#2816)
  doc/source/conf.py
  src/ansys/dpf/core/__init__.py
  src/ansys/dpf/core/mapping_types.py
  src/ansys/dpf/core/operators/averaging/elemental_nodal_to_nodal_fc.py
  src/ansys/dpf/core/operators/build.py
  src/ansys/dpf/core/operators/logic/enrich_materials.py
  src/ansys/dpf/core/operators/logic/identical_pfc.py
  src/ansys/dpf/core/operators/result/mapdl_split_to_acmo_facet_indices.py
  src/ansys/dpf/core/operators/scoping/rescope_property_field.py
  src/ansys/dpf/core/operators/utility/extract_scoping.py
  src/ansys/dpf/core/operators/utility/merge_property_fields.py
  src/ansys/dpf/core/operators/utility/merge_weighted_fields_containers.py
  src/ansys/dpf/core/operators/utility/propertyfield_get_attribute.py
  src/ansys/dpf/core/property_fields_container.py
  tests/test_property_fields_container.py
Labels: documentation

ci: fix post clone and test step (#2845)
  .github/workflows/pydpf-post.yml
Labels: CI/CD
