Repository ansys/pydpf-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, CI/CD

update generated code
  src/ansys/dpf/core/operators/mesh/mesh_provider.py
  src/ansys/dpf/core/operators/mesh/meshes_provider.py
  src/ansys/dpf/core/operators/metadata/streams_provider.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_test_stream_provider_nullptr on main (#2799)
  src/ansys/dpf/core/operators/mesh/mesh_provider.py
  src/ansys/dpf/core/operators/mesh/meshes_provider.py
  src/ansys/dpf/core/operators/metadata/streams_provider.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Revert "Update generated code for DPF 261_test_stream_provider_nullptr on mai…"
  src/ansys/dpf/core/operators/mesh/mesh_provider.py
  src/ansys/dpf/core/operators/mesh/meshes_provider.py
  src/ansys/dpf/core/operators/metadata/streams_provider.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Revert "Update generated code for DPF 261_test_stream_provider_nullptr on main" (#2800)
  src/ansys/dpf/core/operators/mesh/mesh_provider.py
  src/ansys/dpf/core/operators/mesh/meshes_provider.py
  src/ansys/dpf/core/operators/metadata/streams_provider.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2801)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

attempt to set insecure for docker steps
  .github/workflows/examples_docker.yml
  .github/workflows/test_docker.yml
Labels: CI/CD

fix examples docker
  .github/workflows/examples_docker.yml
Labels: CI/CD

disable some docker tests
  tests/test_remote_workflow.py
Labels: none

Skip more tests in docker
  tests/test_remote_workflow.py
Labels: none

Skip some examples in docker
  .ci/run_examples.py
Labels: CI/CD

skip additional tests
  tests/test_remote_workflow.py
Labels: none

skip based on basename
  .ci/run_examples.py
Labels: CI/CD

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

doc(tuto): Create a mapping.on_coordinates tutorial
  doc/source/user_guide/index.rst
  doc/source/user_guide/tutorials/index.rst
  doc/source/user_guide/tutorials/mapping/index.rst
  doc/source/user_guide/tutorials/mapping/on_coordinates.rst
Labels: documentation

Ran code style checks
  .ci/run_examples.py
  src/ansys/dpf/core/cyberchannel.py
  src/ansys/dpf/core/runtime_config.py
  src/ansys/dpf/core/server.py
  src/ansys/dpf/core/server_factory.py
  src/ansys/dpf/core/server_types.py
  tests/test_server.py
Labels: CI/CD

update generated code
  src/ansys/dpf/core/operators/mesh/mesh_provider.py
  src/ansys/dpf/core/operators/mesh/meshes_provider.py
  src/ansys/dpf/core/operators/metadata/streams_provider.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

doc(contributing): add information about code style requirements and tools
  doc/source/getting_started/contribute/developer.rst
  doc/source/links.rst
Labels: documentation

Test default on ubuntu 22.04
  .github/workflows/pydpf-post.yml
Labels: CI/CD

update generated code
  src/ansys/dpf/core/operators/mesh/mesh_provider.py
  src/ansys/dpf/core/operators/mesh/meshes_provider.py
  src/ansys/dpf/core/operators/metadata/streams_provider.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2806)
  src/ansys/dpf/core/operators/mesh/mesh_provider.py
  src/ansys/dpf/core/operators/mesh/meshes_provider.py
  src/ansys/dpf/core/operators/metadata/streams_provider.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

disable additional example
  .ci/run_examples.py
Labels: CI/CD

disable additional example
  .ci/run_examples.py
Labels: CI/CD

update generated code
  src/ansys/dpf/core/operators/result/coordinate_system.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Fix build wheel platform detection
  .github/workflows/pydpf-post.yml
Labels: CI/CD

ci(post): fix platform detection in pydpf-post test pipeline
  .github/workflows/pydpf-post.yml
Labels: CI/CD

disable additional example on docker
  .ci/run_examples.py
Labels: CI/CD

disable remote operator tests in docker
  tests/test_remote_operator.py
Labels: none

ci(post): refactor the pydpf-post branch selection logic
  .github/workflows/pydpf-post.yml
Labels: CI/CD

Test latest pydpf-post in ci_release.yml
  .github/workflows/ci_release.yml
Labels: CI/CD

Update generated code for DPF 261_daily on main (#2810)
  src/ansys/dpf/core/operators/result/coordinate_system.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

disable remote workflow tests in test_workflow
  tests/test_workflow.py
Labels: none

disable additional example
  .ci/run_examples.py
Labels: CI/CD

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

formatted
  .ci/run_examples.py
Labels: CI/CD

feat: expose `PropertyFieldsContainer` class properly
  src/ansys/dpf/core/__init__.py
  src/ansys/dpf/core/property_fields_container.py
  src/ansys/dpf/gate/collection_grpcapi.py
Labels: none

test: comment out new grpc method
  src/ansys/dpf/gate/collection_grpcapi.py
Labels: none

test: reorder
  src/ansys/dpf/core/property_fields_container.py
Labels: none

feat: implement review suggestion and add tests
  src/ansys/dpf/core/__init__.py
  src/ansys/dpf/core/property_fields_container.py
  src/ansys/dpf/gate/collection_grpcapi.py
  tests/test_property_fields_container.py
Labels: none

feat: remove commented code
  src/ansys/dpf/core/property_fields_container.py
Labels: none

.github/labeler.yml:

documentation:
- doc/source/**/*
- examples/**/*
maintenance:
- .flake8
- CODE_OF_CONDUCT.md
- LICENSE
- README.md
- codecov.yml
- ignore_words.txt
- setup.py
dependencies:
- setup.py
- requirements/*
CI/CD:
- docker/**/*
- .github/**/*
- .ci/**/*
