Repository ansys/pydpf-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, CI/CD

Fix test raise condition
  tests/test_any.py
Labels: none

refactor: remove space in typehint
  src/ansys/dpf/core/workflow.py
Labels: none

refactor: remove space in typehint
  src/ansys/dpf/core/workflow.py
Labels: none

refactor: remove space in typehint
  src/ansys/dpf/core/workflow.py
Labels: none

Fix skip criterion
  tests/test_any.py
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

ci: use repository variables for retro testing matrices (#2517)
  .github/workflows/ci.yml
  .github/workflows/ci_release.yml
Labels: CI/CD

Support PropertyField location after server changes (#2322)
  src/ansys/dpf/core/custom_type_field.py
  src/ansys/dpf/core/field.py
  src/ansys/dpf/core/field_base.py
  src/ansys/dpf/core/fields_factory.py
  src/ansys/dpf/core/property_field.py
  src/ansys/dpf/core/string_field.py
  src/ansys/dpf/gate/property_field_grpcapi.py
Labels: none

fix(any): fix cast of Any to DataSources (#2487)
  src/ansys/dpf/core/any.py
  src/ansys/dpf/gate/any_grpcapi.py
  tests/test_any.py
Labels: none

refactor: revert typed dict use
  src/ansys/dpf/core/workflow.py
Labels: none

Update generated code for DPF 261_daily on main (#2518)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Fix call to settattr, switch to pv.set_new_attribute
  src/ansys/dpf/core/vtk_helper.py
Labels: none

Fix _sort_supported_kwargs to work with new pyvista positional arguments decorator
  src/ansys/dpf/core/helpers/utils.py
Labels: none

Add plot_mesh_scopings.rst tutorial
  doc/source/user_guide/tutorials/plot/plot_mesh_scopings.rst
Labels: documentation

Add plot_mesh_scopings.rst tutorial to index
  doc/source/user_guide/tutorials/plot/index.rst
Labels: documentation

Fix tutorial
  doc/source/user_guide/tutorials/plot/plot_mesh_scopings.rst
Labels: documentation

Improve the tutorial
  doc/source/user_guide/tutorials/plot/plot_mesh_scopings.rst
Labels: documentation

Fix imports
  doc/source/user_guide/tutorials/plot/plot_mesh_scopings.rst
Labels: documentation

Delete doc/source/operators_doc/core-concepts/dpf-types.md
  doc/source/operators_doc/core-concepts/dpf-types.md
Labels: documentation

doc(operators): remove links to undefined types in operator doc template (#2523)
  doc/source/operators_doc/operator-specifications/operator_doc_template.md
Labels: documentation

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update compatibility.rst
  doc/source/getting_started/compatibility.rst
Labels: documentation

Update compatibility.rst for 26 R1 pre0 (#2525)
  doc/source/getting_started/compatibility.rst
Labels: documentation

Show mesh in first two plots
  doc/source/user_guide/tutorials/plot/plot_mesh_scopings.rst
Labels: documentation

Change ref to add_scoping
  doc/source/user_guide/tutorials/plot/plot_mesh_scopings.rst
Labels: documentation

Add behavior explanations
  doc/source/user_guide/tutorials/plot/plot_mesh_scopings.rst
Labels: documentation

doc(tutorials): Add plot_mesh_scopings.rst tutorial (#2521)
  doc/source/user_guide/tutorials/plot/index.rst
  doc/source/user_guide/tutorials/plot/plot_mesh_scopings.rst
Labels: documentation

Update generated code for DPF 261.pre0 on main (#2524)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

refactor: remove typed dict from imports
  src/ansys/dpf/core/workflow.py
Labels: none

fix(doctest): fix retro-compatibility of `PropertyField.scoping` docstring example
  src/ansys/dpf/core/property_field.py
Labels: none

fix(doctest): fix retro-compatibility of `PropertyField.scoping` docstring example (#2527)
  src/ansys/dpf/core/property_field.py
Labels: none

test(any): fix skip criterion for test_cast_data_sources_any
  tests/test_any.py
Labels: none

style: change style to conform ruff formatter
  src/ansys/dpf/core/workflow.py
Labels: none

test(any): fix skip criterion for test_cast_data_sources_any (#2528)
  tests/test_any.py
Labels: none

ci(doc): Switch doc-deploy-pr to a dedicated workflow
  .github/workflows/ci.yml
  .github/workflows/doc-deploy-pr.yml
Labels: CI/CD

fix(tutorials): fix data_arrays.rst tutorial for 25R2 and older
  doc/source/user_guide/tutorials/data_structures/data_arrays.rst
Labels: documentation

update generated code
  src/ansys/dpf/core/operators/scoping/adapt_with_scopings_container.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/core/operators/result/__init__.py
  src/ansys/dpf/core/operators/result/nodal_rotational_acceleration.py
  src/ansys/dpf/core/operators/result/nodal_rotational_acceleration_X.py
  src/ansys/dpf/core/operators/result/nodal_rotational_acceleration_Y.py
  src/ansys/dpf/core/operators/result/nodal_rotational_acceleration_Z.py
  src/ansys/dpf/core/operators/result/nodal_rotational_velocity.py
  src/ansys/dpf/core/operators/result/nodal_rotational_velocity_X.py
  src/ansys/dpf/core/operators/result/nodal_rotational_velocity_Y.py
  src/ansys/dpf/core/operators/result/nodal_rotational_velocity_Z.py
  src/ansys/dpf/core/operators/result/nodal_rotations.py
  src/ansys/dpf/core/operators/result/nodal_rotations_X.py
  src/ansys/dpf/core/operators/result/nodal_rotations_Y.py
  src/ansys/dpf/core/operators/result/nodal_rotations_Z.py
  src/ansys/dpf/core/operators/scoping/adapt_with_scopings_container.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

fix(tutorials): fix data_arrays.rst tutorial for 25R2 and older (#2530)
  doc/source/user_guide/tutorials/data_structures/data_arrays.rst
Labels: documentation

ci(doc): Switch doc-deploy-pr to a dedicated workflow (#2529)
  .github/workflows/ci.yml
  .github/workflows/doc-deploy-pr.yml
Labels: CI/CD

.github/labeler.yml:

documentation:
- doc/source/**/*
- examples/**/*
maintenance:
- .flake8
- CODE_OF_CONDUCT.md
- LICENSE
- README.md
- codecov.yml
- ignore_words.txt
- setup.py
dependencies:
- setup.py
- requirements/*
CI/CD:
- docker/**/*
- .github/**/*
- .ci/**/*
