Repository ansys/pydpf-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- doc/source/**/*
- examples/**/*
maintenance:
- .flake8
- CODE_OF_CONDUCT.md
- LICENSE
- README.md
- codecov.yml
- ignore_words.txt
- setup.py
dependencies:
- setup.py
- requirements/*
CI/CD:
- docker/**/*
- .github/**/*
- .ci/**/*

Modifying examples
  src/ansys/dpf/core/property_field.py
Labels: none

Modify test for new fluid variables
  tests/test_resultinfo.py
Labels: none

Disable CFF test (temporary)
  tests/test_resultinfo.py
Labels: none

Fix CSS of Footers and styling of "Coming soon" notes on cards
  doc/source/user_guide/tutorials/custom_operators_and_plugins/index.rst
  doc/source/user_guide/tutorials/index.rst
Labels: documentation

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Modification
  tests/test_resultinfo.py
Labels: none

Disable CFF test (temporary) (#2469)
  tests/test_resultinfo.py
Labels: none

Fix size of hidden link text
  doc/source/_static/custom.css
Labels: documentation

doc(tutorials): allow version requirement for tutorials (#2463)
  doc/source/_static/custom.css
  doc/source/conf.py
  doc/source/user_guide/tutorials/custom_operators_and_plugins/custom_operators.rst
  doc/source/user_guide/tutorials/custom_operators_and_plugins/index.rst
  doc/source/user_guide/tutorials/index.rst
  doc/sphinx_utilities/version_filtering.py
  src/ansys/dpf/core/examples/examples.py
Labels: documentation

Make custom_operators.rst tutorial compatible with DPF 25R2
  doc/source/user_guide/tutorials/custom_operators_and_plugins/custom_operators.rst
  doc/source/user_guide/tutorials/custom_operators_and_plugins/index.rst
  src/ansys/dpf/core/examples/python_plugins/custom_operator_example.py
Labels: documentation

Add reference to the index.rst page for the API reference section
  doc/source/api/index.rst
Labels: documentation

Adapt tutorial sections cards in the index.rst page
  doc/source/user_guide/tutorials/index.rst
Labels: documentation

Delete "Language and usage" and "manipulate physics data" tutorial sections
  doc/source/user_guide/tutorials/index.rst
  doc/source/user_guide/tutorials/language_and_usage/index.rst
  doc/source/user_guide/tutorials/manipulate_physics_data/index.rst
Labels: documentation

Revert "Rework the tutorials sections"
  doc/source/user_guide/tutorials/index.rst
Labels: documentation

Revert "Remove the "manipulate physics data" tutorial section"
  doc/source/user_guide/tutorials/index.rst
  doc/source/user_guide/tutorials/manipulate_physics_data/index.rst
Labels: documentation

Revert "Remove the "language and usage" tutorial section"
  doc/source/user_guide/tutorials/index.rst
  doc/source/user_guide/tutorials/language_and_usage/index.rst
Labels: documentation

Add data array tutorial on the section index page
  doc/source/user_guide/tutorials/data_structures/index.rst
Labels: documentation

fix(example): fix retro with 25R1 and below for 00-basic_plotting.py
  examples/06-plotting/00-basic_plotting.py
Labels: documentation

fix(example): fix retro with 25R1 and below for 00-basic_plotting.py (#2473)
  examples/06-plotting/00-basic_plotting.py
Labels: documentation

fix(doctest): fix the ScopingsContainer.plot docstring example
  src/ansys/dpf/core/scopings_container.py
Labels: none

fix(doctest): fix the ScopingsContainer.plot docstring example (#2474)
  src/ansys/dpf/core/scopings_container.py
Labels: none

tuto(custom): custom operators tutorial supports older DPF versions (#2472)
  doc/source/user_guide/tutorials/custom_operators_and_plugins/custom_operators.rst
  doc/source/user_guide/tutorials/custom_operators_and_plugins/index.rst
  src/ansys/dpf/core/examples/python_plugins/custom_operator_example.py
Labels: documentation

Mark version requirement for basic math tutorial
  doc/source/user_guide/tutorials/mathematics/basic_maths.rst
  doc/source/user_guide/tutorials/mathematics/index.rst
Labels: documentation

fix(example): update version requirements for examples
  examples/04-advanced/14-incremental_evaluation.py
  examples/05-file-IO/00-hdf5_double_float_comparison.py
  examples/05-file-IO/01-reduced_matrices_export.py
  examples/08-python-operators/00-wrapping_numpy_capabilities.py
  examples/08-python-operators/01-package_python_operators.py
  examples/08-python-operators/02-python_operators_with_dependencies.py
  examples/14-lsdyna/01-lsdyna_beam.py
  examples/16-maths-ops/01-matrix-operations.py
Labels: documentation

fix(example): update version requirements for examples (#2475)
  examples/04-advanced/14-incremental_evaluation.py
  examples/05-file-IO/00-hdf5_double_float_comparison.py
  examples/05-file-IO/01-reduced_matrices_export.py
  examples/08-python-operators/00-wrapping_numpy_capabilities.py
  examples/08-python-operators/01-package_python_operators.py
  examples/08-python-operators/02-python_operators_with_dependencies.py
  examples/14-lsdyna/01-lsdyna_beam.py
  examples/16-maths-ops/01-matrix-operations.py
Labels: documentation

fix(doctest): fix doctests for plots of scopings
  src/ansys/dpf/core/plotter.py
  src/ansys/dpf/core/scoping.py
Labels: none

fix(doctest): fix doctests for plots of scopings (#2476)
  src/ansys/dpf/core/plotter.py
  src/ansys/dpf/core/scoping.py
Labels: none

fix(doctest): fix doctests for plots
  src/ansys/dpf/core/field.py
  src/ansys/dpf/core/meshed_region.py
  src/ansys/dpf/core/meshes_container.py
  src/ansys/dpf/core/model.py
Labels: none

fix docstring trigger in ci.yml
  .github/workflows/ci.yml
Labels: CI/CD

Mark tutorials requiring 251
  doc/source/user_guide/tutorials/mesh/explore_mesh_metadata.rst
  doc/source/user_guide/tutorials/mesh/index.rst
Labels: documentation

Update title in the index.rst page of the meshes tutorial section
  doc/source/user_guide/tutorials/mesh/index.rst
Labels: documentation

Correct references in tutorials
  doc/source/links_and_refs.rst
  doc/source/user_guide/tutorials/import_data/narrow_down_data.rst
  doc/source/user_guide/tutorials/mesh/explore_mesh.rst
  doc/source/user_guide/tutorials/mesh/explore_mesh_metadata.rst
  doc/source/user_guide/tutorials/mesh/extract_mesh_in_split_parts.rst
  doc/source/user_guide/tutorials/mesh/split_mesh.rst
Labels: documentation

Correct titles underlines
  doc/source/user_guide/tutorials/custom_operators_and_plugins/custom_plug_in_package_third_deps.rst
  doc/source/user_guide/tutorials/mesh/extract_mesh_in_split_parts.rst
Labels: documentation

Delete "transform data " section as we have the "math operations" and "processing data with operators and workflows" sections
  doc/source/user_guide/tutorials/transform_data/index.rst
Labels: documentation

fix(ci): reactivate and fix doctests in ci.yml (#2478)
  .github/workflows/ci.yml
  src/ansys/dpf/core/field.py
  src/ansys/dpf/core/meshed_region.py
  src/ansys/dpf/core/meshes_container.py
  src/ansys/dpf/core/model.py
Labels: CI/CD

WIP
  doc/source/user_guide/tutorials/data_structures/data_arrays.rst
Labels: documentation

Fix DPF version requirement for custom_operators.rst
  doc/source/user_guide/tutorials/custom_operators_and_plugins/custom_operators.rst
  doc/source/user_guide/tutorials/custom_operators_and_plugins/index.rst
Labels: documentation

Mark tutorial on collections as coming soon
  doc/source/user_guide/tutorials/data_structures/index.rst
Labels: documentation

Update the Model description
  doc/source/user_guide/tutorials/import_data/import_result_file.rst
  doc/source/user_guide/tutorials/post_processing_basics/01-main-steps.rst
Labels: documentation

Update the introduction
  doc/source/user_guide/tutorials/data_structures/data_arrays.rst
Labels: documentation
