Repository ansys/pydpf-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, CI/CD

Add download button to data_arrays.rst tutorial
  doc/source/user_guide/tutorials/data_structures/data_arrays.rst
Labels: documentation

Use the jupyter-execute directive in 01-main-steps.rst turorial
  doc/source/user_guide/tutorials/post_processing_basics/01-main-steps.rst
Labels: documentation

Correct download buttons on 01-main-steps.rst and load_custom_data.rst tutorials
  doc/source/user_guide/tutorials/import_data/load_custom_data.rst
  doc/source/user_guide/tutorials/post_processing_basics/01-main-steps.rst
Labels: documentation

Test with pyvista==0.45.0
  requirements/requirements_docs.txt
Labels: dependencies

Correct api section reference in tutorials index.rst page
  doc/source/api/index.rst
  doc/source/user_guide/tutorials/index.rst
Labels: documentation

Correct text on data_arrays.rst
  doc/source/user_guide/tutorials/data_structures/data_arrays.rst
Labels: documentation

Try pyvista==0.45.3 and vtk==9.5.0
  requirements/requirements_docs.txt
Labels: dependencies

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Update doc/source/user_guide/tutorials/data_structures/data_arrays.rst
  doc/source/user_guide/tutorials/data_structures/data_arrays.rst
Labels: documentation

Try pyvista 0.44.2 and vtk 9.3.1
  requirements/requirements_docs.txt
Labels: dependencies

Update generated code for DPF 261_daily on main (#2492)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Fix for LegacyGrpc
  src/ansys/dpf/gate/any_grpcapi.py
Labels: none

Fix version requirement
  tests/test_any.py
Labels: none

Correct card of the "Custom operators" tutorial on the index.rst page of the "Custom Operators and Plugins" tutorial section
  doc/source/user_guide/tutorials/custom_operators_and_plugins/index.rst
Labels: documentation

Modify test for internal fluid variables (#2468)
  tests/test_resultinfo.py
Labels: none

update generated code
  src/ansys/dpf/core/operators/mesh/from_scoping.py
  src/ansys/dpf/gate/generated/capi.py
  src/ansys/dpf/gate/generated/property_field_abstract_api.py
  src/ansys/dpf/gate/generated/property_field_capi.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

update generated code
  src/ansys/dpf/core/operators/result/__init__.py
  src/ansys/dpf/core/operators/result/nodal_rotational_acceleration.py
  src/ansys/dpf/core/operators/result/nodal_rotational_acceleration_X.py
  src/ansys/dpf/core/operators/result/nodal_rotational_acceleration_Y.py
  src/ansys/dpf/core/operators/result/nodal_rotational_acceleration_Z.py
  src/ansys/dpf/core/operators/result/nodal_rotational_velocity.py
  src/ansys/dpf/core/operators/result/nodal_rotational_velocity_X.py
  src/ansys/dpf/core/operators/result/nodal_rotational_velocity_Y.py
  src/ansys/dpf/core/operators/result/nodal_rotational_velocity_Z.py
  src/ansys/dpf/core/operators/result/nodal_rotations.py
  src/ansys/dpf/core/operators/result/nodal_rotations_X.py
  src/ansys/dpf/core/operators/result/nodal_rotations_Y.py
  src/ansys/dpf/core/operators/result/nodal_rotations_Z.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

update generated code
  src/ansys/dpf/core/operators/utility/__init__.py
  src/ansys/dpf/core/operators/utility/customtypefield_get_attribute.py
  src/ansys/dpf/core/operators/utility/customtypefield_set_property.py
  src/ansys/dpf/core/operators/utility/field_get_attribute.py
  src/ansys/dpf/core/operators/utility/field_set_property.py
  src/ansys/dpf/core/operators/utility/propertyfield_get_attribute.py
  src/ansys/dpf/core/operators/utility/propertyfield_set_property.py
  src/ansys/dpf/core/operators/utility/set_property.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Update generated code for DPF 261_daily on main (#2497)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

register beam results in the result properties dict
  src/ansys/dpf/core/available_result.py
Labels: none

update generated code
  src/ansys/dpf/core/operators/mesh/from_scoping.py
  src/ansys/dpf/gate/generated/capi.py
  src/ansys/dpf/gate/generated/property_field_abstract_api.py
  src/ansys/dpf/gate/generated/property_field_capi.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Register beam results in the result properties dict (#2499)
  src/ansys/dpf/core/available_result.py
Labels: none

update generated code
  src/ansys/dpf/core/operators/mesh/from_scoping.py
  src/ansys/dpf/core/operators/utility/__init__.py
  src/ansys/dpf/core/operators/utility/customtypefield_get_attribute.py
  src/ansys/dpf/core/operators/utility/customtypefield_set_property.py
  src/ansys/dpf/core/operators/utility/field_get_attribute.py
  src/ansys/dpf/core/operators/utility/propertyfield_get_attribute.py
  src/ansys/dpf/core/operators/utility/propertyfield_set_property.py
  src/ansys/dpf/core/operators/utility/set_property.py
  src/ansys/dpf/gate/generated/capi.py
  src/ansys/dpf/gate/generated/property_field_abstract_api.py
  src/ansys/dpf/gate/generated/property_field_capi.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Update generated code for DPF 261_daily on main (#2500)
  src/ansys/dpf/core/operators/mesh/from_scoping.py
  src/ansys/dpf/gate/generated/capi.py
  src/ansys/dpf/gate/generated/property_field_abstract_api.py
  src/ansys/dpf/gate/generated/property_field_capi.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Adding API to create Property Field with location
  src/ansys/dpf/core/property_field.py
  src/ansys/dpf/gate/generated/property_field_abstract_api.py
  src/ansys/dpf/gate/generated/property_field_capi.py
Labels: none

Supporting versions in property field
  src/ansys/dpf/core/custom_type_field.py
  src/ansys/dpf/core/field.py
  src/ansys/dpf/core/field_base.py
  src/ansys/dpf/core/fields_factory.py
  src/ansys/dpf/core/property_field.py
  src/ansys/dpf/core/string_field.py
  src/ansys/dpf/gate/generated/property_field_abstract_api.py
  src/ansys/dpf/gate/generated/property_field_capi.py
Labels: none

update generated code
  src/ansys/dpf/gate/generated/property_field_abstract_api.py
  src/ansys/dpf/gate/generated/property_field_capi.py
Labels: none

Updating non-generated-grpc code and issue with FieldDef
  src/ansys/dpf/core/property_field.py
  src/ansys/dpf/gate/property_field_grpcapi.py
Labels: none

Adding check for plugin cases
  src/ansys/dpf/core/property_field.py
Labels: none

Modifying examples
  src/ansys/dpf/core/property_field.py
Labels: none

Attempt to fix
  src/ansys/dpf/core/field.py
Labels: none

update generated code
  src/ansys/dpf/gate/generated/property_field_abstract_api.py
  src/ansys/dpf/gate/generated/property_field_capi.py
Labels: none

Add return
  src/ansys/dpf/core/property_field.py
Labels: none

self
  src/ansys/dpf/core/property_field.py
Labels: none

update generated code
  src/ansys/dpf/core/operators/result/__init__.py
  src/ansys/dpf/core/operators/result/gasket_deformation.py
  src/ansys/dpf/core/operators/result/gasket_deformation_X.py
  src/ansys/dpf/core/operators/result/gasket_deformation_XY.py
  src/ansys/dpf/core/operators/result/gasket_deformation_XZ.py
  src/ansys/dpf/core/operators/result/gasket_total_closure.py
  src/ansys/dpf/core/operators/result/gasket_total_closure_X.py
  src/ansys/dpf/core/operators/result/gasket_total_closure_XY.py
  src/ansys/dpf/core/operators/result/gasket_total_closure_XZ.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Fixing issue of rebase
  src/ansys/dpf/gate/generated/property_field_abstract_api.py
Labels: none

update generated code
  src/ansys/dpf/core/operators/result/__init__.py
  src/ansys/dpf/core/operators/result/gasket_deformation.py
  src/ansys/dpf/core/operators/result/gasket_deformation_X.py
  src/ansys/dpf/core/operators/result/gasket_deformation_XY.py
  src/ansys/dpf/core/operators/result/gasket_deformation_XZ.py
  src/ansys/dpf/core/operators/result/gasket_total_closure.py
  src/ansys/dpf/core/operators/result/gasket_total_closure_X.py
  src/ansys/dpf/core/operators/result/gasket_total_closure_XY.py
  src/ansys/dpf/core/operators/result/gasket_total_closure_XZ.py
  src/ansys/dpf/core/operators/utility/customtypefield_get_attribute.py
  src/ansys/dpf/core/operators/utility/field_get_attribute.py
  src/ansys/dpf/core/operators/utility/propertyfield_get_attribute.py
  src/ansys/dpf/core/operators/utility/set_property.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Fixing issues with rebase
  src/ansys/dpf/gate/generated/property_field_abstract_api.py
  src/ansys/dpf/gate/generated/property_field_capi.py
Labels: none

Implementing comment from verifier
  src/ansys/dpf/core/property_field.py
Labels: none

.github/labeler.yml:

documentation:
- doc/source/**/*
- examples/**/*
maintenance:
- .flake8
- CODE_OF_CONDUCT.md
- LICENSE
- README.md
- codecov.yml
- ignore_words.txt
- setup.py
dependencies:
- setup.py
- requirements/*
CI/CD:
- docker/**/*
- .github/**/*
- .ci/**/*
