Repository ansys/pydpf-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, CI/CD

fix: codestyle
  src/ansys/dpf/core/inputs.py
  src/ansys/dpf/core/outputs.py
Labels: none

fix: docstring
  src/ansys/dpf/core/operators/build.py
Labels: none

feat: updated version of template and build script
  src/ansys/dpf/core/operators/build.py
  src/ansys/dpf/core/operators/operator.mustache
Labels: none

feat: clean up build script
  src/ansys/dpf/core/operators/build.py
Labels: none

fix: comment
  src/ansys/dpf/core/operators/build.py
Labels: none

update generated code
  src/ansys/dpf/core/operators/__init__.py
  src/ansys/dpf/core/operators/info/__init__.py
  src/ansys/dpf/core/operators/info/markdown_latex_example.py
  src/ansys/dpf/core/operators/result/__init__.py
  src/ansys/dpf/core/operators/result/layer_orientation_provider.py
Labels: none

Update generated code for DPF 261 on feat/improve-typing-of-operators (#2738)
  src/ansys/dpf/core/operators/__init__.py
  src/ansys/dpf/core/operators/info/__init__.py
  src/ansys/dpf/core/operators/info/markdown_latex_example.py
  src/ansys/dpf/core/operators/result/__init__.py
  src/ansys/dpf/core/operators/result/layer_orientation_provider.py
Labels: none

update generated code
  src/ansys/dpf/core/operators/result/PL2.py
  src/ansys/dpf/core/operators/result/__init__.py
  src/ansys/dpf/core/operators/result/acoustic_energy_density.py
  src/ansys/dpf/core/operators/result/element_centroids.py
  src/ansys/dpf/core/operators/result/input_sound_power.py
  src/ansys/dpf/core/operators/result/output_sound_power.py
  src/ansys/dpf/gate/generated/.gitignore
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

ci(doc): add a documentation contribution guide
  .github/.copilot/DOC_CONTRIBUTION_GUIDE.md
Labels: CI/CD

doc(tuto): DPF collections tutorial
  doc/source/user_guide/tutorials/data_structures/collections.rst
  doc/source/user_guide/tutorials/data_structures/index.rst
Labels: documentation

Update doc/source/user_guide/tutorials/data_structures/collections.rst
  doc/source/user_guide/tutorials/data_structures/collections.rst
Labels: documentation

Update doc/source/user_guide/tutorials/data_structures/collections.rst
  doc/source/user_guide/tutorials/data_structures/collections.rst
Labels: documentation

Bump to 0.13.9.dev0 (#2297)
  pyproject.toml
Labels: none

Move CI to 26R1 (#2299)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/examples.yml
  .github/workflows/examples_docker.yml
  .github/workflows/pydpf-post.yml
  .github/workflows/test_docker.yml
  .github/workflows/tests.yml
  .github/workflows/update_operators.yml
Labels: CI/CD

Support Beam3 in ElementDescriptor (#2301)
  src/ansys/dpf/core/elements.py
  tests/test_elements.py
Labels: none

update generated code (#2302)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/_version.py
  src/ansys/dpf/gatebin/libDPFClientAPI.so
  src/ansys/grpc/dpf/_version.py
Labels: none

Update bug.yml (#2303)
  .github/ISSUE_TEMPLATE/bug.yml
Labels: CI/CD

ci: fix usage of repository variable as workflow input (#2305)
  .github/workflows/ci.yml
  .github/workflows/ci_release.yml
  .github/workflows/docs.yml
  .github/workflows/examples.yml
  .github/workflows/examples_docker.yml
  .github/workflows/pydpf-post.yml
  .github/workflows/test_docker.yml
  .github/workflows/tests.yml
  .github/workflows/update_operators.yml
Labels: CI/CD

Update generated code for DPF 261_daily on master (#2306)
  src/ansys/dpf/core/operators/utility/__init__.py
  src/ansys/dpf/core/operators/utility/operator_changelog.py
  src/ansys/dpf/gate/__init__.py
  src/ansys/dpf/gate/generated/capi.py
  src/ansys/dpf/gate/generated/operator_specification_abstract_api.py
  src/ansys/dpf/gate/generated/operator_specification_capi.py
  src/ansys/dpf/gate/generated/semantic_version_abstract_api.py
  src/ansys/dpf/gate/generated/semantic_version_capi.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
  src/ansys/grpc/dpf/base_pb2.py
  src/ansys/grpc/dpf/operator_pb2.py
Labels: none

Fix update_operators.yml version management (#2312)
  .github/workflows/update_operators.yml
Labels: CI/CD

fix(dependencies): Remove upper limit on imageio in pyproject.toml (#2310)
  pyproject.toml
Labels: none

ci: add py313 to release pipeline (#2269)
  .github/workflows/ci_release.yml
  .github/workflows/tests.yml
  tox.ini
Labels: CI/CD

Bump ansys-sphinx-theme==1.4.4 doc dependency (#2289)
  requirements/requirements_docs.txt
Labels: dependencies

Update generated code for DPF 261_daily on master (#2317)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Update generated code for DPF 261_daily on master (#2320)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Update generated code for DPF 261_daily on master (#2321)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

ci(workflow): optimize syntax (#2292)
  .github/workflows/ci.yml
  .github/workflows/ci_release.yml
  .github/workflows/tests.yml
Labels: CI/CD

Update generated code for DPF 261_daily on master (#2323)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Update generated code for DPF 261_daily on master (#2329)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

examples(lsdyna): fix contact force legend (#2280)
  examples/14-lsdyna/00-lsdyna_operators.py
Labels: documentation

feat(framework): expose operator changelog (#2324)
  src/ansys/dpf/core/changelog.py
  src/ansys/dpf/core/custom_operator.py
  src/ansys/dpf/core/dpf_operator.py
  src/ansys/dpf/core/operator_specification.py
  src/ansys/dpf/gate/operator_specification_grpcapi.py
  tests/conftest.py
  tests/test_changelog.py
  tests/test_operator.py
  tests/test_python_plugins.py
  tests/testfiles/pythonPlugins/operator_with_changelog.py
Labels: none

ci(tests): Add parallel_show_output=True to test environments in tox.ini (#2328)
  tox.ini
Labels: none

Feature: allow setting named dimensionless units in a Field (#2295)
  src/ansys/dpf/core/field.py
  src/ansys/dpf/core/field_definition.py
  tests/test_field.py
Labels: none

Update generated code for DPF 261_daily on master (#2334)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
  src/ansys/grpc/dpf/available_result_pb2.py
  src/ansys/grpc/dpf/field_definition_pb2.py
Labels: none

ci(doc): upload PR documentation for review (#2341)
  .github/workflows/ci.yml
Labels: CI/CD

Update generated code for DPF 261_daily on master (#2347)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

fix(framework): support for list of float, list of int, and list of string as operator input (#2340)
  src/ansys/dpf/core/dpf_operator.py
  src/ansys/dpf/core/inputs.py
  src/ansys/dpf/core/mapping_types.py
Labels: none

fix(animation): fix mesh deformation for mode shape animation (#1696)
  examples/02-modal_analyses/01-plot_and_animate_modes.py
  src/ansys/dpf/core/animation.py
  src/ansys/dpf/core/animator.py
Labels: documentation

Supporting Heterogeneous operating system file path of results file (#2337)
  src/ansys/dpf/core/data_sources.py
  src/ansys/dpf/core/model.py
Labels: none

fix(animation): add mode number and frequency value with unit in mode animations (#1700)
  src/ansys/dpf/core/animation.py
  src/ansys/dpf/core/animator.py
Labels: none

.github/labeler.yml:

documentation:
- doc/source/**/*
- examples/**/*
maintenance:
- .flake8
- CODE_OF_CONDUCT.md
- LICENSE
- README.md
- codecov.yml
- ignore_words.txt
- setup.py
dependencies:
- setup.py
- requirements/*
CI/CD:
- docker/**/*
- .github/**/*
- .ci/**/*
