Repository ansys/pydpf-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, CI/CD

fix(any): fix cast of Any to DataSources (#2487)
  src/ansys/dpf/core/any.py
  src/ansys/dpf/gate/any_grpcapi.py
  tests/test_any.py
Labels: none

Update generated code for DPF 261_daily on main (#2518)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

doc(tutorials): Add plot_mesh_scopings.rst tutorial (#2521)
  doc/source/user_guide/tutorials/plot/index.rst
  doc/source/user_guide/tutorials/plot/plot_mesh_scopings.rst
Labels: documentation

Update generated code for DPF 261.pre0 on main (#2524)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

doc(operators): remove links to undefined types in operator doc template (#2523)
  doc/source/operators_doc/operator-specifications/operator_doc_template.md
Labels: documentation

Update compatibility.rst for 26 R1 pre0 (#2525)
  doc/source/getting_started/compatibility.rst
Labels: documentation

fix(tutorials): fix data_arrays.rst tutorial for 25R2 and older (#2530)
  doc/source/user_guide/tutorials/data_structures/data_arrays.rst
Labels: documentation

fix(doctest): fix retro-compatibility of `PropertyField.scoping` docstring example (#2527)
  src/ansys/dpf/core/property_field.py
Labels: none

test(any): fix skip criterion for test_cast_data_sources_any (#2528)
  tests/test_any.py
Labels: none

ci(doc): Switch doc-deploy-pr to a dedicated workflow (#2529)
  .github/workflows/ci.yml
  .github/workflows/doc-deploy-pr.yml
Labels: CI/CD

ci: update deploy_pr_doc logic (#2536)
  .github/workflows/doc-deploy-pr.yml
Labels: CI/CD

Update generated code for DPF 261_daily on main (#2526)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

ci(operators): minor updates to generate_operators_doc.py (#2540)
  .ci/generate_operators_doc.py
Labels: CI/CD

docs: Update ``CONTRIBUTORS.md`` with the latest contributors (#2544)
  CONTRIBUTORS.md
Labels: none

fix(retro): fix retro-compatibility with pyvista<0.46.0 (#2539)
  src/ansys/dpf/core/vtk_helper.py
Labels: none

Fix test after addition of Rotation result (#2542)
  examples/05-file-IO/02-hdf5_serialize_and_read.py
Labels: documentation

bump to 0.14.2.dev0 (#2541)
  pyproject.toml
Labels: none

chore: remove all deprecated calls in pydpf-core (#2551)
  pytest.ini
  src/ansys/dpf/core/examples/downloads.py
  src/ansys/dpf/core/model.py
Labels: none

Update generated code for DPF 261_daily on main (#2538)
  src/ansys/dpf/core/operators/compression/__init__.py
  src/ansys/dpf/core/operators/compression/quantization.py
  src/ansys/dpf/core/operators/compression/quantization_fc.py
  src/ansys/dpf/core/operators/mapping/on_coordinates.py
  src/ansys/dpf/core/operators/result/__init__.py
  src/ansys/dpf/core/operators/result/nodal_rotational_acceleration.py
  src/ansys/dpf/core/operators/result/nodal_rotational_acceleration_X.py
  src/ansys/dpf/core/operators/result/nodal_rotational_acceleration_Y.py
  src/ansys/dpf/core/operators/result/nodal_rotational_acceleration_Z.py
  src/ansys/dpf/core/operators/result/nodal_rotational_velocity.py
  src/ansys/dpf/core/operators/result/nodal_rotational_velocity_X.py
  src/ansys/dpf/core/operators/result/nodal_rotational_velocity_Y.py
  src/ansys/dpf/core/operators/result/nodal_rotational_velocity_Z.py
  src/ansys/dpf/core/operators/result/nodal_rotations.py
  src/ansys/dpf/core/operators/result/nodal_rotations_X.py
  src/ansys/dpf/core/operators/result/nodal_rotations_Y.py
  src/ansys/dpf/core/operators/result/nodal_rotations_Z.py
  src/ansys/dpf/core/operators/result/recombine_harmonic_indeces_cyclic.py
  src/ansys/dpf/core/operators/scoping/adapt_with_scopings_container.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

maint: Add a SECURITY.md file (#2554)
  SECURITY.md
Labels: none

fix: retro of result_coordinate_system for DPF < 251.1.pre1 (#2555)
  src/ansys/dpf/core/operators/build.py
  src/ansys/dpf/core/operators/operator.mustache
  src/ansys/dpf/core/operators/result/coordinate_system.py
  tests/operators/test_coordinate_system.py
Labels: none

Update generated code for DPF 261_daily on main (#2560)
  src/ansys/dpf/core/operators/metadata/cyclic_support_provider.py
  src/ansys/dpf/core/operators/result/nmisc.py
  src/ansys/dpf/core/operators/result/result_provider.py
  src/ansys/dpf/core/operators/result/smisc.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2562)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2563)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2565)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2568)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2572)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2575)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2587)
  src/ansys/dpf/core/operators/mapping/solid_to_skin_fc.py
  src/ansys/dpf/core/operators/result/__init__.py
  src/ansys/dpf/core/operators/result/gasket_inelastic_closure.py
  src/ansys/dpf/core/operators/result/gasket_inelastic_closure_X.py
  src/ansys/dpf/core/operators/result/gasket_inelastic_closure_XY.py
  src/ansys/dpf/core/operators/result/gasket_inelastic_closure_XZ.py
  src/ansys/dpf/core/operators/result/gasket_stress.py
  src/ansys/dpf/core/operators/result/gasket_stress_X.py
  src/ansys/dpf/core/operators/result/gasket_stress_XY.py
  src/ansys/dpf/core/operators/result/gasket_stress_XZ.py
  src/ansys/dpf/core/operators/result/gasket_thermal_closure.py
  src/ansys/dpf/core/operators/result/gasket_thermal_closure_X.py
  src/ansys/dpf/core/operators/result/gasket_thermal_closure_XY.py
  src/ansys/dpf/core/operators/result/gasket_thermal_closure_XZ.py
  src/ansys/dpf/core/operators/result/gasket_total_closure.py
  src/ansys/dpf/core/operators/result/gasket_total_closure_X.py
  src/ansys/dpf/core/operators/result/gasket_total_closure_XY.py
  src/ansys/dpf/core/operators/result/gasket_total_closure_XZ.py
  src/ansys/dpf/core/operators/result/modal_acceleration.py
  src/ansys/dpf/core/operators/result/modal_coordinate.py
  src/ansys/dpf/core/operators/result/modal_velocity.py
  src/ansys/dpf/core/operators/result/nodal_rotation.py
  src/ansys/dpf/core/operators/result/nodal_rotation_X.py
  src/ansys/dpf/core/operators/result/nodal_rotation_Y.py
  src/ansys/dpf/core/operators/result/nodal_rotation_Z.py
  src/ansys/dpf/core/operators/result/nodal_rotations.py
  src/ansys/dpf/core/operators/result/nodal_rotations_X.py
  src/ansys/dpf/core/operators/result/nodal_rotations_Y.py
  src/ansys/dpf/core/operators/result/nodal_rotations_Z.py
  src/ansys/dpf/gate/__init__.py
  src/ansys/dpf/gate/generated/capi.py
  src/ansys/dpf/gate/generated/fbs_ref_abstract_api.py
  src/ansys/dpf/gate/generated/fbs_ref_capi.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
  src/ansys/grpc/dpf/base_pb2.py
  src/ansys/grpc/dpf/dpf_any_pb2.py
  src/ansys/grpc/dpf/fbs_ref_pb2.py
  src/ansys/grpc/dpf/fbs_ref_pb2_grpc.py
Labels: none

Update generated code for DPF 261_daily on main (#2590)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2591)
  src/ansys/dpf/core/operators/math/sweeping_phase.py
  src/ansys/dpf/core/operators/math/sweeping_phase_fc.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Update generated code for DPF 261_daily on main (#2597)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2596)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

docs: update ``html_context`` with PyAnsys tags (#2564)
  doc/source/conf.py
Labels: documentation

Update generated code for DPF 261_daily on main (#2599)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2601)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Replace displacement operator by modal coordinate (#2603)
  examples/07-distributed-post/02-distributed-msup_expansion.py
  examples/07-distributed-post/03-distributed-msup_expansion_steps.py
  src/ansys/dpf/core/operators/build.py
Labels: documentation

Update generated code for DPF 261_daily on main (#2608)
  src/ansys/dpf/core/operators/result/modal_coordinate.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

ci(pydpf-post): fix step to get latest version (#2611)
  .github/workflows/pydpf-post.yml
Labels: CI/CD

Update generated code for DPF 261_daily on main (#2612)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

.github/labeler.yml:

documentation:
- doc/source/**/*
- examples/**/*
maintenance:
- .flake8
- CODE_OF_CONDUCT.md
- LICENSE
- README.md
- codecov.yml
- ignore_words.txt
- setup.py
dependencies:
- setup.py
- requirements/*
CI/CD:
- docker/**/*
- .github/**/*
- .ci/**/*
