Repository ansys/pydpf-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- doc/source/**/*
- examples/**/*
maintenance:
- .flake8
- CODE_OF_CONDUCT.md
- LICENSE
- README.md
- codecov.yml
- ignore_words.txt
- setup.py
dependencies:
- setup.py
- requirements/*
CI/CD:
- docker/**/*
- .github/**/*
- .ci/**/*

Apply suggestions from code review
  doc/source/user_guide/tutorials/data_structures/collections.rst
Labels: documentation

Improve typing for Input.connect()
  src/ansys/dpf/core/inputs.py
Labels: none

Fix call to deserializer in deep_copy
  src/ansys/dpf/core/core.py
Labels: none

fix: remove usage of pkgutil.get_loader for Python 3.14
  src/ansys/dpf/core/__init__.py
Labels: none

Switch to a warning
  src/ansys/dpf/core/__init__.py
Labels: none

Bypass error in string_deserializer pin spec supported types
  src/ansys/dpf/core/core.py
Labels: none

Apply suggestion from @PProfizi
  doc/source/user_guide/tutorials/data_structures/collections.rst
Labels: documentation

Update doc/source/user_guide/tutorials/data_structures/collections.rst
  doc/source/user_guide/tutorials/data_structures/collections.rst
Labels: documentation

Fix bytes being accepted for pins with type str
  src/ansys/dpf/core/core.py
  src/ansys/dpf/core/dpf_operator.py
Labels: none

ci(test): switch to codecov actions v5
  .github/workflows/tests.yml
Labels: CI/CD

Update test_docker.yml
  .github/workflows/test_docker.yml
Labels: CI/CD

Fix docstring coverage report upload name conflict
  .github/workflows/tests.yml
Labels: CI/CD

fix(deprecation): remove usage of deprecated ``pkgutil.get_loader`` (#2763)
  src/ansys/dpf/core/__init__.py
Labels: none

ci(test): switch to codecov actions v5 (#2764)
  .github/workflows/test_docker.yml
  .github/workflows/tests.yml
Labels: CI/CD

ci(codecov): fix input argument following bump to v5
  .github/workflows/tests.yml
Labels: CI/CD

update generated code
  src/ansys/dpf/core/operators/result/__init__.py
  src/ansys/dpf/core/operators/result/nodal_moment.py
  src/ansys/dpf/gate/generated/any_abstract_api.py
  src/ansys/dpf/gate/generated/any_capi.py
  src/ansys/dpf/gate/generated/capi.py
  src/ansys/dpf/gate/generated/data_processing_abstract_api.py
  src/ansys/dpf/gate/generated/data_processing_capi.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

ci(codecov): fix input argument following bump to codecov-action v5 (#2765)
  .github/workflows/tests.yml
Labels: CI/CD

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Apply suggestions from code review
  doc/source/user_guide/tutorials/data_structures/collections.rst
Labels: documentation

Apply suggestions from code review
  doc/source/user_guide/tutorials/data_structures/collections.rst
Labels: documentation

Update with mention of the factory and built-in types
  doc/source/user_guide/tutorials/data_structures/collections.rst
Labels: documentation

update generated code
  src/ansys/dpf/core/operators/result/__init__.py
  src/ansys/dpf/core/operators/result/nodal_moment.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2769)
  src/ansys/dpf/core/operators/result/__init__.py
  src/ansys/dpf/core/operators/result/nodal_moment.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

fix(server): fix the dpf install selection logic when ansys-dpf-core is shipped within an Ansys installation
  src/ansys/dpf/core/misc.py
Labels: none

Remove rogue print
  src/ansys/dpf/core/misc.py
Labels: none

Update doc/source/user_guide/tutorials/data_structures/collections.rst
  doc/source/user_guide/tutorials/data_structures/collections.rst
Labels: documentation

Update doc/source/user_guide/tutorials/data_structures/collections.rst
  doc/source/user_guide/tutorials/data_structures/collections.rst
Labels: documentation

Fix detected path on posix
  src/ansys/dpf/core/misc.py
Labels: none

fix(server): fix the dpf install selection logic when ansys-dpf-core is shipped within an Ansys installation (#2770)
  src/ansys/dpf/core/misc.py
Labels: none

Small improvements
  doc/source/user_guide/tutorials/data_structures/collections.rst
Labels: documentation

ci(doc): fix the doc build log generation and upload
  .github/workflows/docs.yml
Labels: CI/CD

Refactor as GH copilot path-specific instructions
  .github/instructions/DOCUMENTATION.instructions.md
Labels: CI/CD

Add instructions on hallucinations
  .github/instructions/DOCUMENTATION.instructions.md
Labels: CI/CD

doc(tuto): add a tutorial on multithreading
  doc/source/user_guide/tutorials/index.rst
  doc/source/user_guide/tutorials/parallelization/index.rst
  doc/source/user_guide/tutorials/parallelization/multithreading.rst
Labels: documentation

Update .github/workflows/docs.yml
  .github/workflows/docs.yml
Labels: CI/CD

Improve skipif strings
  tests/conftest.py
  tests/test_cff.py
Labels: none

Update docs.yml
  .github/workflows/docs.yml
Labels: CI/CD

Apply suggestions from code review
  doc/source/user_guide/tutorials/data_structures/collections.rst
Labels: documentation

Switch to norm_fc
  doc/source/user_guide/tutorials/parallelization/multithreading.rst
Labels: documentation

26.1, not 25.2
  tests/test_cff.py
Labels: none
