Repository ansys/pydpf-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- doc/source/**/*
- examples/**/*
maintenance:
- .flake8
- CODE_OF_CONDUCT.md
- LICENSE
- README.md
- codecov.yml
- ignore_words.txt
- setup.py
dependencies:
- setup.py
- requirements/*
CI/CD:
- docker/**/*
- .github/**/*
- .ci/**/*

docs: update ``html_context`` with PyAnsys tags (#2564)
  doc/source/conf.py
Labels: documentation

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2601)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

replace by modal coords
  examples/07-distributed-post/02-distributed-msup_expansion.py
  examples/07-distributed-post/03-distributed-msup_expansion_steps.py
Labels: documentation

redirect calls from old servers to U from MCF
  src/ansys/dpf/core/operators/build.py
Labels: none

Replace displacement operator by modal coordinate (#2603)
  examples/07-distributed-post/02-distributed-msup_expansion.py
  examples/07-distributed-post/03-distributed-msup_expansion_steps.py
  src/ansys/dpf/core/operators/build.py
Labels: documentation

update generated code
  src/ansys/dpf/core/operators/result/modal_coordinate.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/core/operators/result/modal_coordinate.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/core/operators/result/modal_coordinate.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/core/operators/result/modal_coordinate.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2608)
  src/ansys/dpf/core/operators/result/modal_coordinate.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

ci(pydpf-post): fix step to get latest version
  .github/workflows/pydpf-post.yml
Labels: CI/CD

ci(pydpf-post): fix step to get latest version (#2611)
  .github/workflows/pydpf-post.yml
Labels: CI/CD

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2612)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

ci(docker): try pulling Windows DPF Docker container for 26.1
  .github/workflows/examples_docker.yml
Labels: CI/CD

Run on Linux and Windows
  .github/workflows/examples_docker.yml
Labels: CI/CD

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

fix test
  examples/07-distributed-post/03-distributed-msup_expansion_steps.py
Labels: documentation

add docker images list command
  .github/workflows/examples_docker.yml
Labels: CI/CD

fix test issue with new branch
  examples/07-distributed-post/03-distributed-msup_expansion_steps.py
Labels: documentation

Correct image name
  .github/workflows/examples_docker.yml
Labels: CI/CD

Convert "displacement" to "modal_coordinate" - Part 2 (#2616)
  examples/07-distributed-post/03-distributed-msup_expansion_steps.py
Labels: documentation

make image name dynamic based on ANSYS_VERSION and standalone_suffix inputs
  .github/workflows/examples_docker.yml
Labels: CI/CD

Tag image as latest
  .github/workflows/examples_docker.yml
Labels: CI/CD

Tag image as latest
  .github/workflows/examples_docker.yml
Labels: CI/CD

Fix image name
  .github/workflows/examples_docker.yml
Labels: CI/CD

Fix image name
  .github/workflows/examples_docker.yml
Labels: CI/CD

Fix image name
  .github/workflows/examples_docker.yml
  src/ansys/dpf/core/server_factory.py
Labels: CI/CD

Make mounted_volumes optional
  src/ansys/dpf/core/server_factory.py
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2617)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2621)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2622)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none
