Repository ansys/pydpf-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- doc/source/**/*
- examples/**/*
maintenance:
- .flake8
- CODE_OF_CONDUCT.md
- LICENSE
- README.md
- codecov.yml
- ignore_words.txt
- setup.py
dependencies:
- setup.py
- requirements/*
CI/CD:
- docker/**/*
- .github/**/*
- .ci/**/*

update generated code
  src/ansys/dpf/gate/generated/capi.py
  src/ansys/dpf/gate/generated/property_field_abstract_api.py
  src/ansys/dpf/gate/generated/property_field_capi.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

test: skip test_change_shell_layers
  tests/operators/test_change_shell_layers.py
Labels: none

test: skip test_change_shell_layers temporarily (#2455)
  tests/operators/test_change_shell_layers.py
Labels: none

Add custom Python operator and plugin tutorials (#1890)
  doc/source/conf.py
  doc/source/user_guide/custom_operator_example.py
  doc/source/user_guide/custom_operators.rst
  doc/source/user_guide/how_to.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/operators.rst
  doc/source/user_guide/tutorials/custom_operators_and_plugins/create_sites_for_python_operators.ps1
  doc/source/user_guide/tutorials/custom_operators_and_plugins/create_sites_for_python_operators.sh
  doc/source/user_guide/tutorials/custom_operators_and_plugins/custom_operators.rst
  doc/source/user_guide/tutorials/custom_operators_and_plugins/custom_operators_deps.rst
  doc/source/user_guide/tutorials/custom_operators_and_plugins/custom_plug_in_package.rst
  doc/source/user_guide/tutorials/custom_operators_and_plugins/custom_plug_in_package_third_deps.rst
  doc/source/user_guide/tutorials/custom_operators_and_plugins/custom_plugin.xml
  doc/source/user_guide/tutorials/custom_operators_and_plugins/index.rst
  doc/source/user_guide/tutorials/custom_operators_and_plugins/install_ansys_dpf_core_in_ansys.ps1
  doc/source/user_guide/tutorials/custom_operators_and_plugins/install_ansys_dpf_core_in_ansys.sh
  doc/source/user_guide/tutorials/custom_operators_and_plugins/uninstall_ansys_dpf_core_in_ansys.ps1
  doc/source/user_guide/tutorials/custom_operators_and_plugins/uninstall_ansys_dpf_core_in_ansys.sh
  doc/source/user_guide/tutorials/custom_operators_and_plugins/update_pydpf_core.rst
  doc/source/user_guide/tutorials/enriching_dpf_capabilities/index.rst
  doc/source/user_guide/tutorials/transform_data/index.rst
  examples/08-python-operators/02-python_operators_with_dependencies.py
  src/ansys/dpf/core/examples/python_plugins/custom_operator_example.py
Labels: documentation

fix: don't deploy doc in draft mode
  .github/workflows/ci.yml
Labels: CI/CD

Change the documentarian.rst main page to have add tutorials content
  doc/source/getting_started/contribute/documentarian.rst
Labels: documentation

Add examples guidelines file
  doc/source/getting_started/write_doc/guidelines_examples.rst
Labels: documentation

updates the guidelines_tutorials.rst
  doc/source/getting_started/write_doc/guidelines_tutorials.rst
Labels: documentation

delete write_code folder
  doc/source/getting_started/write_code/index.rst
Labels: documentation

Add links to the links.rst file
  doc/source/links.rst
Labels: documentation

update generated code
  src/ansys/dpf/gate/generated/capi.py
  src/ansys/dpf/gate/generated/property_field_abstract_api.py
  src/ansys/dpf/gate/generated/property_field_capi.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Rearrange toctree
  doc/source/getting_started/contribute/documentarian.rst
  doc/source/getting_started/contribute/guidelines_examples.rst
  doc/source/getting_started/contribute/guidelines_tutorials.rst
  doc/source/getting_started/contribute/tutorial_card_template.rst
  doc/source/getting_started/contribute/tutorial_content_template.rst
  doc/source/getting_started/contribute/tutorial_section_template.rst
  doc/source/getting_started/contribute/tutorial_structure_template.rst
  doc/source/getting_started/contribute/user.rst
  doc/source/getting_started/contributing.rst
  doc/source/getting_started/write_doc/index.rst
Labels: documentation

Apply suggestions from code review
  doc/source/getting_started/contribute/developer.rst
  doc/source/getting_started/contribute/documentarian.rst
  doc/source/getting_started/contribute/user.rst
Labels: documentation

Apply suggestions from code review
  doc/source/getting_started/contribute/guidelines_examples.rst
Labels: documentation

feat: skip jobs for labels except deploy-pr-doc
  .github/workflows/ci.yml
Labels: CI/CD

Change documentarian to documentation
  doc/source/getting_started/contribute/documentarian.rst
  doc/source/getting_started/contributing.rst
Labels: documentation

Add tutorials guidelines to the main tutorial branch (#2458)
  doc/source/getting_started/contribute/developer.rst
  doc/source/getting_started/contribute/documentarian.rst
  doc/source/getting_started/contribute/guidelines_examples.rst
  doc/source/getting_started/contribute/guidelines_tutorials.rst
  doc/source/getting_started/contribute/tutorial_card_template.rst
  doc/source/getting_started/contribute/tutorial_content_template.rst
  doc/source/getting_started/contribute/tutorial_section_template.rst
  doc/source/getting_started/contribute/tutorial_structure_template.rst
  doc/source/getting_started/contribute/user.rst
  doc/source/getting_started/contributing.rst
  doc/source/getting_started/write_code/index.rst
  doc/source/getting_started/write_doc/index.rst
  doc/source/links.rst
Labels: documentation

Make coming soon cards not clickable in the tutorials index.rst page
  doc/source/user_guide/tutorials/index.rst
Labels: documentation

Updating non-generated-grpc code and issue with FieldDef
  src/ansys/dpf/core/property_field.py
  src/ansys/dpf/gate/property_field_grpcapi.py
Labels: none

feat: improve pr doc deployment with labelling strategy (#2452)
  .github/workflows/ci.yml
  .github/workflows/label.yml
Labels: CI/CD

update generated code
  src/ansys/dpf/gate/generated/capi.py
  src/ansys/dpf/gate/generated/property_field_abstract_api.py
  src/ansys/dpf/gate/generated/property_field_capi.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Adding check for plugin cases
  src/ansys/dpf/core/property_field.py
Labels: none

Correct link to coming soon sections
  doc/source/user_guide/index.rst
  doc/source/user_guide/tutorials/custom_operators_and_plugins/index.rst
  doc/source/user_guide/tutorials/index.rst
Labels: documentation

Correct title mesh exploration section
  doc/source/user_guide/tutorials/mesh/index.rst
Labels: documentation

update generated code
  src/ansys/dpf/core/operators/metadata/real_constants_provider.py
  src/ansys/dpf/gate/generated/capi.py
  src/ansys/dpf/gate/generated/property_field_abstract_api.py
  src/ansys/dpf/gate/generated/property_field_capi.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

make pydpf-core language section card not clickable
  doc/source/user_guide/tutorials/index.rst
Labels: documentation

Fix typehint for examples.py
  src/ansys/dpf/core/examples/examples.py
Labels: none

Add dynamic skip in conf.py of tutorials requiring a higher version of DPF
  doc/source/conf.py
Labels: documentation

Mark custom_operators.rst tutorial as requiring DPF 26R1
  doc/source/user_guide/tutorials/custom_operators_and_plugins/custom_operators.rst
  doc/source/user_guide/tutorials/custom_operators_and_plugins/index.rst
Labels: documentation

Add run_id back into the key
  .github/workflows/docs.yml
Labels: CI/CD

Fix decoding error
  doc/source/conf.py
Labels: documentation

Fix rst note directive
  doc/source/user_guide/tutorials/custom_operators_and_plugins/custom_operators.rst
  doc/source/user_guide/tutorials/custom_operators_and_plugins/index.rst
Labels: documentation

ci(doc): add doc build examples caching (#2342)
  .github/workflows/docs.yml
  doc/source/conf.py
  doc/sphinx_utilities/reset_servers.py
  requirements/requirements_docs.txt
  tox.ini
Labels: documentation, dependencies, CI/CD

Fix and move filtering logic of tutorials
  doc/source/conf.py
  doc/sphinx_utilities/version_filtering.py
Labels: documentation

Fix required version of tutorial
  doc/source/user_guide/tutorials/custom_operators_and_plugins/custom_operators.rst
Labels: documentation

Fix tutorial skipping logic
  doc/source/conf.py
Labels: documentation

Fix tutorial skipping logic
  doc/source/conf.py
Labels: documentation

Fix extensions management
  doc/source/conf.py
Labels: documentation

Fix tutorial skip logic
  doc/source/conf.py
Labels: documentation

update generated code
  src/ansys/dpf/core/operators/mesh/from_scoping.py
  src/ansys/dpf/gate/generated/capi.py
  src/ansys/dpf/gate/generated/property_field_abstract_api.py
  src/ansys/dpf/gate/generated/property_field_capi.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none
