Repository ansys/pydpf-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- doc/source/**/*
- examples/**/*
maintenance:
- .flake8
- CODE_OF_CONDUCT.md
- LICENSE
- README.md
- codecov.yml
- ignore_words.txt
- setup.py
dependencies:
- setup.py
- requirements/*
CI/CD:
- docker/**/*
- .github/**/*
- .ci/**/*

Add test_cff_model_flprj
  tests/test_cff.py
Labels: none

fix: dpf server error handling optimize
  src/ansys/dpf/gate/errors.py
Labels: none

feat: server error handling more robust
  src/ansys/dpf/gate/errors.py
  tests/test_server_errors.py
Labels: none

update generated code
  src/ansys/dpf/core/operators/averaging/force_summation.py
  src/ansys/dpf/core/operators/averaging/force_summation_psd.py
  src/ansys/dpf/core/operators/result/torque.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

fix: server errors handling tests
  tests/test_server_errors.py
Labels: none

quickfix remove print
  tests/test_server_errors.py
Labels: none

Update generated code for DPF 261_daily on main (#2642)
  src/ansys/dpf/core/operators/averaging/force_summation.py
  src/ansys/dpf/core/operators/averaging/force_summation_psd.py
  src/ansys/dpf/core/operators/result/torque.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Separate documentation tests in tox.ini
  tox.ini
Labels: none

Separate documentation tests in tox.ini
  tox.ini
Labels: none

Separate documentation tests in tox.ini
  tox.ini
Labels: none

Run test_server_errors.py separately in Tox
  tox.ini
Labels: none

Fix QA
  src/ansys/dpf/gate/errors.py
  tests/test_server_errors.py
Labels: none

Fix test_server_errors: separate server errors tests (#2643)
  src/ansys/dpf/gate/errors.py
  tests/test_server_errors.py
  tox.ini
Labels: none

Separate test_documentation tests on Docker
  .github/workflows/scripts/separate_long_core_tests.ps1
  .github/workflows/test_docker.yml
Labels: CI/CD

feat(doc): improve operator Markdown documentation generation (#2635)
  .ci/generate_operators_doc.py
  .github/workflows/scripts/separate_long_core_tests.ps1
  .github/workflows/test_docker.yml
  pyproject.toml
  requirements/requirements_test.txt
  src/ansys/dpf/core/__init__.py
  src/ansys/dpf/core/documentation/__init__.py
  src/ansys/dpf/core/documentation/generate_operators_doc.py
  src/ansys/dpf/core/documentation/operator_doc_template.md
  src/ansys/dpf/core/documentation/toc_template.j2
  src/ansys/dpf/core/server.py
  tests/test_documentation.py
  tox.ini
Labels: dependencies, CI/CD

Move the code from operator-replace-desc.py to generate_operators_doc.py
  .ci/operator-replace-desc.py
  src/ansys/dpf/core/documentation/generate_operators_doc.py
Labels: CI/CD

Fixes
  src/ansys/dpf/core/documentation/generate_operators_doc.py
Labels: none

Update testing to cover operator description update
  tests/test_documentation.py
Labels: none

Fix verbosity
  src/ansys/dpf/core/documentation/generate_operators_doc.py
Labels: none

added a new item in the toc_template.j2 for the local build MD file
  src/ansys/dpf/core/documentation/toc_template.j2
Labels: none

Feat: operator documentation uses update files (#2644)
  .ci/operator-replace-desc.py
  src/ansys/dpf/core/documentation/generate_operators_doc.py
  tests/test_documentation.py
Labels: CI/CD

fix: keep import of ServerBase in server.py
  src/ansys/dpf/core/server.py
Labels: none

Update src/ansys/dpf/core/server.py
  src/ansys/dpf/core/server.py
Labels: none

Fix QA
  src/ansys/dpf/core/server.py
Labels: none

Update src/ansys/dpf/core/server.py
  src/ansys/dpf/core/server.py
Labels: none

Augment timeout for test_documentation on Docker
  .github/workflows/test_docker.yml
Labels: CI/CD

Update src/ansys/dpf/core/server.py
  src/ansys/dpf/core/server.py
Labels: none

doc(dpf): A the "build local documentation" section to the toc_template.j2 for DPF doc generation (#2641)
  src/ansys/dpf/core/documentation/toc_template.j2
Labels: none

feat: support "update" files for operator descriptions during operator documentation generation (#2533)
  .github/workflows/test_docker.yml
  src/ansys/dpf/core/documentation/generate_operators_doc.py
  tests/test_documentation.py
Labels: CI/CD

Update src/ansys/dpf/core/server.py
  src/ansys/dpf/core/server.py
Labels: none

fix: keep import of BaseServer in server.py (#2646)
  src/ansys/dpf/core/server.py
Labels: none

feat: improve server errors handling (#2638)
  src/ansys/dpf/gate/errors.py
  tests/test_server_errors.py
  tox.ini
Labels: none

Fix(doc): Fix DPF operator doc update of the toc.yml
  src/ansys/dpf/core/documentation/generate_operators_doc.py
  src/ansys/dpf/core/documentation/toc_template.j2
Labels: none

Update test for toc.yml
  tests/test_documentation.py
Labels: none

Fix(doc): Fix DPF operator doc update of the toc.yml (#2647)
  src/ansys/dpf/core/documentation/generate_operators_doc.py
  src/ansys/dpf/core/documentation/toc_template.j2
  tests/test_documentation.py
Labels: none

Create in ansys.dpf.core.debug
  src/ansys/dpf/core/debug.py
Labels: none

Switch to BaseServer.start_debug and BaseServer.stop_debug
  src/ansys/dpf/core/debug.py
  src/ansys/dpf/core/server_types.py
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update CONTRIBUTORS.md with the latest contributors
  CONTRIBUTORS.md
Labels: none
