Repository ansys/pydpf-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- doc/source/**/*
- examples/**/*
maintenance:
- .flake8
- CODE_OF_CONDUCT.md
- LICENSE
- README.md
- codecov.yml
- ignore_words.txt
- setup.py
dependencies:
- setup.py
- requirements/*
CI/CD:
- docker/**/*
- .github/**/*
- .ci/**/*

fix: codestyle
  src/ansys/dpf/core/property_fields_container.py
  tests/test_property_fields_container.py
Labels: none

fix: doctest
  src/ansys/dpf/core/property_fields_container.py
Labels: none

fix: test
  tests/test_property_fields_container.py
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2813)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

fix: test cases
  tests/test_property_fields_container.py
Labels: none

fix: rename file
  src/ansys/dpf/core/__init__.py
  tests/test_property_fields_container.py
Labels: none

fix: rename file
  src/ansys/dpf/core/property_fields_collection.py
Labels: none

fix: add renamed test file
  tests/test_property_fields_collection.py
Labels: none

fix: avoid circular import
  src/ansys/dpf/core/property_fields_collection.py
Labels: none

fix: codestyle
  src/ansys/dpf/core/property_fields_collection.py
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2820)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

fix test_get_resultinfo_2
  tests/test_resultinfo.py
Labels: none

feat: update code generation scripts
  src/ansys/dpf/core/mapping_types.py
Labels: none

Respect retro
  tests/test_resultinfo.py
Labels: none

feat: further updates to code generation scripts
  src/ansys/dpf/core/operators/build.py
Labels: none

test: skip tests for server versions < 8.1
  tests/test_property_fields_collection.py
Labels: none

fix: codestyle
  src/ansys/dpf/core/mapping_types.py
  tests/test_property_fields_collection.py
Labels: none

feat: update code generation script
  src/ansys/dpf/core/operators/build.py
Labels: none

fix: retain original operator name
  src/ansys/dpf/core/operators/build.py
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/core/operators/averaging/elemental_nodal_to_nodal_fc.py
  src/ansys/dpf/core/operators/logic/enrich_materials.py
  src/ansys/dpf/core/operators/logic/identical_anys.py
  src/ansys/dpf/core/operators/logic/identical_generic_data_containers.py
  src/ansys/dpf/core/operators/logic/identical_pfc.py
  src/ansys/dpf/core/operators/result/mapdl_split_to_acmo_facet_indices.py
  src/ansys/dpf/core/operators/scoping/rescope_property_field.py
  src/ansys/dpf/core/operators/utility/extract_scoping.py
  src/ansys/dpf/core/operators/utility/merge_property_fields.py
  src/ansys/dpf/core/operators/utility/merge_weighted_fields_containers.py
  src/ansys/dpf/core/operators/utility/propertyfield_get_attribute.py
Labels: none

fix test_get_resultinfo_2 product name
  tests/test_resultinfo.py
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

respect retro for product_name change
  tests/test_resultinfo.py
Labels: none

fix: revert to property fields container
  src/ansys/dpf/core/__init__.py
  src/ansys/dpf/core/mapping_types.py
  src/ansys/dpf/core/operators/build.py
  src/ansys/dpf/core/property_fields_container.py
  tests/test_property_fields_container.py
Labels: none

update generated code
  src/ansys/dpf/core/operators/averaging/elemental_nodal_to_nodal_fc.py
  src/ansys/dpf/core/operators/utility/merge_weighted_fields_containers.py
Labels: none

Update generated code for DPF 261_daily on main (#2827)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  tests/test_resultinfo.py
Labels: none

fix: final fix
  src/ansys/dpf/core/mapping_types.py
  src/ansys/dpf/core/operators/build.py
  tests/test_property_fields_container.py
Labels: none

fix: codestyle
  src/ansys/dpf/core/mapping_types.py
Labels: none

update generated code
  src/ansys/dpf/core/operators/averaging/elemental_nodal_to_nodal_fc.py
  src/ansys/dpf/core/operators/logic/enrich_materials.py
  src/ansys/dpf/core/operators/logic/identical_pfc.py
  src/ansys/dpf/core/operators/result/mapdl_split_to_acmo_facet_indices.py
  src/ansys/dpf/core/operators/scoping/rescope_property_field.py
  src/ansys/dpf/core/operators/utility/extract_scoping.py
  src/ansys/dpf/core/operators/utility/merge_property_fields.py
  src/ansys/dpf/core/operators/utility/merge_weighted_fields_containers.py
  src/ansys/dpf/core/operators/utility/propertyfield_get_attribute.py
Labels: none

Update generated code for DPF 261 on feat/expose-property-fields-container (#2829)
  src/ansys/dpf/core/operators/averaging/elemental_nodal_to_nodal_fc.py
  src/ansys/dpf/core/operators/logic/enrich_materials.py
  src/ansys/dpf/core/operators/logic/identical_pfc.py
  src/ansys/dpf/core/operators/result/mapdl_split_to_acmo_facet_indices.py
  src/ansys/dpf/core/operators/scoping/rescope_property_field.py
  src/ansys/dpf/core/operators/utility/extract_scoping.py
  src/ansys/dpf/core/operators/utility/merge_property_fields.py
  src/ansys/dpf/core/operators/utility/merge_weighted_fields_containers.py
  src/ansys/dpf/core/operators/utility/propertyfield_get_attribute.py
Labels: none

fix: suggestions from code review
  src/ansys/dpf/core/property_fields_container.py
Labels: none

doc: expose the `label_space` class in the API reference
  doc/source/conf.py
Labels: documentation

fix: review suggestions and update conf.py
  doc/source/conf.py
  src/ansys/dpf/core/property_fields_container.py
Labels: documentation

fix: remove IDE autoimport
  src/ansys/dpf/core/property_fields_container.py
Labels: none

ci(post): fix platform detection in pydpf-post test pipeline (#2811)
  .github/workflows/pydpf-post.yml
Labels: CI/CD

doc(vtk): expose the `vtk_helper.py` module in the API reference
  doc/source/conf.py
Labels: documentation
