Repository ansys/pydpf-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, CI/CD

bump to 0.14.0
  pyproject.toml
Labels: none

Created a script to udpate operator description with the description in another MD file op-name_upd.md. This file should contain a section ## Description
  .ci/operator-replace-desc.py
Labels: CI/CD

style: remove styling error from codacy
  src/ansys/dpf/core/workflow.py
Labels: none

disable tests
  tests/slow/test_remoteworkflow.py
  tests/test_remote_operator.py
  tests/test_remote_workflow.py
Labels: none

update generated code
  src/ansys/dpf/core/operators/compression/__init__.py
  src/ansys/dpf/core/operators/compression/quantization.py
  src/ansys/dpf/core/operators/compression/quantization_fc.py
  src/ansys/dpf/core/operators/scoping/adapt_with_scopings_container.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Update doc-deploy-pr.yml
  .github/workflows/doc-deploy-pr.yml
Labels: CI/CD

ci: update deploy_pr_doc logic (#2536)
  .github/workflows/doc-deploy-pr.yml
Labels: CI/CD

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2526)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

fix(retro): fix retro-compatibility with pyvista<0.46.0
  src/ansys/dpf/core/vtk_helper.py
Labels: none

doc(operators): minor updates to generate_operators_doc.py
  .ci/generate_operators_doc.py
Labels: CI/CD

fix(retro): fix retro-compatibility with pyvista<0.46.0 (#2539)
  src/ansys/dpf/core/vtk_helper.py
Labels: none

bump to 0.14.1
  pyproject.toml
Labels: none

bump to 0.14.2.dev0
  pyproject.toml
Labels: none

bump to 0.14.2.dev0 (#2541)
  pyproject.toml
Labels: none

fix test
  examples/05-file-IO/02-hdf5_serialize_and_read.py
Labels: documentation

upd templates for operator doc
  doc/source/operators_doc/operator-specifications/operator_doc_template.md
  doc/source/operators_doc/operator-specifications/toc_template.j2
Labels: documentation

ci(operators): minor updates to generate_operators_doc.py (#2540)
  .ci/generate_operators_doc.py
Labels: CI/CD

update generated code
  src/ansys/dpf/core/operators/compression/__init__.py
  src/ansys/dpf/core/operators/compression/quantization.py
  src/ansys/dpf/core/operators/compression/quantization_fc.py
  src/ansys/dpf/core/operators/scoping/adapt_with_scopings_container.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Corrected templates for operator doc
  doc/source/operators_doc/operator-specifications/operator_doc_template.md
Labels: documentation

Update CONTRIBUTORS.md with the latest contributors
  CONTRIBUTORS.md
Labels: none

update generated code
  src/ansys/dpf/core/operators/compression/__init__.py
  src/ansys/dpf/core/operators/compression/quantization.py
  src/ansys/dpf/core/operators/compression/quantization_fc.py
  src/ansys/dpf/core/operators/result/recombine_harmonic_indeces_cyclic.py
  src/ansys/dpf/core/operators/scoping/adapt_with_scopings_container.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

fix styling
  examples/05-file-IO/02-hdf5_serialize_and_read.py
Labels: documentation

fix styling
  examples/05-file-IO/02-hdf5_serialize_and_read.py
Labels: documentation

Fix test after addition of Rotation result (#2542)
  examples/05-file-IO/02-hdf5_serialize_and_read.py
Labels: documentation

update generated code
  src/ansys/dpf/core/operators/compression/__init__.py
  src/ansys/dpf/core/operators/compression/quantization.py
  src/ansys/dpf/core/operators/compression/quantization_fc.py
  src/ansys/dpf/core/operators/result/__init__.py
  src/ansys/dpf/core/operators/result/nodal_rotational_acceleration.py
  src/ansys/dpf/core/operators/result/nodal_rotational_acceleration_X.py
  src/ansys/dpf/core/operators/result/nodal_rotational_acceleration_Y.py
  src/ansys/dpf/core/operators/result/nodal_rotational_acceleration_Z.py
  src/ansys/dpf/core/operators/result/nodal_rotational_velocity.py
  src/ansys/dpf/core/operators/result/nodal_rotational_velocity_X.py
  src/ansys/dpf/core/operators/result/nodal_rotational_velocity_Y.py
  src/ansys/dpf/core/operators/result/nodal_rotational_velocity_Z.py
  src/ansys/dpf/core/operators/result/nodal_rotations.py
  src/ansys/dpf/core/operators/result/nodal_rotations_X.py
  src/ansys/dpf/core/operators/result/nodal_rotations_Y.py
  src/ansys/dpf/core/operators/result/nodal_rotations_Z.py
  src/ansys/dpf/core/operators/scoping/adapt_with_scopings_container.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

update generated code
  src/ansys/dpf/core/operators/compression/__init__.py
  src/ansys/dpf/core/operators/compression/quantization.py
  src/ansys/dpf/core/operators/compression/quantization_fc.py
  src/ansys/dpf/core/operators/mapping/on_coordinates.py
  src/ansys/dpf/core/operators/scoping/adapt_with_scopings_container.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

docs: Update ``CONTRIBUTORS.md`` with the latest contributors (#2544)
  CONTRIBUTORS.md
Labels: none

ci: add vulnerabilities check
  .github/workflows/ci.yml
Labels: CI/CD

WIP
  src/ansys/dpf/core/server_types.py
Labels: none

Enable all warnings during testing
  tests/conftest.py
Labels: none

Revert "Enable all warnings during testing"
  tests/conftest.py
Labels: none

Raise all warnings as errors
  pytest.ini
Labels: none

Remove usage of deprecated pkgutil.get_loader
  src/ansys/dpf/core/__init__.py
Labels: none

Fix PytestUnknownMarkWarning for slow tests
  pytest.ini
Labels: none

Fix deprecationWarning for connect in Metadata
  src/ansys/dpf/core/model.py
Labels: none

Remove warning as error
  pytest.ini
Labels: none

Fix removal of custom_operator_example.py during tests
  src/ansys/dpf/core/examples/downloads.py
Labels: none

Revert "Remove usage of deprecated pkgutil.get_loader"
  src/ansys/dpf/core/__init__.py
Labels: none

Refactor DockerConfig
  src/ansys/dpf/core/server_factory.py
  src/ansys/dpf/core/server_types.py
Labels: none

.github/labeler.yml:

documentation:
- doc/source/**/*
- examples/**/*
maintenance:
- .flake8
- CODE_OF_CONDUCT.md
- LICENSE
- README.md
- codecov.yml
- ignore_words.txt
- setup.py
dependencies:
- setup.py
- requirements/*
CI/CD:
- docker/**/*
- .github/**/*
- .ci/**/*
