Repository ansys/pydpf-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, CI/CD

Set timeout for parallel tests to 20min
  .github/workflows/tests.yml
Labels: CI/CD

ci: set timeout for parallel tests to 20min (#2652)
  .github/workflows/tests.yml
Labels: CI/CD

Adapt path to server os
  src/ansys/dpf/core/server_types.py
Labels: none

Update generated code for DPF 261_daily on main (#2648)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Add a DEFAULT_SERVER_DEBUG global variable
  src/ansys/dpf/core/__init__.py
  src/ansys/dpf/core/server_types.py
Labels: none

Add a test
  tests/test_server.py
Labels: none

update generated code
  src/ansys/dpf/core/operators/result/migrate_to_h5dpf.py
  src/ansys/dpf/core/operators/serialization/hdf5dpf_generate_result_file.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

update generated code
  src/ansys/dpf/core/operators/result/migrate_to_h5dpf.py
  src/ansys/dpf/core/operators/serialization/hdf5dpf_generate_result_file.py
  src/ansys/dpf/gate/generated/capi.py
  src/ansys/dpf/gate/generated/custom_type_field_abstract_api.py
  src/ansys/dpf/gate/generated/custom_type_field_capi.py
  src/ansys/dpf/gate/generated/field_abstract_api.py
  src/ansys/dpf/gate/generated/field_capi.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
  src/ansys/grpc/dpf/field_pb2.py
  src/ansys/grpc/dpf/field_pb2_grpc.py
Labels: none

update generated code
  src/ansys/dpf/core/operators/result/migrate_to_h5dpf.py
  src/ansys/dpf/core/operators/serialization/hdf5dpf_generate_result_file.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

update generated code
  src/ansys/dpf/core/operators/result/migrate_to_h5dpf.py
  src/ansys/dpf/core/operators/serialization/hdf5dpf_generate_result_file.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

test_docker increase timeout
  .github/workflows/test_docker.yml
Labels: CI/CD

Update generated code for DPF 261_daily on main (#2659)
  .github/workflows/test_docker.yml
  src/ansys/dpf/core/operators/result/migrate_to_h5dpf.py
  src/ansys/dpf/core/operators/serialization/hdf5dpf_generate_result_file.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: CI/CD

update generated code
  src/ansys/dpf/core/operators/result/migrate_to_h5dpf.py
  src/ansys/dpf/core/operators/serialization/hdf5dpf_generate_result_file.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

feat: improve the load_library API with default library naming, server os management for the path, and an updated docstring
  src/ansys/dpf/core/core.py
Labels: none

Also update docstring of plugins.load_plugin_on_server
  src/ansys/dpf/core/plugins.py
Labels: none

Fix circular import
  src/ansys/dpf/core/core.py
Labels: none

Apply suggestion from @PProfizi
  src/ansys/dpf/core/core.py
Labels: none

chore: suggest the usage of --index-url over --extra-index-url
  .github/workflows/docs.yml
  doc/source/user_guide/custom_operators.rst
Labels: documentation, CI/CD

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2662)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

chore: use --index-url instead of --extra-index-url
  doc/source/getting_started/contribute/developer.rst
  doc/source/user_guide/tutorials/custom_operators_and_plugins/update_pydpf_core.rst
Labels: documentation

chore: use --index-url instead of --extra-index-url (#2664)
  doc/source/getting_started/contribute/developer.rst
  doc/source/user_guide/tutorials/custom_operators_and_plugins/update_pydpf_core.rst
Labels: documentation

Test examples on MacOS with server from linux Docker image
  .github/workflows/examples_docker.yml
Labels: CI/CD

Test examples on MacOS with server from linux Docker image
  .github/workflows/examples_docker.yml
Labels: CI/CD

Use colima for Docker on macOS
  .github/workflows/examples_docker.yml
Labels: CI/CD

Use colima for Docker on macOS
  .github/workflows/examples_docker.yml
Labels: CI/CD

Use colima for Docker on macOS
  .github/workflows/examples_docker.yml
Labels: CI/CD

Use colima for Docker on macOS
  .github/workflows/examples_docker.yml
Labels: CI/CD

Switch to macos-15-intel
  .github/workflows/examples_docker.yml
Labels: CI/CD

Switch to macos-15-intel
  .github/workflows/examples_docker.yml
Labels: CI/CD

feat: changes to test windows container
  src/ansys/dpf/core/server.py
  src/ansys/dpf/core/server_factory.py
  src/ansys/dpf/core/server_types.py
Labels: none

Add conftest.DEFAULT_ANSYS_PATH
  tests/conftest.py
Labels: none

Add test_load_library_default_name (WIP)
  tests/test_plugins.py
Labels: none

Try windows-latest client
  .github/workflows/examples_docker.yml
Labels: CI/CD

Running Linux images on Windows runners is not supported
  .github/workflows/examples_docker.yml
Labels: CI/CD

update generated code
  src/ansys/dpf/gate/generated/capi.py
  src/ansys/dpf/gate/generated/fbs_ref_abstract_api.py
  src/ansys/dpf/gate/generated/fbs_ref_capi.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
  src/ansys/grpc/dpf/fbs_ref_pb2.py
Labels: none

Increase timeout for pydpf-post docstrings
  .github/workflows/pydpf-post.yml
Labels: CI/CD

Add patch
  pyproject.toml
  src/ansys/dpf/core/runtime_config.py
  src/ansys/dpf/core/server.py
  src/ansys/dpf/core/server_factory.py
  src/ansys/dpf/core/server_types.py
  tox.ini
Labels: none

Update generated code for DPF 261_daily on main (#2667)
  .github/workflows/pydpf-post.yml
  src/ansys/dpf/gate/generated/capi.py
  src/ansys/dpf/gate/generated/fbs_ref_abstract_api.py
  src/ansys/dpf/gate/generated/fbs_ref_capi.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
  src/ansys/grpc/dpf/fbs_ref_pb2.py
Labels: CI/CD

fix: fix Field.get_data for LegacyGrpcServer
  src/ansys/dpf/gate/dpf_vector.py
Labels: none

.github/labeler.yml:

documentation:
- doc/source/**/*
- examples/**/*
maintenance:
- .flake8
- CODE_OF_CONDUCT.md
- LICENSE
- README.md
- codecov.yml
- ignore_words.txt
- setup.py
dependencies:
- setup.py
- requirements/*
CI/CD:
- docker/**/*
- .github/**/*
- .ci/**/*
