Repository ansys/pydpf-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- doc/source/**/*
- examples/**/*
maintenance:
- .flake8
- CODE_OF_CONDUCT.md
- LICENSE
- README.md
- codecov.yml
- ignore_words.txt
- setup.py
dependencies:
- setup.py
- requirements/*
CI/CD:
- docker/**/*
- .github/**/*
- .ci/**/*

Update generated code for DPF 261_daily on main (#2617)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Convert "displacement" to "modal_coordinate" - Part 2 (#2616)
  examples/07-distributed-post/03-distributed-msup_expansion_steps.py
Labels: documentation

Update generated code for DPF 261_daily on main (#2621)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2622)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2628)
  src/ansys/dpf/core/operators/compression/apply_svd.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

fix: support NumPy array views to set data of Field (#2630)
  src/ansys/dpf/core/field_base.py
  tests/test_field.py
Labels: none

Update generated code for DPF 261_daily on main (#2624)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2631)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

doc: update templates for Markdown operator documentation pages (#2543)
  doc/source/operators_doc/operator-specifications/operator_doc_template.md
  doc/source/operators_doc/operator-specifications/toc_template.j2
Labels: documentation

docs: tip on context managers for efficient remote processing (#2634)
  doc/source/user_guide/tutorials/data_structures/data_arrays.rst
Labels: documentation

Update generated code for DPF 261_daily on main (#2637)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2642)
  src/ansys/dpf/core/operators/averaging/force_summation.py
  src/ansys/dpf/core/operators/averaging/force_summation_psd.py
  src/ansys/dpf/core/operators/result/torque.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

refactor: add typing for workflow record function (#2479)
  src/ansys/dpf/core/workflow.py
Labels: none

feat: improve server errors handling (#2638)
  src/ansys/dpf/gate/errors.py
  tests/test_server_errors.py
  tox.ini
Labels: none

Fix(doc): Fix DPF operator doc update of the toc.yml (#2647)
  src/ansys/dpf/core/documentation/generate_operators_doc.py
  src/ansys/dpf/core/documentation/toc_template.j2
  tests/test_documentation.py
Labels: none

fix: keep import of BaseServer in server.py (#2646)
  src/ansys/dpf/core/server.py
Labels: none

feat: support "update" files for operator descriptions during operator documentation generation (#2533)
  .github/workflows/test_docker.yml
  src/ansys/dpf/core/documentation/generate_operators_doc.py
  tests/test_documentation.py
Labels: CI/CD

feat(doc): improve operator Markdown documentation generation (#2635)
  .ci/generate_operators_doc.py
  .github/workflows/scripts/separate_long_core_tests.ps1
  .github/workflows/test_docker.yml
  pyproject.toml
  requirements/requirements_test.txt
  src/ansys/dpf/core/__init__.py
  src/ansys/dpf/core/documentation/__init__.py
  src/ansys/dpf/core/documentation/generate_operators_doc.py
  src/ansys/dpf/core/documentation/operator_doc_template.md
  src/ansys/dpf/core/documentation/toc_template.j2
  src/ansys/dpf/core/server.py
  tests/test_documentation.py
  tox.ini
Labels: dependencies, CI/CD

doc(dpf): A the "build local documentation" section to the toc_template.j2 for DPF doc generation (#2641)
  src/ansys/dpf/core/documentation/toc_template.j2
Labels: none

ci: set timeout for parallel tests to 20min (#2652)
  .github/workflows/tests.yml
Labels: CI/CD

Update generated code for DPF 261_daily on main (#2648)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2659)
  .github/workflows/test_docker.yml
  src/ansys/dpf/core/operators/result/migrate_to_h5dpf.py
  src/ansys/dpf/core/operators/serialization/hdf5dpf_generate_result_file.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: CI/CD

Update generated code for DPF 261_daily on main (#2662)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

chore: use --index-url instead of --extra-index-url (#2664)
  doc/source/getting_started/contribute/developer.rst
  doc/source/user_guide/tutorials/custom_operators_and_plugins/update_pydpf_core.rst
Labels: documentation

Update generated code for DPF 261_daily on main (#2670)
  src/ansys/dpf/gate/generated/capi.py
  src/ansys/dpf/gate/generated/custom_type_field_abstract_api.py
  src/ansys/dpf/gate/generated/custom_type_field_capi.py
  src/ansys/dpf/gate/generated/field_abstract_api.py
  src/ansys/dpf/gate/generated/field_capi.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
  src/ansys/grpc/dpf/field_pb2.py
  src/ansys/grpc/dpf/field_pb2_grpc.py
Labels: none

Update generated code for DPF 261_daily on main (#2667)
  .github/workflows/pydpf-post.yml
  src/ansys/dpf/gate/generated/capi.py
  src/ansys/dpf/gate/generated/fbs_ref_abstract_api.py
  src/ansys/dpf/gate/generated/fbs_ref_capi.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
  src/ansys/grpc/dpf/fbs_ref_pb2.py
Labels: CI/CD

Update generated code for DPF 261_daily on main (#2672)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

feat(operator doc): Set current folder as default output path of generate_operators_doc (#2678)
  src/ansys/dpf/core/documentation/generate_operators_doc.py
Labels: none

Update generated code for DPF 261_daily on main (#2677)
  src/ansys/dpf/core/operators/compression/quantization.py
  src/ansys/dpf/core/operators/compression/quantization_fc.py
  src/ansys/dpf/core/operators/result/compute_invariant_terms_motion.py
  src/ansys/dpf/core/operators/result/rom_data_provider.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

fix: fix Field.data for LegacyGrpcServer (#2668)
  src/ansys/dpf/gate/dpf_vector.py
Labels: none

doc(docstring): fix docstring example of LicenseContextManager (#2679)
  src/ansys/dpf/core/server_context.py
Labels: none

Update generated code for DPF 261_daily on main (#2680)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2681)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2684)
  src/ansys/dpf/core/operators/metadata/time_freq_support_get_attribute.py
  src/ansys/dpf/core/operators/utility/__init__.py
  src/ansys/dpf/core/operators/utility/cyclic_support_get_attribute.py
  src/ansys/dpf/core/operators/utility/ints_to_scoping.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

ci: remove main/master sync (#2675)
  .github/workflows/ci.yml
Labels: CI/CD

Bump to 0.14.3.dev0 (#2687)
  pyproject.toml
Labels: none

ci(doc): Switch to using the Any wheel for doc generation (#2685)
  .github/workflows/docs.yml
Labels: CI/CD

Update generated code for DPF 261_daily on main (#2691)
  src/ansys/dpf/core/operators/result/equivalent_mass.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2696)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

feat(documentation): Add indexes to operator categories in operator documentation sources (#2694)
  src/ansys/dpf/core/documentation/generate_operators_doc.py
  src/ansys/dpf/core/documentation/toc_template.j2
Labels: none
