Repository ansys/pydpf-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- doc/source/**/*
- examples/**/*
maintenance:
- .flake8
- CODE_OF_CONDUCT.md
- LICENSE
- README.md
- codecov.yml
- ignore_words.txt
- setup.py
dependencies:
- setup.py
- requirements/*
CI/CD:
- docker/**/*
- .github/**/*
- .ci/**/*

Update generated code for DPF 261_daily on main (#2699)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

fix: design and type hint of custom collections (#2695)
  src/ansys/dpf/core/__init__.py
  src/ansys/dpf/core/collection.py
Labels: none

Update generated code for DPF 261_daily on main (#2698)
  src/ansys/dpf/core/operators/metadata/element_types_provider.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2705)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

fix(operator): fix Input.connect ambiguity warning (#2703)
  src/ansys/dpf/core/inputs.py
  tests/test_operator.py
Labels: none

Update generated code for DPF 261_daily on main (#2708)
  src/ansys/dpf/core/operators/math/accumulate_level_over_label_fc.py
  src/ansys/dpf/core/operators/math/accumulate_min_over_label_fc.py
  src/ansys/dpf/core/operators/math/accumulate_over_label_fc.py
  src/ansys/dpf/core/operators/math/average_over_label_fc.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

feat: add DataSources.streams_container (#2704)
  src/ansys/dpf/core/data_sources.py
  tests/test_datasources.py
Labels: none

Update generated code for DPF 261_daily on main (#2710)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2714)
  src/ansys/dpf/core/operators/result/__init__.py
  src/ansys/dpf/core/operators/result/node_orientations.py
  src/ansys/dpf/core/operators/result/node_orientations_X.py
  src/ansys/dpf/core/operators/result/node_orientations_Y.py
  src/ansys/dpf/core/operators/result/node_orientations_Z.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

feat(operator_doc): allow plugin load to fail for composites and sound (#2709)
  src/ansys/dpf/core/documentation/generate_operators_doc.py
Labels: none

Modify index as new result is added (#2706)
  examples/05-file-IO/02-hdf5_serialize_and_read.py
  src/ansys/dpf/core/available_result.py
  src/ansys/dpf/core/result_info.py
  tests/test_resultinfo.py
Labels: documentation

Update generated code for DPF 261_daily on main (#2719)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

ci(retro): switch to sp04 for 252 (#2717)
  .github/workflows/ci.yml
  .github/workflows/ci_release.yml
Labels: CI/CD

ci(test): Test docstrings against latest released DPF in the dev pipelines (#2723)
  .github/workflows/ci.yml
Labels: CI/CD

Test: update tests due to change in result order in result info for MAPDL (#2713)
  src/ansys/dpf/core/available_result.py
  src/ansys/dpf/core/result_info.py
  tests/test_resultinfo.py
Labels: none

feat(operator_doc): show supported files in operator documentation Markdown sources (#2702)
  pyproject.toml
  src/ansys/dpf/core/documentation/generate_operators_doc.py
  src/ansys/dpf/core/documentation/operator_doc_template.j2
Labels: none

fix(typing): improve accuracy of type propagation for collections (#2724)
  src/ansys/dpf/core/collection.py
Labels: none

Update generated code for DPF 261_daily on main (#2725)
  src/ansys/dpf/core/operators/__init__.py
  src/ansys/dpf/core/operators/info/__init__.py
  src/ansys/dpf/core/operators/info/markdown_latex_example.py
  src/ansys/dpf/core/operators/result/__init__.py
  src/ansys/dpf/core/operators/result/layer_orientation_provider.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Remove _result_properties (#2365)
  src/ansys/dpf/core/available_result.py
  src/ansys/dpf/core/result_info.py
  src/ansys/dpf/core/results.py
Labels: none

Update generated code for DPF 261_daily on main (#2728)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Fixes
  doc/source/user_guide/tutorials/data_structures/collections.rst
Labels: documentation

Fixes
  doc/source/user_guide/tutorials/data_structures/collections.rst
Labels: documentation

Fixes
  doc/source/user_guide/tutorials/data_structures/collections.rst
Labels: documentation

small changes
  tests/conftest.py
  tests/test_cff.py
Labels: none

ci(build): fix ``build_wheel.py`` if no version file in ``gatebin``
  .ci/build_wheel.py
Labels: CI/CD

ci(build): fix ``build_wheel.py`` if no version file in ``gatebin`` (#2753)
  .ci/build_wheel.py
Labels: CI/CD

docs: Update ``CONTRIBUTORS.md`` with the latest contributors (#2651)
  CONTRIBUTORS.md
Labels: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

CHORE: Update missing or outdated files (#2715)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Labels: maintenance

fix(operator): fix Outputs class generated operators
  src/ansys/dpf/core/dpf_operator.py
  src/ansys/dpf/core/operators/operator.mustache
  tests/test_codegeneration.py
Labels: none

Update operator.mustache
  src/ansys/dpf/core/operators/operator.mustache
Labels: none

Fix case of no inputs
  src/ansys/dpf/core/dpf_operator.py
Labels: none

Add tests and version
  tests/conftest.py
  tests/test_cff.py
Labels: none

Put back conftests
  tests/conftest.py
Labels: none

Invert if
  tests/test_cff.py
Labels: none

Fix case of derived class
  src/ansys/dpf/core/outputs.py
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2760)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/gate/generated/capi.py
  src/ansys/dpf/gate/generated/data_processing_abstract_api.py
  src/ansys/dpf/gate/generated/data_processing_capi.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none
