Repository ansys/pydpf-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, CI/CD

refactor(collection): refactor `CollectionBase` enumeration behavior to fix typehint (#2878)
  src/ansys/dpf/core/collection_base.py
Labels: none

Refactor the tutorial with suggestions
  doc/source/user_guide/tutorials/data_structures/collections.rst
Labels: documentation

Update requirements_test.txt
  requirements/requirements_test.txt
Labels: dependencies

refactor: use `add_point_labels` method of `_PyVistaPlotter` instead of that of `pv.Plotter`
  src/ansys/dpf/core/plotter.py
Labels: none

Refactor the tutorial with suggestions
  doc/source/user_guide/tutorials/data_structures/collections.rst
Labels: documentation

refactor: show correct values for min/max labels when plotting a field
  src/ansys/dpf/core/plotter.py
Labels: none

Fix the tutorial
  doc/source/user_guide/tutorials/data_structures/collections.rst
  doc/source/user_guide/tutorials/dpf_server/server_types.rst
Labels: documentation

fix: codestyle
  src/ansys/dpf/core/plotter.py
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

refactor(grpc): switch to using ansys-tools-common's cyberchannel module (#2880)
  pyproject.toml
  requirements/requirements_test.txt
  src/ansys/dpf/core/cyberchannel.py
  src/ansys/dpf/core/server_types.py
Labels: dependencies

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2885)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

maint: drop support for Python 3.9
  pyproject.toml
Labels: none

.github/labeler.yml:

documentation:
- doc/source/**/*
- examples/**/*
maintenance:
- .flake8
- CODE_OF_CONDUCT.md
- LICENSE
- README.md
- codecov.yml
- ignore_words.txt
- setup.py
dependencies:
- setup.py
- requirements/*
CI/CD:
- docker/**/*
- .github/**/*
- .ci/**/*
