Repository ansys/pydpf-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, CI/CD

ci: deactivate tox caching (#2428)
  .github/workflows/tests.yml
Labels: CI/CD

Add capability to return gdc property as any (#2422)
  src/ansys/dpf/core/any.py
  tests/test_generic_data_container.py
Labels: none

Update generated code for DPF 261_daily on master (#2429)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

feat(plotting): expose zoom kwarg from pyvista (#2431)
  examples/06-plotting/00-basic_plotting.py
  src/ansys/dpf/core/plotter.py
Labels: documentation

docs: Update ``CONTRIBUTORS.md`` with the latest contributors (#2434)
  CONTRIBUTORS.md
Labels: none

feat(doc): operator documentation generation (#2423)
  .ci/generate_operators_doc.py
  .gitignore
  doc/source/operators_doc/operator-specifications/operator_doc_template.md
  doc/source/operators_doc/operator-specifications/toc_template.j2
Labels: documentation, CI/CD

feat: expose modal location (#2438)
  src/ansys/dpf/core/common.py
Labels: none

Update generated code for DPF 261_daily on master (#2437)
  src/ansys/dpf/core/operators/result/creep_strain_intensity.py
  src/ansys/dpf/core/operators/result/creep_strain_max_shear.py
  src/ansys/dpf/core/operators/result/creep_strain_principal_1.py
  src/ansys/dpf/core/operators/result/creep_strain_principal_2.py
  src/ansys/dpf/core/operators/result/creep_strain_principal_3.py
  src/ansys/dpf/core/operators/result/elastic_strain_intensity.py
  src/ansys/dpf/core/operators/result/elastic_strain_max_shear.py
  src/ansys/dpf/core/operators/result/elastic_strain_principal_1.py
  src/ansys/dpf/core/operators/result/elastic_strain_principal_2.py
  src/ansys/dpf/core/operators/result/elastic_strain_principal_3.py
  src/ansys/dpf/core/operators/result/plastic_strain_intensity.py
  src/ansys/dpf/core/operators/result/plastic_strain_max_shear.py
  src/ansys/dpf/core/operators/result/plastic_strain_principal_1.py
  src/ansys/dpf/core/operators/result/plastic_strain_principal_2.py
  src/ansys/dpf/core/operators/result/plastic_strain_principal_3.py
  src/ansys/dpf/core/operators/result/stress_intensity.py
  src/ansys/dpf/core/operators/result/stress_max_shear.py
  src/ansys/dpf/core/operators/result/stress_principal_1.py
  src/ansys/dpf/core/operators/result/stress_principal_2.py
  src/ansys/dpf/core/operators/result/stress_principal_3.py
  src/ansys/dpf/core/operators/result/stress_von_mises.py
  src/ansys/dpf/core/operators/result/thermal_strain_principal_1.py
  src/ansys/dpf/core/operators/result/thermal_strain_principal_2.py
  src/ansys/dpf/core/operators/result/thermal_strain_principal_3.py
  src/ansys/dpf/core/operators/utility/extract_scoping.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Update generated code for DPF 261_daily on master (#2442)
  src/ansys/dpf/core/operators/min_max/min_max_over_time_by_entity.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

removed unused brackets in the operato_doc_template.md file (#2444)
  doc/source/operators_doc/operator-specifications/operator_doc_template.md
Labels: documentation

Update generated code for DPF 261_daily on master (#2445)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

test: improve result_info testing to allow for new results
  tests/test_resultinfo.py
Labels: none

ci(doc): add doc build examples caching (#2342)
  .github/workflows/docs.yml
  doc/source/conf.py
  doc/sphinx_utilities/reset_servers.py
  requirements/requirements_docs.txt
  tox.ini
Labels: documentation, dependencies, CI/CD

docs: Update ``CONTRIBUTORS.md`` with the latest contributors (#2447)
  CONTRIBUTORS.md
Labels: none

test: skip test_change_shell_layers temporarily (#2455)
  tests/operators/test_change_shell_layers.py
Labels: none

feat: improve pr doc deployment with labelling strategy (#2452)
  .github/workflows/ci.yml
  .github/workflows/label.yml
Labels: CI/CD

fix(doctest): fix the ScopingsContainer.plot docstring example (#2474)
  src/ansys/dpf/core/scopings_container.py
Labels: none

Disable CFF test (temporary) (#2469)
  tests/test_resultinfo.py
Labels: none

Update generated code for DPF 261_daily on master (#2471)
  src/ansys/dpf/core/operators/math/accumulation_per_scoping.py
  src/ansys/dpf/core/operators/result/workflow_energy_per_component.py
  src/ansys/dpf/core/operators/result/workflow_energy_per_harmonic.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

fix(ci): reactivate and fix doctests in ci.yml (#2478)
  .github/workflows/ci.yml
  src/ansys/dpf/core/field.py
  src/ansys/dpf/core/meshed_region.py
  src/ansys/dpf/core/meshes_container.py
  src/ansys/dpf/core/model.py
Labels: CI/CD

fix(doctest): fix doctests for plots of scopings (#2476)
  src/ansys/dpf/core/plotter.py
  src/ansys/dpf/core/scoping.py
Labels: none

fix(example): update version requirements for examples (#2475)
  examples/04-advanced/14-incremental_evaluation.py
  examples/05-file-IO/00-hdf5_double_float_comparison.py
  examples/05-file-IO/01-reduced_matrices_export.py
  examples/08-python-operators/00-wrapping_numpy_capabilities.py
  examples/08-python-operators/01-package_python_operators.py
  examples/08-python-operators/02-python_operators_with_dependencies.py
  examples/14-lsdyna/01-lsdyna_beam.py
  examples/16-maths-ops/01-matrix-operations.py
Labels: documentation

fix(example): fix retro with 25R1 and below for 00-basic_plotting.py (#2473)
  examples/06-plotting/00-basic_plotting.py
Labels: documentation

ci: use PAT for main/master sync (#2484)
  .github/workflows/ci.yml
Labels: CI/CD

ci: sync main with master branch (#2449)
  .github/workflows/ci.yml
  .github/workflows/update_operators.yml
  README.md
  src/ansys/dpf/core/examples/downloads.py
Labels: maintenance, CI/CD

ci: test master-main sync (#2482)
  run_client.bat
Labels: none

fix: main-master sync action (#2481)
  .github/workflows/ci.yml
Labels: CI/CD

Update generated code for DPF 261_daily on main (#2492)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Modify test for internal fluid variables (#2468)
  tests/test_resultinfo.py
Labels: none

Update generated code for DPF 261_daily on main (#2497)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Register beam results in the result properties dict (#2499)
  src/ansys/dpf/core/available_result.py
Labels: none

Update generated code for DPF 261_daily on main (#2500)
  src/ansys/dpf/core/operators/mesh/from_scoping.py
  src/ansys/dpf/gate/generated/capi.py
  src/ansys/dpf/gate/generated/property_field_abstract_api.py
  src/ansys/dpf/gate/generated/property_field_capi.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

doc(tutorials): Correct card of the "Custom operators" tutorial (#2494)
  doc/source/user_guide/tutorials/custom_operators_and_plugins/index.rst
Labels: documentation

Update generated code for DPF 261_daily on main (#2506)
  src/ansys/dpf/core/operators/math/compute_residual_and_error.py
  src/ansys/dpf/core/operators/result/__init__.py
  src/ansys/dpf/core/operators/result/gasket_deformation.py
  src/ansys/dpf/core/operators/result/gasket_deformation_X.py
  src/ansys/dpf/core/operators/result/gasket_deformation_XY.py
  src/ansys/dpf/core/operators/result/gasket_deformation_XZ.py
  src/ansys/dpf/core/operators/result/gasket_total_closure.py
  src/ansys/dpf/core/operators/result/gasket_total_closure_X.py
  src/ansys/dpf/core/operators/result/gasket_total_closure_XY.py
  src/ansys/dpf/core/operators/result/gasket_total_closure_XZ.py
  src/ansys/dpf/core/operators/utility/customtypefield_get_attribute.py
  src/ansys/dpf/core/operators/utility/field_get_attribute.py
  src/ansys/dpf/core/operators/utility/propertyfield_get_attribute.py
  src/ansys/dpf/core/operators/utility/set_property.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

doc: update the compatibility table (#2513)
  doc/source/getting_started/compatibility.rst
Labels: documentation

Deprecate renamed gasket_deformation operators (#2510)
  .ci/code_generation.py
  src/ansys/dpf/core/operators/result/__init__.py
  src/ansys/dpf/core/operators/result/gasket_deformation.py
  src/ansys/dpf/core/operators/result/gasket_deformation_X.py
  src/ansys/dpf/core/operators/result/gasket_deformation_XY.py
  src/ansys/dpf/core/operators/result/gasket_deformation_XZ.py
  tests/operators/test_gasket_deformation.py
Labels: CI/CD

ci(release): ci_release.yml targets 252 (#2515)
  .github/workflows/ci_release.yml
Labels: CI/CD

ci(release): ci_release.yml use repository variable ANSYS_VERSION_LAST_RELEASED (#2516)
  .github/workflows/ci_release.yml
Labels: CI/CD

ci: use repository variables for retro testing matrices (#2517)
  .github/workflows/ci.yml
  .github/workflows/ci_release.yml
Labels: CI/CD

Support PropertyField location after server changes (#2322)
  src/ansys/dpf/core/custom_type_field.py
  src/ansys/dpf/core/field.py
  src/ansys/dpf/core/field_base.py
  src/ansys/dpf/core/fields_factory.py
  src/ansys/dpf/core/property_field.py
  src/ansys/dpf/core/string_field.py
  src/ansys/dpf/gate/property_field_grpcapi.py
Labels: none

.github/labeler.yml:

documentation:
- doc/source/**/*
- examples/**/*
maintenance:
- .flake8
- CODE_OF_CONDUCT.md
- LICENSE
- README.md
- codecov.yml
- ignore_words.txt
- setup.py
dependencies:
- setup.py
- requirements/*
CI/CD:
- docker/**/*
- .github/**/*
- .ci/**/*
