Repository ansys/pydpf-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- doc/source/**/*
- examples/**/*
maintenance:
- .flake8
- CODE_OF_CONDUCT.md
- LICENSE
- README.md
- codecov.yml
- ignore_words.txt
- setup.py
dependencies:
- setup.py
- requirements/*
CI/CD:
- docker/**/*
- .github/**/*
- .ci/**/*

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2861)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

docs: Update ``CONTRIBUTORS.md`` with the latest contributors (#2862)
  CONTRIBUTORS.md
Labels: none

update generated code
  src/ansys/dpf/core/operators/logic/identical_fields.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Mention depencency conflicts for InProcess
  doc/source/user_guide/tutorials/dpf_server/server_types.rst
Labels: documentation

Add 2025R2 SP04 to list of versions with mTLS gRPC
  doc/source/user_guide/tutorials/dpf_server/server_types.rst
Labels: documentation

Fix tutorial API call
  doc/source/user_guide/tutorials/dpf_server/server_types.rst
Labels: documentation

Update doc/source/user_guide/tutorials/dpf_server/server_types.rst
  doc/source/user_guide/tutorials/dpf_server/server_types.rst
Labels: documentation

Update generated code for DPF 261_daily on main (#2865)
  src/ansys/dpf/core/operators/logic/identical_fields.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

doc(contributing): add information about code style requirements and tools (#2807)
  doc/source/getting_started/contribute/developer.rst
  doc/source/links.rst
Labels: documentation

tutorial(server): Add tutorial on server configurations (#2859)
  doc/source/user_guide/index.rst
  doc/source/user_guide/server_types.rst
  doc/source/user_guide/tutorials/dpf_server/index.rst
  doc/source/user_guide/tutorials/dpf_server/server_types.rst
  doc/source/user_guide/tutorials/index.rst
Labels: documentation

doc(vtk): expose the `vtk_helper.py` module in the API reference (#2832)
  doc/source/conf.py
  src/ansys/dpf/core/vtk_helper.py
Labels: documentation

ci(post): refactor the pydpf-post branch selection logic (#2812)
  .github/workflows/ci_release.yml
  .github/workflows/pydpf-post.yml
Labels: CI/CD

feat(workflow): add Workflow.required_plugins (#2729)
  src/ansys/dpf/core/workflow.py
  tests/test_workflow.py
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2867)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2873)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update tests/test_codegeneration.py
  tests/test_codegeneration.py
Labels: none

Update tests/test_codegeneration.py
  tests/test_codegeneration.py
Labels: none

Update tests/test_codegeneration.py
  tests/test_codegeneration.py
Labels: none

Update tests/test_codegeneration.py
  tests/test_codegeneration.py
Labels: none

refactor(collection): refactor CollectionBase enumeration behavior to fix typehints
  src/ansys/dpf/core/collection_base.py
Labels: none

Update src/ansys/dpf/core/collection_base.py
  src/ansys/dpf/core/collection_base.py
Labels: none

Fix logic in __next__
  src/ansys/dpf/core/collection_base.py
Labels: none

Bump to 0.15.1.dev0
  pyproject.toml
Labels: none

Bump to 0.15.1.dev0 (#2879)
  pyproject.toml
Labels: none

refactor(grpc): switch to using ansys-tools-common's cyberchannel module
  pyproject.toml
  src/ansys/dpf/core/cyberchannel.py
  src/ansys/dpf/core/server_types.py
Labels: none

wip
  pyproject.toml
  src/ansys/dpf/core/plotter.py
Labels: none

wip
  src/ansys/dpf/core/plotter.py
Labels: none

wip
  pyproject.toml
  src/ansys/dpf/core/plotter.py
Labels: none

wip
  src/ansys/dpf/core/plotter.py
Labels: none

wip
  src/ansys/dpf/core/meshed_region.py
  src/ansys/dpf/core/plotter.py
Labels: none

wip
  pyproject.toml
  src/ansys/dpf/core/plotter.py
Labels: none

wip
  src/ansys/dpf/core/plotter.py
Labels: none
