Repository ansys/pydpf-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, CI/CD

ci(doc): remove warning about doc build log upload (#2772)
  .github/workflows/docs.yml
Labels: CI/CD

test: add tests for CFF flprj files (#2640)
  tests/conftest.py
  tests/test_cff.py
Labels: none

Test workflows using install-dpf-server
  .github/workflows/docs.yml
  .github/workflows/examples.yml
  .github/workflows/pydpf-post.yml
  .github/workflows/tests.yml
  .github/workflows/update_operators.yml
Labels: CI/CD

Empty change to trigger a new test
  .github/workflows/ci.yml
Labels: CI/CD

update generated code
  src/ansys/dpf/core/operators/averaging/force_summation.py
  src/ansys/dpf/core/operators/averaging/force_summation_psd.py
  src/ansys/dpf/core/operators/utility/__init__.py
  src/ansys/dpf/core/operators/utility/get_operators.py
  src/ansys/dpf/gate/generated/any_abstract_api.py
  src/ansys/dpf/gate/generated/any_capi.py
  src/ansys/dpf/gate/generated/capi.py
  src/ansys/dpf/gate/generated/data_processing_abstract_api.py
  src/ansys/dpf/gate/generated/data_processing_capi.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

Update generated code for DPF 261_daily on main (#2775)
  src/ansys/dpf/core/operators/averaging/force_summation.py
  src/ansys/dpf/core/operators/averaging/force_summation_psd.py
  src/ansys/dpf/core/operators/utility/__init__.py
  src/ansys/dpf/core/operators/utility/get_operators.py
  src/ansys/dpf/gate/generated/any_abstract_api.py
  src/ansys/dpf/gate/generated/any_capi.py
  src/ansys/dpf/gate/generated/capi.py
  src/ansys/dpf/gate/generated/data_processing_abstract_api.py
  src/ansys/dpf/gate/generated/data_processing_capi.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
  src/ansys/dpf/gatebin/libDPFClientAPI.so
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

feat(operator_doc): provide operator usage examples
  src/ansys/dpf/core/documentation/generate_operators_doc.py
  src/ansys/dpf/core/documentation/operator_doc_template.j2
  src/ansys/dpf/core/mapping_types.py
Labels: none

Remove C# example part
  src/ansys/dpf/core/documentation/operator_doc_template.j2
Labels: none

Update src/ansys/dpf/core/documentation/generate_operators_doc.py
  src/ansys/dpf/core/documentation/generate_operators_doc.py
Labels: none

Update generated code for DPF 261_daily on main (#2776)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/core/operators/averaging/force_summation_psd.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/core/operators/averaging/force_summation_psd.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2779)
  src/ansys/dpf/core/operators/averaging/force_summation_psd.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2780)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2781)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

feat(operator_doc): include operator usage examples in the operator documentation (#2777)
  src/ansys/dpf/core/documentation/generate_operators_doc.py
  src/ansys/dpf/core/documentation/operator_doc_template.j2
  src/ansys/dpf/core/mapping_types.py
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2783)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

chore: update CODE_OF_CONDUCT.md file
  CODE_OF_CONDUCT.md
Labels: maintenance

chore: Update missing or outdated files (#2786)
  CODE_OF_CONDUCT.md
Labels: maintenance

update generated code
  src/ansys/dpf/core/operators/mesh/mesh_provider.py
  src/ansys/dpf/core/operators/mesh/meshes_provider.py
  src/ansys/dpf/core/operators/metadata/streams_provider.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2792)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

attempt to set to insecure mode
  .github/workflows/tests.yml
Labels: CI/CD

forward DPF_DEFAULT_GRPC_MODE env var
  tox.ini
Labels: none

Added insecure for ciparallel tests
  .github/workflows/tests.yml
Labels: CI/CD

comment assert
  tests/test_server.py
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

fix test_busy test
  tests/conftest.py
Labels: none

Revert "fix test_busy test"
  tests/conftest.py
Labels: none

fix test_busy_port
  tests/test_server.py
Labels: none

set insecure for examples
  .github/workflows/examples.yml
Labels: CI/CD

Update generated code for DPF 261_daily on main (#2793)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

set to insecure for building doc
  .github/workflows/docs.yml
Labels: CI/CD

test(doctest): loosen requirements on expected spec prints
  src/ansys/dpf/core/operator_specification.py
Labels: none

test(doctest): loosen requirements on expected spec prints (#2797)
  src/ansys/dpf/core/operator_specification.py
Labels: none

.github/labeler.yml:

documentation:
- doc/source/**/*
- examples/**/*
maintenance:
- .flake8
- CODE_OF_CONDUCT.md
- LICENSE
- README.md
- codecov.yml
- ignore_words.txt
- setup.py
dependencies:
- setup.py
- requirements/*
CI/CD:
- docker/**/*
- .github/**/*
- .ci/**/*
