Repository ansys/pydpf-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, CI/CD

chore: update CODE_OF_CONDUCT.md file
  CODE_OF_CONDUCT.md
Labels: maintenance

chore: update CONTRIBUTING.md file
  CONTRIBUTING.md
Labels: none

Update generated code for DPF 261_daily on main (#2714)
  src/ansys/dpf/core/operators/result/__init__.py
  src/ansys/dpf/core/operators/result/node_orientations.py
  src/ansys/dpf/core/operators/result/node_orientations_X.py
  src/ansys/dpf/core/operators/result/node_orientations_Y.py
  src/ansys/dpf/core/operators/result/node_orientations_Z.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Use ANSYS_VERSION_LAST_RELEASED_PATCH in ci_release.yml
  .github/workflows/ci_release.yml
Labels: CI/CD

Test 252.sp04 in ci.yml retro testing
  .github/workflows/ci.yml
Labels: CI/CD

Test 252.sp04 in ci.yml retro testing
  .github/workflows/ci.yml
Labels: CI/CD

Try a map for version + patch
  .github/workflows/ci.yml
Labels: CI/CD

Try a map for version + patch
  .github/workflows/ci.yml
Labels: CI/CD

Use map for version + patch in ci_release.yml
  .github/workflows/ci_release.yml
Labels: CI/CD

Use map for version + patch in ci_release.yml
  .github/workflows/ci_release.yml
Labels: CI/CD

Set fail-fast=false for test matrix on ci_release.yml
  .github/workflows/ci_release.yml
Labels: CI/CD

ci(retro): switch to sp04 for 252 (#2717)
  .github/workflows/ci.yml
  .github/workflows/ci_release.yml
Labels: CI/CD

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2719)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

fix
  tests/test_resultinfo.py
Labels: none

Fix bad type-hint in docstring of Python operator classes
  src/ansys/dpf/core/operators/operator.mustache
Labels: none

Update src/ansys/dpf/core/available_result.py
  src/ansys/dpf/core/available_result.py
Labels: none

Update src/ansys/dpf/core/result_info.py
  src/ansys/dpf/core/result_info.py
Labels: none

ci(test): Test docstrings against latest released DPF in the dev pipelines
  .github/workflows/ci.yml
Labels: CI/CD

fix(typing): improve accuracy of type propagation for collections
  src/ansys/dpf/core/collection.py
Labels: none

fix: use more appropriate type parameter names
  src/ansys/dpf/core/collection.py
Labels: none

ci(test): Test docstrings against latest released DPF in the dev pipelines (#2723)
  .github/workflows/ci.yml
Labels: CI/CD

fix(typing): improve accuracy of type propagation for collections (#2724)
  src/ansys/dpf/core/collection.py
Labels: none

Test: update tests due to change in result order in result info for MAPDL (#2713)
  src/ansys/dpf/core/available_result.py
  src/ansys/dpf/core/result_info.py
  tests/test_resultinfo.py
Labels: none

Fix CommonResults
  src/ansys/dpf/core/results.py
Labels: none

update generated code
  src/ansys/dpf/core/operators/__init__.py
  src/ansys/dpf/core/operators/info/__init__.py
  src/ansys/dpf/core/operators/info/markdown_latex_example.py
  src/ansys/dpf/core/operators/result/__init__.py
  src/ansys/dpf/core/operators/result/layer_orientation_provider.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

feat(operator_doc): show supported files in operator documentation Markdown sources (#2702)
  pyproject.toml
  src/ansys/dpf/core/documentation/generate_operators_doc.py
  src/ansys/dpf/core/documentation/operator_doc_template.j2
Labels: none

Update generated code for DPF 261_daily on main (#2725)
  src/ansys/dpf/core/operators/__init__.py
  src/ansys/dpf/core/operators/info/__init__.py
  src/ansys/dpf/core/operators/info/markdown_latex_example.py
  src/ansys/dpf/core/operators/result/__init__.py
  src/ansys/dpf/core/operators/result/layer_orientation_provider.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Remove _result_properties (#2365)
  src/ansys/dpf/core/available_result.py
  src/ansys/dpf/core/result_info.py
  src/ansys/dpf/core/results.py
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

update generated code
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

Update generated code for DPF 261_daily on main (#2728)
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

feat(workflow): add Workflow.required_plugins
  src/ansys/dpf/core/workflow.py
  tests/test_workflow.py
Labels: none

Sort the plugin names
  src/ansys/dpf/core/workflow.py
Labels: none

Update the doctest
  src/ansys/dpf/core/workflow.py
Labels: none

Update the doctest
  src/ansys/dpf/core/workflow.py
Labels: none

Use an operator from a plugin available with 222
  src/ansys/dpf/core/workflow.py
  tests/test_workflow.py
Labels: none

update generated code
  src/ansys/dpf/core/operators/result/PL2.py
  src/ansys/dpf/core/operators/result/__init__.py
  src/ansys/dpf/core/operators/result/acoustic_energy_density.py
  src/ansys/dpf/core/operators/result/input_sound_power.py
  src/ansys/dpf/core/operators/result/output_sound_power.py
  src/ansys/dpf/gatebin/DPFClientAPI.dll
Labels: none

feat: improve typing of operators
  src/ansys/dpf/core/inputs.py
  src/ansys/dpf/core/operators/build.py
  src/ansys/dpf/core/operators/operator.mustache
  src/ansys/dpf/core/operators/result/stress.py
  src/ansys/dpf/core/outputs.py
Labels: none

fix: revert changes to stress.py
  src/ansys/dpf/core/operators/result/stress.py
Labels: none

.github/labeler.yml:

documentation:
- doc/source/**/*
- examples/**/*
maintenance:
- .flake8
- CODE_OF_CONDUCT.md
- LICENSE
- README.md
- codecov.yml
- ignore_words.txt
- setup.py
dependencies:
- setup.py
- requirements/*
CI/CD:
- docker/**/*
- .github/**/*
- .ci/**/*
