Repository ansys/pydpf-core, pull requests merged in 2022-12, with the labels that each got.

#661 Refactor Concepts into its own top section.
  docs/source/concepts/concepts.rst
  docs/source/concepts/index.rst
  docs/source/concepts/stepbystep.rst
  docs/source/concepts/waysofusing.rst
  docs/source/index.rst
  docs/source/user_guide/index.rst
Labels: documentation

#675 Documentation: improvements for the DPF Server getting started section
  ansys/dpf/core/server_context.py
  docs/source/getting_started/compatibility.rst
  docs/source/getting_started/index.rst
  docs/source/getting_started/install.rst
  docs/source/user_guide/getting_started_with_dpf_server.rst
  docs/source/user_guide/server_context.rst
  docs/source/user_guide/troubleshooting.rst
Labels: documentation

#672 Fix testfiles path
  tests/conftest.py
  tests/test_python_plugins.py
Labels: maintenance

#671 Add links to the DPF Server page on the Ansys Customer Portal
  docs/source/getting_started/index.rst
  docs/source/user_guide/getting_started_with_dpf_server.rst
Labels: documentation

#682 Documentation: add details about DPFPreviewLicenseAgreement
  docs/source/user_guide/getting_started_with_dpf_server.rst
Labels: documentation

#654 Reduce the number of ignored words for Codespell
  .github/workflows/ci.yml
  .github/workflows/ci_release.yml
  docs/source/user_guide/getting_started_with_dpf_server.rst
  examples/04-file-IO/04-basic-load-file.py
  ignore_words.txt
  src/ansys/dpf/core/collection.py
  tests/test_lsdyna.py
  tests/test_operator.py
  tests/test_workflow.py
Labels: CI/CD

#689 Force doc style check with Vale before building the doc
  .github/workflows/docs-style.yml
  .github/workflows/docs.yml
  .pre-commit-config.yaml
  docs/source/user_guide/getting_started_with_dpf_server.rst
  docs/source/user_guide/operators.rst
  docs/source/user_guide/server_context.rst
  docs/source/user_guide/server_types.rst
  docs/styles/Vocab/ANSYS/accept.txt
Labels: CI/CD

#704 Temporarily pin numpy dependency due to deprecated np.int and np.float
  setup.py
Labels: bug, CI/CD

#709 CI/CD: bump version to 0.7.3.dev0 and fix CI Release scripts for release 0.7.2
  .github/workflows/ci_release.yml
  src/ansys/dpf/core/_version.py
Labels: CI/CD

#721 Enable manual run of the CI
  .github/workflows/ci.yml
Labels: CI/CD

#722 Only call doc-style (Vale) if called by a PR or a push.
  .github/workflows/ci.yml
  .github/workflows/ci_release.yml
  .github/workflows/docs.yml
Labels: CI/CD
