Repository ansys/pydpf-core, pull requests merged in 2022-11, with the labels that each got.

#607 Update README.md install command for development
  README.md
Labels: documentation

#614 Expose polygon and polyhedron elements
  ansys/dpf/core/meshed_region.py
  ansys/dpf/core/vtk_helper.py
  examples/09-fluids/00-create_polygons_and_polyhedrons.py
  tests/test_plotter.py
Labels: enhancement

#633 Define the default server context with ANSYS_DPF_SERVER_CONTEXT
  ansys/dpf/core/server_context.py
  tests/test_service.py
Labels: enhancement

#635 Ask for Ansys version in bug issue template
  .github/ISSUE_TEMPLATE/bug.yml
Labels: maintenance

#608 Update the pipelines for DPF 2023.2.pre0
  .github/workflows/ci.yml
  .github/workflows/ci_release.yml
  .github/workflows/docs.yml
  .github/workflows/examples.yml
  .github/workflows/gate.yml
  .github/workflows/pydpf-post.yml
  .github/workflows/test_docker.yml
  .github/workflows/tests.yml
  ansys/dpf/core/field_base.py
  ansys/dpf/core/server_factory.py
  ansys/dpf/core/server_types.py
  ansys/dpf/core/workflow.py
  examples/00-basic/04-basic-load-file.py
  examples/00-basic/05-use_local_data.py
  examples/00-basic/06-load_plugin.py
  examples/00-basic/13-nodes_in_local_coordinate_system.py
  examples/02-modal-harmonic/00-multi_harmonic.py
  examples/02-modal-harmonic/04-modal_superposition.py
  examples/03-advanced/01-solve_harmonic_problem.py
  examples/03-advanced/02-volume_averaged_stress.py
  examples/03-advanced/03-exchange_data_between_servers.py
  examples/03-advanced/04-extrapolation_stress_3d.py
  examples/03-advanced/05-extrapolation_strain_2d.py
  examples/03-advanced/06-stress_gradient_path.py
  examples/04-specific-requests/00-hdf5_double_float_comparison.py
  examples/04-specific-requests/01-reduced_matrices_export.py
  examples/05-plotting/00-basic_plotting.py
  examples/05-plotting/04-plot_on_path.py
  examples/05-plotting/05-plot_on_warped_mesh.py
  examples/06-distributed-post/02-distributed-msup_expansion.py
  examples/06-distributed-post/03-distributed-msup_expansion_steps.py
  examples/06-distributed-post/06-distributed_stress_averaging.py
  examples/07-python-operators/00-wrapping_numpy_capabilities.py
  examples/07-python-operators/01-package_python_operators.py
  examples/07-python-operators/02-python_operators_with_dependencies.py
  examples/08-averaging/01-average_across_bodies.py
  tests/test_launcher.py
  tests/test_server.py
  tests/test_service.py
  tests/test_workflow.py
Labels: CI/CD

#647 Remove concurrency on CI when not a PR
  .github/workflows/ci.yml
Labels: CI/CD

#648 Bump version to 0.7.1.dev0
  ansys/dpf/core/_version.py
Labels: maintenance

#649 Bump required ansys-dpf-gate to 0.3.* in setup.py
  setup.py
Labels: maintenance

#642 Fix doc getting started
  docs/source/_static/custom.css
  docs/source/_static/simple_example.rst
  docs/source/getting_started/index.rst
  docs/source/images/plotting/crankshaft_disp.png
  docs/source/user_guide/fields_container.rst
  docs/source/user_guide/model.rst
  docs/source/user_guide/operators.rst
Labels: documentation

#650 Update the compatibility documentation
  docs/source/getting_started/compatibility.rst
Labels: documentation

#652 Documentation: Doc/update python environment if getting new Ansys version
  docs/source/getting_started/compatibility.rst
Labels: documentation

#637 Documentation: Add ServerContext, ServerConfiguration and GettingStartedWithDPFServer sections
  ansys/dpf/core/server_context.py
  docs/source/images/drawings/dpf_server_client.png
  docs/source/images/drawings/entry_premium.png
  docs/source/images/drawings/remote_machines.png
  docs/source/index.rst
  docs/source/user_guide/getting_started_with_dpf_server.rst
  docs/source/user_guide/how_to.rst
  docs/source/user_guide/index.rst
  docs/source/user_guide/server_context.rst
  docs/source/user_guide/server_types.rst
Labels: documentation
