Repository ansys/pydpf-core, pull requests merged in 2022-06, with the labels that each got.

#251 ANSYS_PATH environment variable for default installation
  ansys/dpf/core/server.py
Labels: bug

#247 Fix wrong support email in Contributing
  docs/source/contributing.rst
Labels: documentation, invalid

#256 Improve Compatibility documentation
  .github/ISSUE_TEMPLATE/bug.yml
  README.md
  docs/source/getting_started/index.rst
  docs/source/getting_started/install.rst
Labels: documentation, enhancement, good first issue

#179 Stress gradient path example
  ansys/dpf/core/examples/downloads.py
  examples/03-advanced/06-stress_gradient_path.py
  setup.py
Labels: examples

#261 Add a file.exists() check for the server executable.
  ansys/dpf/core/server.py
  tests/test_launcher.py
Labels: enhancement

#262 Ci/add concurrency-add back feature template
  .github/ISSUE_TEMPLATE/feature.yml
  .github/workflows/ci.yml
  .github/workflows/style.yml
Labels: CI/CD

#259 Fixes the use of notebook argument for plot commands
  ansys/dpf/core/field.py
  ansys/dpf/core/meshed_region.py
  ansys/dpf/core/plotter.py
  examples/05-plotting/00-basic_plotting.py
Labels: bug

#271 Temporary fix due to breaking change with protobuf >=4.*
  setup.py
Labels: bug

#270 Rename ANSYS_PATH env as ANSYS_DPF_PATH
  ansys/dpf/core/server.py
Labels: enhancement
