Repository ansys/pydpf-core, pull requests merged in 2022-10, with the labels that each got.

#531 doc warnings
  .ci/build_doc.bat
Labels: CI/CD

#533 Fix animator and reduce testing time
  ansys/dpf/core/animator.py
  tests/test_animator.py
Labels: bug

#536 collection delete fix
  ansys/dpf/core/collection.py
Labels: bug

#525 Fix the compatibility table for R222
  docs/source/getting_started/compatibility.rst
Labels: documentation

#513 Update MeshedRegion.grid coordinates when necessary and clear data before plotting.
  .github/workflows/ci.yml
  ansys/dpf/core/meshed_region.py
  ansys/dpf/core/plotter.py
  ansys/dpf/core/vtk_helper.py
  tests/test_meshregion.py
Labels: bug

#468 Fix code quality warnings
  tests/test_operator.py
  tests/test_stringfield.py
  tests/test_workflow.py
Labels: maintenance

#485 Typo in custom operators documentation.
  docs/source/user_guide/custom_operators.rst
Labels: documentation

#561 Add grpc version mapping for 232.
  ansys/dpf/core/_version.py
  ansys/dpf/core/server_types.py
Labels: maintenance

#570 Fix FieldsContainer.animate for specific cases.
  ansys/dpf/core/fields_container.py
  examples/05-plotting/06-animate_results.py
  tests/test_animator.py
Labels: bug

#573 Bump to 0.6.2.dev0
  ansys/dpf/core/_version.py
Labels: maintenance

#532 Feature/custom type field
  ansys/dpf/core/__init__.py
  ansys/dpf/core/_custom_operators_helpers.py
  ansys/dpf/core/common.py
  ansys/dpf/core/custom_type_field.py
  ansys/dpf/core/dimensionality.py
  ansys/dpf/core/dpf_operator.py
  ansys/dpf/core/field.py
  ansys/dpf/core/field_base.py
  ansys/dpf/core/generic_support.py
  ansys/dpf/core/property_field.py
  ansys/dpf/core/string_field.py
  ansys/dpf/core/workflow.py
  tests/conftest.py
  tests/test_custom_type_field.py
  tests/test_field.py
  tests/test_operator.py
  tests/test_python_plugins.py
  tests/test_workflow.py
  tests/testfiles/pythonPlugins/all_types/dpf_types_op.py
  tests/testfiles/pythonPlugins/all_types/load_operators_func.py
Labels: enhancement

#582 Fix deformation in fields container animate
  ansys/dpf/core/fields_container.py
  examples/05-plotting/06-animate_results.py
Labels: bug

#585 Fix fields container animate key for Linux
  ansys/dpf/core/animator.py
  ansys/dpf/core/fields_container.py
  examples/05-plotting/06-animate_results.py
Labels: bug

#590 Bump to 0.6.3.dev0
  ansys/dpf/core/_version.py
Labels: maintenance

#470 Reorganize testing
  .ci/run_examples.py
  .github/workflows/ci.yml
  .github/workflows/ci_release.yml
  .github/workflows/docs.yml
  .github/workflows/examples.yml
  .github/workflows/gate.yml
  .github/workflows/pydpf-post.yml
  .github/workflows/releaser.yml
  .github/workflows/test_docker.yml
  .github/workflows/tests.yml
  ansys/dpf/core/check_version.py
  tests/test_checkversion.py
Labels: CI/CD
