Repository ansys/pydpf-core, pull requests merged in 2022-09, with the labels that each got.

#471 Run retro tests on every PR
  .github/workflows/ci.yml
Labels: CI/CD

#469 Expose streams as StreamsContainer for InProcess.
  ansys/dpf/core/__init__.py
  ansys/dpf/core/common.py
  ansys/dpf/core/dpf_operator.py
  ansys/dpf/core/model.py
  ansys/dpf/core/outputs.py
  ansys/dpf/core/streams_container.py
  tests/conftest.py
  tests/test_streams_container.py
Labels: enhancement

#482 Bump to 0.6.1dev0
  ansys/dpf/core/_version.py
Labels: maintenance

#486 Fix Ansys R212 compatibility issue.
  ansys/dpf/core/support.py
Labels: bug

#481 Mirror fix to the TFS pipeline
  ansys/dpf/core/settings.py
Labels: CI/CD

#392 Add a template for documentation issues
  .github/ISSUE_TEMPLATE/documentation.yml
Labels: CI/CD

#491 Add necessary check after documentation build
  .github/workflows/ci.yml
  ansys/dpf/core/streams_container.py
  docs/source/getting_started/install.rst
  examples/03-advanced/02-volume_averaged_stress.py
  examples/06-distributed-post/02-distributed-msup_expansion.py
Labels: CI/CD

#500 Improve TypeHints
  docs/source/conf.py
Labels: documentation
