Repository ansys/pydpf-core, pull requests merged in 2022-07, with the labels that each got.

#292 Build and Test using pydpf-actions - generate wheelhouse
  .github/workflows/ci.yml
Labels: CI/CD

#290 Ignore dependabot automatic PRs for style check
  .github/workflows/style.yml
Labels: CI/CD

#291 Dependabot ignores VTK
  .github/dependabot.yml
  .github/workflows/ci.yml
Labels: CI/CD

#269 Feat/plot warped mesh
  ansys/dpf/core/field.py
  ansys/dpf/core/meshed_region.py
  ansys/dpf/core/meshes_container.py
  ansys/dpf/core/model.py
  ansys/dpf/core/plotter.py
  examples/05-plotting/05-plot_on_warped_mesh.py
  tests/test_plotter.py
Labels: enhancement, examples

#310 Add a retrocompatibility workflow
  .github/workflows/retro.yml
  ansys/dpf/core/meshed_region.py
  tests/test_meshregion.py
Labels: CI/CD

#330 Fix a typo in the user guide
  docs/source/user_guide/operators.rst
Labels: documentation

#351 Add wheelhouse generation for CI
  .github/workflows/ci.yml
Labels: enhancement, CI/CD

#337 Add averaging example
  ansys/dpf/core/examples/downloads.py
  docs/source/examples/07-averaging/00-compute_and_average.dot
  docs/source/examples/07-averaging/00-compute_and_average.svg
  examples/07-averaging/00-compute_and_average.py
  examples/07-averaging/README.txt
  tests/test_examples.py
Labels: examples

#341 Add testing on Linux for ANSYSR222
  .github/workflows/ci.yml
  ansys/dpf/core/misc.py
  docs/source/getting_started/install.rst
  tests/conftest.py
  tests/test_server.py
Labels: CI/CD

#352 Use DPF_SERVER_TYPE environment variable to switch the default server type
  .ci/run_examples.py
  .ci/run_non_regression_examples.py
  ansys/dpf/core/server_factory.py
  tests/conftest.py
  tests/test_launcher.py
  tests/test_workflow.py
Labels: enhancement

#359 Add a PR labeler
  .github/labeler.yml
  .github/workflows/label.yml
Labels: CI/CD
