Repository ansys/pydpf-core, pull requests merged in 2023-08, with the labels that each got.

#957 Move imageio and imageio-ffmpeg to optional [plotting] dependencies
  .ci/display_test.py
  .ci/requirements_test_xvfb.txt
  pyproject.toml
  requirements/requirements_docs.txt
  requirements/requirements_install.txt
  requirements/requirements_test.txt
Labels: maintenance, dependencies

#946 Incremental workflow evaluation
  examples/04-advanced/14-incremental_evaluation.py
  src/ansys/dpf/core/__init__.py
  src/ansys/dpf/core/incremental.py
  src/ansys/dpf/core/time_freq_scoping_factory.py
  tests/test_incremental.py
Labels: enhancement

#1092 Fix gltf plugin python 3.10
  docs/source/user_guide/create_sites_for_python_operators.ps1
  docs/source/user_guide/create_sites_for_python_operators.sh
Labels: bug

#1099 Bump to 0.9.1.dev0
  pyproject.toml
  requirements/requirements_dev.txt
  src/ansys/dpf/core/_version.py
Labels: maintenance

#1106 Documentation: update C++ documentation links to target Developer Portal
  docs/source/concepts/waysofusing.rst
  docs/source/index.rst
Labels: documentation

#1107 Restrict protobof<4
  pyproject.toml
  requirements/requirements_test.txt
Labels: bug, dependencies

#1118 Fix doc release deployment
  .github/workflows/ci.yml
  .github/workflows/ci_release.yml
  .github/workflows/docs.yml
  .github/workflows/releaser.yml
Labels: bug, CI/CD

#1119 Add class signature type-hinting
  docs/source/conf.py
  src/ansys/dpf/core/any.py
Labels: documentation

#1124 Fix some bad formatting and links
  README.md
  docs/source/index.rst
Labels: documentation

#1127 Comment deprecated tests concerning velocity unit
  tests/test_lsdyna.py
Labels: bug

#1130 fix bug velocity unit
  tests/test_lsdyna.py
Labels: bug
