Repository ansys/pydpf-core, pull requests merged in 2023-10, with the labels that each got.

#1189 Mark example "HDF5 export and import operations" as requiring DPF 7.0
  examples/05-file-IO/02-hdf5_serialize_and_read.py
Labels: examples

#1190 Vale check modified only and ignore roles
  .github/workflows/docs-style.yml
  docs/.vale.ini
  docs/source/user_guide/operators.rst
Labels: CI/CD

#1191 Fix static operators documentation embedding
  docs/source/operator_reference_load.rst
Labels: documentation

#1192 Revert Vale filter to nofilter
  .github/workflows/docs-style.yml
Labels: CI/CD

#1193 Reorder documentation sections
  docs/source/index.rst
Labels: documentation

#1166 Produce OS-specific wheels
  .ci/build_wheel.py
  .github/workflows/ci.yml
  .github/workflows/ci_release.yml
  .github/workflows/docs.yml
  .github/workflows/examples.yml
  .github/workflows/examples_docker.yml
  .github/workflows/gate.yml
  .github/workflows/pydpf-post.yml
  .github/workflows/releaser.yml
  .github/workflows/test_docker.yml
  .github/workflows/tests.yml
  pyproject.toml
  requirements/requirements_build.txt
  setup.py
  src/ansys/dpf/core/server.py
  src/ansys/dpf/gate/load_api.py
  tests/test_service.py
Labels: CI/CD

#1197 Remove gate job from ci_release.yml
  .github/workflows/ci_release.yml
Labels: CI/CD

#1199 Make test_resultinfo.py retrocompatible with DPF 7.0
  tests/conftest.py
  tests/test_resultinfo.py
Labels: CI/CD

#1203 Revert "Update the iso_contours example using iso_surfaces operator"
  examples/12-fluids/03-fluids_isosurface.py
Labels: examples

#1205 Refactor version handling
  src/ansys/dpf/core/_version.py
  src/ansys/dpf/core/server_types.py
  tests/test_checkversion.py
  tests/test_server.py
Labels: enhancement, CI/CD

#1206 Update tests to handle issue with skin mesh
  tests/test_propertyfield.py
Labels: bug

#1208 Uncomment changes in mesh skin test
  tests/test_propertyfield.py
Labels: bug

#1213 Fix gltf
  docs/source/user_guide/create_sites_for_python_operators.ps1
  examples/08-python-operators/02-python_operators_with_dependencies.py
Labels: bug

#1210 Update supported Python versions
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/examples.yml
  .github/workflows/ci.yml
  .github/workflows/ci_release.yml
  .github/workflows/docs.yml
  .github/workflows/examples.yml
  .github/workflows/examples_docker.yml
  .github/workflows/pydpf-post.yml
  .github/workflows/releaser.yml
  .github/workflows/test_docker.yml
  .github/workflows/tests.yml
  docs/source/user_guide/create_sites_for_python_operators.ps1
  examples/08-python-operators/02-python_operators_with_dependencies.py
  pyproject.toml
Labels: CI/CD, dependencies

#1194 Remove restriction on protobuf
  pyproject.toml
Labels: dependencies

#1217 Fix path management for PyInstaller
  src/ansys/dpf/core/__init__.py
Labels: bug

#1219 Ignore Google.Headings warnings in Vale due to false positives
  docs/.vale.ini
Labels: CI/CD

#1218 Update compatibility and dependencies for 0.10.0
  README.md
  docs/source/getting_started/compatibility.rst
  docs/source/getting_started/dependencies.rst
  docs/source/getting_started/install.rst
  docs/source/user_guide/troubleshooting.rst
  docs/styles/Vocab/ANSYS/accept.txt
Labels: documentation

#1221 Only update the dev doc when pushing onto master
  .github/workflows/ci.yml
Labels: CI/CD

#1229 Make Release CI manually callable
  .github/workflows/releaser.yml
Labels: CI/CD

#1230 Add a checkout_ref optional argument to releaser.yml
  .github/workflows/releaser.yml
Labels: CI/CD

#1231 Remove criterion on v tag on branch calling the releaser.yml
  .github/workflows/ci_release.yml
  .github/workflows/releaser.yml
  .github/workflows/tests.yml
Labels: CI/CD

#1232 Fix wheelhouse naming
  .github/workflows/tests.yml
Labels: CI/CD

#1238 Fix units case in available result
  src/ansys/dpf/core/available_result.py
  tests/test_resultinfo.py
Labels: bug

#1239 Bump to 0.10.1.dev0
  pyproject.toml
  src/ansys/dpf/core/_version.py
Labels: maintenance

#1227 Fix standalone_branch_suffix parameter for update_operators.yml
  .github/workflows/update_operators.yml
Labels: CI/CD
