Repository ansys/pydpf-core, pull requests merged in 2023-06, with the labels that each got.

#970 Add fluent and CFX example files
  src/ansys/dpf/core/examples/downloads.py
  tests/conftest.py
  tests/test_examples.py
Labels: enhancement

#974 Remove problematic docstring example for core.download_file
  src/ansys/dpf/core/core.py
Labels: bug

#942 Fix/result info available qualifier labels
  src/ansys/dpf/core/result_info.py
  tests/test_resultinfo.py
Labels: bug

#972 Remove priority to AWPROOT+__ansys_version__
  src/ansys/dpf/core/misc.py
  src/ansys/dpf/core/server_factory.py
  src/ansys/dpf/core/server_types.py
  tests/test_launcher.py
Labels: bug

#975 Add more CFD examples
  src/ansys/dpf/core/examples/downloads.py
  tests/test_examples.py
Labels: enhancement

#983 Revert switch to 241 in ci_release.yml
  .github/workflows/ci_release.yml
Labels: CI/CD

#978 Update ResultInfo and AvailableResult print
  src/ansys/dpf/core/available_result.py
  src/ansys/dpf/core/result_info.py
  tests/conftest.py
  tests/test_resultinfo.py
Labels: enhancement

#987 Use dev wheels in update_operators.yml
  .github/workflows/update_operators.yml
Labels: CI/CD

#991 Improve operator update script
  .ci/code_generation.py
  src/ansys/dpf/core/operators/__init__.py
Labels: CI/CD

#992 Update codacy.yml
  codacy.yml
Labels: CI/CD

#1009 Documentation: add information about existing documentation and APIs
  docs/source/concepts/waysofusing.rst
  docs/source/getting_started/compatibility.rst
  docs/source/images/drawings/apis_2.png
  docs/source/index.rst
  docs/source/user_guide/getting_started_with_dpf_server.rst
Labels: documentation

#1012 Documentation: fix "DPF capabilities" in concepts section
  docs/source/concepts/waysofusing.rst
Labels: documentation

#1015 Improve AvailableResult.__repr__()
  src/ansys/dpf/core/available_result.py
  tests/test_resultinfo.py
Labels: enhancement
