Repository ansys/pydpf-core, pull requests merged in 2023-05, with the labels that each got.

#932 Fix imageio==2.28.0
  pyproject.toml
  requirements/requirements_install.txt
Labels: dependencies

#943 Remove pipelines warnings
  .github/workflows/ci.yml
  .github/workflows/ci_release.yml
  .github/workflows/docs.yml
  .github/workflows/examples.yml
  .github/workflows/examples_docker.yml
  .github/workflows/gate.yml
  .github/workflows/pydpf-post.yml
  .github/workflows/test_docker.yml
  .github/workflows/tests.yml
  .github/workflows/update_operators.yml
Labels: CI/CD

#949 Fix ci_release.yml/docker_examples call
  .github/workflows/ci_release.yml
Labels: CI/CD

#891 Introduce 7.0 server version for 2024R1
  src/ansys/dpf/core/_version.py
Labels: maintenance

#953 Switch from pyansys github org to ansys org
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/examples.yml
  .github/workflows/examples_docker.yml
  .github/workflows/gate.yml
  .github/workflows/label.yml
  .github/workflows/pydpf-post.yml
  .github/workflows/releaser.yml
  .github/workflows/test_docker.yml
  .github/workflows/tests.yml
  .github/workflows/update_operators.yml
  README.md
  docs/source/_static/dpf_operators.html
  docs/source/conf.py
  docs/source/contributing.rst
  docs/source/getting_started/install.rst
  docs/source/pydpf-core_clone_install.rst
  examples/08-python-operators/00-wrapping_numpy_capabilities.py
  examples/08-python-operators/01-package_python_operators.py
  examples/08-python-operators/02-python_operators_with_dependencies.py
  pyproject.toml
  src/ansys/dpf/core/examples/downloads.py
Labels: CI/CD, maintenance

#964 Add examples.yml issue template
  .github/ISSUE_TEMPLATE/examples.yml
Labels: CI/CD

#950 Enhance config documentation with examples
  src/ansys/dpf/core/config.py
  src/ansys/dpf/core/dpf_operator.py
Labels: documentation

#968 Update bug.yml
  .github/ISSUE_TEMPLATE/bug.yml
Labels: CI/CD
