Repository ansys/pydpf-core, pull requests merged in 2023-09, with the labels that each got.

#1133 Update compatibility for 2023R2 and 2024R1.pre1
  docs/source/getting_started/compatibility.rst
Labels: documentation

#1139 Fix bug 843531 - DPF: Access violation when DataSource is incorrectly constructed
  src/ansys/dpf/core/data_sources.py
  tests/test_datasources.py
Labels: bug

#1147 Allow 10 PRs for dependabot pip updates
  .github/dependabot.yml
Labels: maintenance

#1167 Adding euler angles into MAPDL result info provider
  tests/test_resultinfo.py
Labels: enhancement

#1170 Fix retro for test_get_resultinfo
  tests/test_resultinfo.py
Labels: bug

#1171 Update HeatingCoil.res by equivalent CFF files
  src/ansys/dpf/core/examples/downloads.py
  tests/test_cff.py
  tests/test_resultinfo.py
Labels: CI/CD
