Repository ansys/pydpf-core, pull requests merged in 2023-07, with the labels that each got.

#1018 Fix result_info._get_result with qualifiers
  src/ansys/dpf/core/result_info.py
  tests/test_resultinfo.py
Labels: bug

#1023 Clean-up Element.__str__
  src/ansys/dpf/core/elements.py
Labels: enhancement

#1007 Exposition of the mesh_info_provider in Python and output as derived class
  src/ansys/dpf/core/__init__.py
  src/ansys/dpf/core/common.py
  src/ansys/dpf/core/dpf_operator.py
  src/ansys/dpf/core/generic_data_container.py
  src/ansys/dpf/core/mesh_info.py
  src/ansys/dpf/core/model.py
  src/ansys/dpf/core/operator_specification.py
  src/ansys/dpf/core/operators/build.py
  src/ansys/dpf/core/operators/operator.mustache
  src/ansys/dpf/core/outputs.py
  tests/conftest.py
  tests/test_faces.py
  tests/test_mesh_info.py
  tests/test_python_plugins.py
  tests/test_resultinfo.py
Labels: enhancement

#1029 New API for MeshInfo
  src/ansys/dpf/core/generic_data_container.py
  src/ansys/dpf/core/mesh_info.py
  tests/test_any.py
  tests/test_generic_data_container.py
  tests/test_mesh_info.py
Labels: enhancement

#1020 Add tests on CFF results
  src/ansys/dpf/core/result_info.py
  tests/conftest.py
  tests/test_cff.py
  tests/test_resultinfo.py
Labels: bug

#1022 Examples: Add hdf5_serialize_and_read.py
  examples/05-file-IO/02-hdf5_serialize_and_read.py
Labels: documentation, examples

#937 Label space operator input accept Python dict
  src/ansys/dpf/core/mapping_types.py
Labels: bug

#1034 Remove star sign from dependencies in pyproject.toml
  pyproject.toml
Labels: bug, dependencies

#1045 Fix issues with PyVista 0.41.0
  docs/source/conf.py
  requirements/requirements_test.txt
  src/ansys/dpf/core/settings.py
Labels: bug, dependencies

#1027 Improve info on available qualifiers
  src/ansys/dpf/core/available_result.py
  src/ansys/dpf/core/examples/downloads.py
  src/ansys/dpf/core/result_info.py
  tests/slow/test_remoteworkflow.py
  tests/test_animator.py
  tests/test_cff.py
  tests/test_codegeneration.py
  tests/test_custom_type_field.py
  tests/test_cyclic_support.py
  tests/test_elements.py
  tests/test_examples.py
  tests/test_factories.py
  tests/test_geometry.py
  tests/test_launcher.py
  tests/test_operator.py
  tests/test_pathsupport.py
  tests/test_propertyfield.py
  tests/test_python_plugins.py
  tests/test_remote_workflow.py
  tests/test_resultinfo.py
  tests/test_scoping.py
  tests/test_server.py
  tests/test_session.py
  tests/test_stringfield.py
  tests/test_timefreqsupport.py
  tests/test_workflow.py
Labels: enhancement

#1046 Properly handle dict in operators generation
  docs/source/_static/dpf_operators.html
  src/ansys/dpf/core/operators/averaging/elemental_to_nodal.py
  src/ansys/dpf/core/operators/averaging/elemental_to_nodal_fc.py
  src/ansys/dpf/core/operators/build.py
  src/ansys/dpf/core/operators/geo/__init__.py
  src/ansys/dpf/core/operators/geo/transform_invariant_terms_rbd.py
  src/ansys/dpf/core/operators/math/modal_participation.py
  src/ansys/dpf/core/operators/result/density.py
  src/ansys/dpf/core/operators/result/dynamic_viscosity.py
  src/ansys/dpf/core/operators/result/enthalpy.py
  src/ansys/dpf/core/operators/result/entropy.py
  src/ansys/dpf/core/operators/result/epsilon.py
  src/ansys/dpf/core/operators/result/mach_number.py
  src/ansys/dpf/core/operators/result/mass_flow_rate.py
  src/ansys/dpf/core/operators/result/mass_fraction.py
  src/ansys/dpf/core/operators/result/mean_static_pressure.py
  src/ansys/dpf/core/operators/result/mean_temperature.py
  src/ansys/dpf/core/operators/result/mean_velocity.py
  src/ansys/dpf/core/operators/result/omega.py
  src/ansys/dpf/core/operators/result/rms_static_pressure.py
  src/ansys/dpf/core/operators/result/rms_temperature.py
  src/ansys/dpf/core/operators/result/rms_velocity.py
  src/ansys/dpf/core/operators/result/specific_heat.py
  src/ansys/dpf/core/operators/result/static_pressure.py
  src/ansys/dpf/core/operators/result/superficial_velocity.py
  src/ansys/dpf/core/operators/result/surface_heat_rate.py
  src/ansys/dpf/core/operators/result/temperature.py
  src/ansys/dpf/core/operators/result/thermal_conductivity.py
  src/ansys/dpf/core/operators/result/total_pressure.py
  src/ansys/dpf/core/operators/result/total_temperature.py
  src/ansys/dpf/core/operators/result/turbulent_kinetic_energy.py
  src/ansys/dpf/core/operators/result/turbulent_viscosity.py
  src/ansys/dpf/core/operators/result/velocity.py
  src/ansys/dpf/core/operators/result/volume_fraction.py
  src/ansys/dpf/core/operators/result/wall_shear_stress.py
  src/ansys/dpf/core/operators/result/write_cms_rbd_file.py
  src/ansys/dpf/core/operators/result/y_plus.py
  src/ansys/dpf/core/operators/utility/extract_sub_fc.py
  src/ansys/dpf/core/operators/utility/extract_sub_mc.py
  src/ansys/dpf/core/operators/utility/extract_sub_sc.py
  src/ansys/dpf/core/operators/utility/field_to_fc.py
  src/ansys/dpf/core/operators/utility/incremental_concatenate_as_fc.py
  src/ansys/dpf/core/operators/utility/make_label_space.py
  src/ansys/dpf/core/operators/utility/set_attribute.py
Labels: bug

#1021 Add examples for Fluids models
  .github/workflows/docs.yml
  examples/12-fluids/00-fluids_model.py
  examples/12-fluids/01-fluids_mesh.py
  examples/12-fluids/02-fluids_results.py
  examples/12-fluids/README.txt
  src/ansys/dpf/core/common.py
  src/ansys/dpf/core/core.py
  src/ansys/dpf/core/examples/downloads.py
  src/ansys/dpf/core/generic_data_container.py
  src/ansys/dpf/core/mesh_info.py
  src/ansys/dpf/core/meshed_region.py
  src/ansys/dpf/core/plotter.py
  tests/test_mesh_info.py
Labels: enhancement, examples

#1053 Patch pyvista doc issue in Windows with Elemental results
  .ci/build_doc.bat
  docs/make.bat
  docs/source/examples/04-advanced/02-volume_averaged_stress/sphx_glr_02-volume_averaged_stress_001.png
  docs/source/examples/12-fluids/02-fluids_results/sphx_glr_02-fluids_results_001.png
  docs/source/examples/12-fluids/02-fluids_results/sphx_glr_02-fluids_results_002.png
  docs/source/examples/12-fluids/02-fluids_results/sphx_glr_02-fluids_results_003.png
  docs/source/examples/12-fluids/02-fluids_results/sphx_glr_02-fluids_results_004.png
  docs/source/examples/12-fluids/02-fluids_results/sphx_glr_02-fluids_results_005.png
  docs/source/examples/12-fluids/02-fluids_results/sphx_glr_02-fluids_results_006.png
  docs/source/examples/12-fluids/02-fluids_results/sphx_glr_02-fluids_results_007.png
  docs/source/examples/12-fluids/02-fluids_results/sphx_glr_02-fluids_results_thumb.png
Labels: documentation, CI/CD

#1057 Add more coverage for MeshInfo and rev. comments from previous PR
  examples/12-fluids/00-fluids_model.py
  examples/12-fluids/02-fluids_results.py
  src/ansys/dpf/core/dpf_operator.py
  src/ansys/dpf/core/mesh_info.py
  tests/test_mesh_info.py
Labels: enhancement, examples

#1072 Documentation: update availability information of Custom Operators section
  docs/source/user_guide/custom_operators.rst
Labels: documentation, examples

#1036 Add "plot streamlines" capabilities
  examples/13-streamlines/00_plot_3d_streamlines.py
  examples/13-streamlines/01_plot_surface_streamlines.py
  examples/13-streamlines/README.txt
  src/ansys/dpf/core/animator.py
  src/ansys/dpf/core/faces.py
  src/ansys/dpf/core/helpers/streamlines.py
  src/ansys/dpf/core/helpers/utils.py
  src/ansys/dpf/core/plotter.py
Labels: documentation, enhancement, examples

#1059 Enhance the exposition of supported solver and related file format in DPF
  docs/source/getting_started/index.rst
  docs/source/index.rst
  docs/source/user_guide/operators.rst
Labels: documentation

#1073 Update doc for 2024 R1 pre0 and mark examples as requiring DPF 7.0
  docs/source/getting_started/compatibility.rst
  docs/source/operator_reference.rst
  docs/source/user_guide/getting_started_with_dpf_server.rst
  examples/12-fluids/00-fluids_model.py
  examples/12-fluids/01-fluids_mesh.py
  examples/12-fluids/02-fluids_results.py
  examples/12-fluids/03-fluids_isosurface.py
  examples/13-streamlines/00_plot_3d_streamlines.py
  examples/13-streamlines/01_plot_surface_streamlines.py
Labels: documentation, examples

#1076 Switch ci_release.yml to 241.1.pre0
  .github/workflows/ci_release.yml
Labels: CI/CD

#1079 Update README.md with file support
  README.md
Labels: documentation

#1080 Remove support for Python 3.7
  .github/workflows/ci_release.yml
  .github/workflows/gate.yml
  pyproject.toml
Labels: maintenance, dependencies

#1081 PyDPF-Core tests on release are not requirements
  .github/workflows/ci_release.yml
Labels: CI/CD
