Repository ansys/pydpf-core, pull requests merged in 2023-03, with the labels that each got.

#823 Add examples.download_harmonic_clamped_pipe and download_modal_frame
  src/ansys/dpf/core/examples/downloads.py
  tests/test_examples.py
Labels: examples

#820 Reorder modal/harmonic and cyclic symmetry examples and add 10-cyclic-symmetry/02-modal_cyclic_no_expansion
  examples/02-modal-harmonic/01-compare_modes.py
  examples/02-modal-harmonic/02-modal_superposition.py
  examples/02-modal-harmonic/03-read_distributed_files.py
  examples/02-modal-harmonic/04-cycles_to_failure.py
  examples/10-cyclic-symmetry/01-modal_cyclic.py
  examples/10-cyclic-symmetry/02-modal_cyclic_no_expansion.py
  examples/10-cyclic-symmetry/03-cyclic_multi_stage.py
  examples/10-cyclic-symmetry/README.txt
Labels: documentation, examples

#824 Fix Scoping.__init__ when initializing from ids which are not of type list.
  src/ansys/dpf/core/scoping.py
Labels: bug

#825 Revert last changes to operators.mesh.meshes_provider
  src/ansys/dpf/core/operators/mesh/meshes_provider.py
Labels: bug

#826 Reorganize examples
  .ci/run_examples.py
  .ci/run_non_regression_examples.py
  examples/02-modal_analyses/00-compare_modes.py
  examples/02-modal_analyses/README.txt
  examples/03-harmonic_analyses/00-multi_harmonic.py
  examples/03-harmonic_analyses/01-modal_superposition.py
  examples/03-harmonic_analyses/README.txt
  examples/04-advanced/00-multistage_advanced_options.py
  examples/04-advanced/01-solve_harmonic_problem.py
  examples/04-advanced/02-volume_averaged_stress.py
  examples/04-advanced/03-exchange_data_between_servers.py
  examples/04-advanced/04-extrapolation_stress_3d.py
  examples/04-advanced/05-extrapolation_strain_2d.py
  examples/04-advanced/06-stress_gradient_path.py
  examples/04-advanced/07-load_plugin.py
  examples/04-advanced/10-asme_secviii_divtwo.py
  examples/04-advanced/11-cycles_to_failure.py
  examples/04-advanced/12-read_distributed_files.py
  examples/04-advanced/README.txt
  examples/05-file-IO/00-hdf5_double_float_comparison.py
  examples/05-file-IO/01-reduced_matrices_export.py
  examples/05-file-IO/04-basic-load-file.py
  examples/05-file-IO/README.txt
  examples/06-plotting/00-basic_plotting.py
  examples/06-plotting/01-compare_results.py
  examples/06-plotting/02-solution_combination.py
  examples/06-plotting/03-labels.py
  examples/06-plotting/04-plot_on_path.py
  examples/06-plotting/05-plot_on_warped_mesh.py
  examples/06-plotting/06-animate_results.py
  examples/06-plotting/07-plot_on_geometries.py
  examples/06-plotting/README.txt
  examples/07-distributed-post/00-distributed_total_disp.py
  examples/07-distributed-post/01-distributed_workflows_on_remote.py
  examples/07-distributed-post/02-distributed-msup_expansion.py
  examples/07-distributed-post/03-distributed-msup_expansion_steps.py
  examples/07-distributed-post/06-distributed_stress_averaging.py
  examples/07-distributed-post/README.txt
  examples/08-python-operators/00-wrapping_numpy_capabilities.py
  examples/08-python-operators/01-package_python_operators.py
  examples/08-python-operators/02-python_operators_with_dependencies.py
  examples/08-python-operators/README.txt
  examples/09-averaging/00-compute_and_average.py
  examples/09-averaging/01-average_across_bodies.py
  examples/09-averaging/README.txt
  examples/10-mesh_operations/00-create_polygons_and_polyhedrons.py
  examples/10-mesh_operations/05-skin_extraction.py
  examples/10-mesh_operations/13-nodes_in_local_coordinate_system.py
  examples/10-mesh_operations/README.txt
  examples/11-cyclic-symmetry/01-modal_cyclic.py
  examples/11-cyclic-symmetry/02-modal_cyclic_no_expansion.py
  examples/11-cyclic-symmetry/03-cyclic_multi_stage.py
  examples/11-cyclic-symmetry/README.txt
Labels: examples

#830 Remove part_hourglass_energy from test (file does not contain it)
  tests/test_lsdyna.py
Labels: bug

#828 Bump to 0.7.5.dev0
  pyproject.toml
  src/ansys/dpf/core/_version.py
Labels: maintenance

#833 Update license file year
  LICENSE
Labels: maintenance

#836 Bump to pyansys/doc_deploy@v4
  .github/workflows/ci.yml
  .github/workflows/releaser.yml
  docs/source/conf.py
  requirements/requirements_docs.txt
Labels: CI/CD

#834 Update email contacts in package metadata
  pyproject.toml
Labels: CI/CD

#848 update increments list
  docs/source/user_guide/getting_started_with_dpf_server.rst
Labels: documentation

#860 Fix doc style google style
  docs/source/user_guide/getting_started_with_dpf_server.rst
  docs/source/user_guide/server_context.rst
Labels: documentation

#864 Remove skipping cgns::pressure
  src/ansys/dpf/core/operators/build.py
Labels: CI/CD

#866 Unique operator static documentation
  .ci/build_operators_doc.py
  .ci/operator_doc_per_context.py
  .github/workflows/update_operators.yml
  docs/source/operator_reference.rst
  docs/source/operator_reference_load.rst
  docs/source/operator_reference_premium.rst
Labels: documentation, CI/CD

#871 Update unique static operators doc
  .github/workflows/tests.yml
  .github/workflows/update_operators.yml
  docs/source/_static/dpf_operators.html
  docs/source/_static/dpf_premium.html
Labels: documentation

#868 Update links to doc in Readme
  README.md
Labels: documentation

#867 Doc/corrections to premium as default
  docs/source/user_guide/getting_started_with_dpf_server.rst
  docs/source/user_guide/server_context.rst
  examples/00-basic/13-manage_licensing.py
  src/ansys/dpf/core/operator_specification.py
  src/ansys/dpf/core/server_context.py
Labels: documentation

#876 fix retro-compatibility of CI with .pre0
  examples/04-advanced/13-manage_licensing.py
Labels: CI/CD
