Repository ansys/pydpf-core, pull requests merged in 2023-04, with the labels that each got.

#878 Update compatibility table for 6.1
  docs/source/_static/dpf_operators.html
  docs/source/getting_started/compatibility.rst
Labels: documentation

#880 Bump to 0.8.1.dev0
  pyproject.toml
  src/ansys/dpf/core/_version.py
Labels: maintenance

#865 Added Mathematical operations doc page
  examples/00-basic/10-math_operations.py
Labels: documentation, examples

#885 Fix documentation deployment
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/releaser.yml
Labels: CI/CD

#888 Mark lsdyna_operators example as requiring DPF 6.1
  examples/01-transient_analyses/02-lsdyna_operators.py
Labels: examples

#873 Optimization of plotting methods: mesh_to_pyvista operator
  src/ansys/dpf/core/meshed_region.py
  src/ansys/dpf/core/outputs.py
  src/ansys/dpf/core/vtk_helper.py
Labels: enhancement

#883 Documentation: update to prepare DPF Server 2023_2_pre1 release
  docs/source/getting_started/index.rst
  docs/source/user_guide/getting_started_with_dpf_server.rst
Labels: documentation

#894 Switch standalone suffix to .pre1 in release CI
  .github/workflows/ci_release.yml
Labels: CI/CD

#822 Add animation for modal results
  .gitignore
  examples/02-modal_analyses/01-plot_and_animate_modes.py
  src/ansys/dpf/core/animation.py
  src/ansys/dpf/core/animator.py
  src/ansys/dpf/core/fields_container.py
  tests/test_animation.py
Labels: enhancement

#900 Fix upload-development-docs step in CI
  .github/workflows/ci.yml
Labels: CI/CD

#901 Fix upload-development-docs step in CI
  .github/workflows/ci.yml
  .github/workflows/releaser.yml
Labels: CI/CD

#902 Fix doc-deployment
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/releaser.yml
Labels: CI/CD

#903 Bump to 0.8.2.dev0
  pyproject.toml
  src/ansys/dpf/core/_version.py
Labels: maintenance

#918 Set master as default PyDPF-Post branch tested by CI
  .github/workflows/ci.yml
  .github/workflows/pydpf-post.yml
  .github/workflows/test_docker.yml
  examples/04-advanced/02-volume_averaged_stress.py
  src/ansys/dpf/core/outputs.py
Labels: CI/CD

#915 Fix/plot mesh as linear
  examples/09-averaging/00-compute_and_average.py
  src/ansys/dpf/core/meshed_region.py
  src/ansys/dpf/core/plotter.py
  src/ansys/dpf/core/vtk_helper.py
  tests/test_meshregion.py
Labels: bug

#924 Add support for mesh_to_pyvista after fixing last server issues
  src/ansys/dpf/core/vtk_helper.py
Labels: enhancement
