Repository ansys/pydpf-core, pull requests merged in 2023-01, with the labels that each got.

#660 Feature/rpc logger
  .github/workflows/ci.yml
  .github/workflows/test_docker.yml
  src/ansys/dpf/core/dpf_operator.py
  src/ansys/dpf/core/server_types.py
  src/ansys/dpf/core/session.py
  src/ansys/dpf/core/workflow.py
  tests/test_session.py
  tests/test_workflow.py
Labels: enhancement

#738 Fix links for wheels
  docs/source/getting_started/install.rst
Labels: documentation

#742 Add a "DPF Server" option in the issue template
  .github/ISSUE_TEMPLATE/bug.yml
Labels: maintenance

#755 Fix release pipeline, Vale style checking, and dev wheels management
  .github/workflows/ci.yml
  .github/workflows/ci_release.yml
  .github/workflows/docs-style.yml
  .github/workflows/docs.yml
  .github/workflows/examples.yml
  .github/workflows/pydpf-post.yml
  .github/workflows/test_docker.yml
  .github/workflows/tests.yml
Labels: CI/CD

#757 Improve `get_material_properties` example
  examples/00-basic/12-get_material_properties.py
Labels: examples

#759 Fix operator specification unit test for next server version
  tests/test_operator.py
Labels: bug

#758 Fix and improve plotter.DpfPlotter behavior
  examples/05-plotting/03-labels.py
  src/ansys/dpf/core/plotter.py
  tests/test_plotter.py
Labels: bug, documentation, enhancement

#771 Improve automatic operator update pipeline
  .github/workflows/update_operators.yml
Labels: CI/CD
