Repository ansys/pydpf-core, pull requests merged in 2023-02, with the labels that each got.

#695 UnitSystems supported in Python
  examples/01-transient_analyses/02-lsdyna_operators.py
  src/ansys/dpf/core/__init__.py
  src/ansys/dpf/core/dpf_operator.py
  src/ansys/dpf/core/examples/downloads.py
  src/ansys/dpf/core/inputs.py
  src/ansys/dpf/core/mapping_types.py
  src/ansys/dpf/core/operators/result/beam_axial_force.py
  src/ansys/dpf/core/operators/result/beam_axial_plastic_strain.py
  src/ansys/dpf/core/operators/result/beam_axial_stress.py
  src/ansys/dpf/core/operators/result/beam_axial_total_strain.py
  src/ansys/dpf/core/operators/result/beam_rs_shear_stress.py
  src/ansys/dpf/core/operators/result/beam_s_bending_moment.py
  src/ansys/dpf/core/operators/result/beam_s_shear_force.py
  src/ansys/dpf/core/operators/result/beam_t_bending_moment.py
  src/ansys/dpf/core/operators/result/beam_t_shear_force.py
  src/ansys/dpf/core/operators/result/beam_torsional_moment.py
  src/ansys/dpf/core/operators/result/beam_tr_shear_stress.py
  src/ansys/dpf/core/operators/result/global_added_mass.py
  src/ansys/dpf/core/operators/result/global_added_mass_pct.py
  src/ansys/dpf/core/operators/result/global_center_mass.py
  src/ansys/dpf/core/operators/result/global_energy_ratio.py
  src/ansys/dpf/core/operators/result/global_energy_ratio_wo_eroded.py
  src/ansys/dpf/core/operators/result/global_eroded_hourglass_energy.py
  src/ansys/dpf/core/operators/result/global_eroded_internal_energy.py
  src/ansys/dpf/core/operators/result/global_eroded_kinetic_energy.py
  src/ansys/dpf/core/operators/result/global_external_work.py
  src/ansys/dpf/core/operators/result/global_hourglass_energy.py
  src/ansys/dpf/core/operators/result/global_internal_energy.py
  src/ansys/dpf/core/operators/result/global_joint_internal_energy.py
  src/ansys/dpf/core/operators/result/global_kinetic_energy.py
  src/ansys/dpf/core/operators/result/global_rigid_body_stopper_energy.py
  src/ansys/dpf/core/operators/result/global_sliding_interface_energy.py
  src/ansys/dpf/core/operators/result/global_spring_damper_energy.py
  src/ansys/dpf/core/operators/result/global_system_damping_energy.py
  src/ansys/dpf/core/operators/result/global_time_step.py
  src/ansys/dpf/core/operators/result/global_total_energy.py
  src/ansys/dpf/core/operators/result/global_total_mass.py
  src/ansys/dpf/core/operators/result/global_velocity.py
  src/ansys/dpf/core/operators/result/interface_contact_area.py
  src/ansys/dpf/core/operators/result/interface_contact_force.py
  src/ansys/dpf/core/operators/result/interface_contact_mass.py
  src/ansys/dpf/core/operators/result/interface_contact_moment.py
  src/ansys/dpf/core/operators/result/interface_resultant_contact_force.py
  src/ansys/dpf/core/operators/result/part_added_mass.py
  src/ansys/dpf/core/operators/result/part_eroded_internal_energy.py
  src/ansys/dpf/core/operators/result/part_eroded_kinetic_energy.py
  src/ansys/dpf/core/operators/result/part_hourglass_energy.py
  src/ansys/dpf/core/operators/result/part_internal_energy.py
  src/ansys/dpf/core/operators/result/part_kinetic_energy.py
  src/ansys/dpf/core/operators/result/part_momentum.py
  src/ansys/dpf/core/operators/result/part_rigid_body_velocity.py
  src/ansys/dpf/core/result_info.py
  src/ansys/dpf/core/unit_system.py
  tests/conftest.py
  tests/test_lsdyna.py
  tests/test_plugins.py
  tests/test_unit_systems.py
Labels: enhancement

#775 Update build_doc.bat due to the move into src/
  .ci/build_doc.bat
  .github/workflows/docs.yml
  examples/08-averaging/01-average_across_bodies.py
Labels: bug

#782 Fix minimum version required for Unit Systems
  src/ansys/dpf/core/unit_system.py
  tests/conftest.py
  tests/test_lsdyna.py
  tests/test_unit_systems.py
Labels: bug

#785 Add explicit dependency on 'setuptools'
  pyproject.toml
Labels: dependencies

#791 Documentation (dpf.docs): ANSYS_ROOT_FOLDER is not an environment variable
  docs/source/user_guide/xmlfiles.rst
Labels: documentation

#794 Fix and improve install section
  docs/source/getting_started/install.rst
Labels: documentation

#797 Allow doctest to deal with features requiring future server version
  conftest.py
  src/ansys/dpf/core/unit_system.py
Labels: CI/CD

#800 Mention DPF Server in the Readme.md
  README.md
Labels: documentation

#803 Update doctest for Specification.description following server-side corrections
  src/ansys/dpf/core/operator_specification.py
Labels: bug, maintenance

#734 Fix deprecation of numpy.float and numpy.int
  .github/workflows/ci.yml
  .github/workflows/examples.yml
  .github/workflows/gate.yml
  pyproject.toml
  requirements/requirements_install.txt
  src/ansys/dpf/core/collection.py
  src/ansys/dpf/core/elements.py
  src/ansys/dpf/core/nodes.py
  tests/test_custom_type_field.py
  tests/test_field.py
  tests/test_geometry.py
  tests/test_operator.py
  tests/test_python_plugins.py
Labels: dependencies

#810 Fix Line.__init__ for Python 3.7 with numpy 1.21.6
  src/ansys/dpf/core/geometry.py
Labels: bug

#814 CI: update doc-deploy versions
  .github/workflows/ci.yml
  .github/workflows/releaser.yml
Labels: CI/CD
