Repository ansys/pydpf-core, pull requests merged in 2024-08, with the labels that each got.

#1667 test print non utf8 char
  tests/conftest.py
  tests/test_service.py
Labels: bug

#1674 Remove problematic doctest
  src/ansys/dpf/core/runtime_config.py
Labels: bug

#1541 Test operator result.elemental_mass on an RST
  tests/operators/test_operator_elemental_mass.py
Labels: bug

#1665 Expose generate_operators argument to load_plugin_on_server
  src/ansys/dpf/core/plugins.py
Labels: enhancement

#1675 Update documentation for 2025.1.pre0
  README.md
  doc/source/getting_started/compatibility.rst
  doc/source/getting_started/dpf_server.rst
  doc/source/getting_started/licensing.rst
  doc/source/user_guide/how_to.rst
  examples/05-file-IO/00-hdf5_double_float_comparison.py
  examples/05-file-IO/02-hdf5_serialize_and_read.py
  examples/08-python-operators/02-python_operators_with_dependencies.py
  examples/12-fluids/03-fluids_isosurface.py
  src/ansys/dpf/core/collection_base.py
  src/ansys/dpf/core/operator_specification.py
  src/ansys/dpf/core/plugins.py
  src/ansys/dpf/core/server_context.py
Labels: documentation

#1679 Bump 0.13.1.dev0
  pyproject.toml
Labels: maintenance

#1685 Remove "if: always()" from tests.yml and bump all pydpf-actions to v2.3
  .github/workflows/ci.yml
  .github/workflows/ci_release.yml
  .github/workflows/docs.yml
  .github/workflows/test_docker.yml
  .github/workflows/tests.yml
Labels: CI/CD
