Repository ansys/pydpf-core, pull requests merged in 2024-02, with the labels that each got.

#1387 Fix retro for deep_copy
  src/ansys/dpf/core/core.py
  tests/conftest.py
  tests/test_field.py
  tests/test_meshregion.py
  tests/test_operator.py
Labels: bug

#1395 Fix broken links in doc
  doc/source/user_guide/getting_started_with_dpf_server.rst
Labels: documentation

#1381 Fix test_entry.py::test_license_agr
  tests/entry/test_entry.py
Labels: bug

#1399 Fix/remove problematic test on docker
  tests/test_remote_workflow.py
Labels: bug

#1300 Display Workflows and save as file
  src/ansys/dpf/core/workflow.py
  tests/test_workflow.py
Labels: enhancement

#1396 Fix fields_factory.create_matrix_field
  src/ansys/dpf/core/fields_factory.py
Labels: bug

#1402 Skip hanging test on Docker while investigating
  tests/test_remote_workflow.py
Labels: CI/CD

#1403 Choose output type for a GenericDataContainer
  src/ansys/dpf/core/generic_data_container.py
  tests/test_generic_data_container.py
Labels: enhancement

#1405 Fix GrpcServer deletion after initialization failure
  src/ansys/dpf/core/server_types.py
Labels: bug

#1406 Fix multiharmonics example
  examples/03-harmonic_analyses/00-multi_harmonic.py
  examples/06-plotting/03-labels.py
Labels: examples

#1335 Expose Collection.name
  src/ansys/dpf/core/collection.py
  tests/test_fieldscontainer.py
Labels: enhancement

#1412 Remove mean_div_lighthill_tensor operator
  src/ansys/dpf/core/operators/result/__init__.py
  src/ansys/dpf/core/operators/result/mean_div_lighthill_tensor.py
Labels: bug

#1418 Add ImportError if any old dpf dependency is installed
  src/ansys/dpf/core/__init__.py
Labels: enhancement

#1416 Add support for DPF 8.1
  src/ansys/dpf/core/_version.py
Labels: maintenance

#1204 Revert "Revert "Update the iso_contours example using iso_surfaces operator""
  examples/12-fluids/03-fluids_isosurface.py
Labels: examples

#1419 Update LICENSE year
  LICENSE
Labels: maintenance

#1415 Switch CI_release.yml to 2024.2.pre0
  .github/workflows/ci_release.yml
Labels: CI/CD

#1420 Remove custom __str__ methods for ScopingsContainer and MeshesContainers
  src/ansys/dpf/core/meshes_container.py
  src/ansys/dpf/core/scopings_container.py
Labels: enhancement

#1421 Skip doctests in server_factory.py
  src/ansys/dpf/core/server_factory.py
Labels: CI/CD

#1428 Skip test_deep_copy_2_field for retro due to instabilities
  tests/test_field.py
Labels: CI/CD

#1423 Refactor Getting Started and add Licensing
  doc/source/concepts/waysofusing.rst
  doc/source/conf.py
  doc/source/getting_started/compatibility.rst
  doc/source/getting_started/dpf_server.rst
  doc/source/getting_started/index.rst
  doc/source/getting_started/licensing.rst
  doc/source/index.rst
  doc/source/user_guide/getting_started_with_dpf_server.rst
  doc/source/user_guide/how_to.rst
Labels: documentation

#1432 Several fixes to the release pipeline following 0.11.0
  .github/workflows/ansys_lab.yml
  .github/workflows/ci.yml
  .github/workflows/ci_release.yml
  .github/workflows/docs.yml
  .github/workflows/examples.yml
  .github/workflows/examples_docker.yml
  .github/workflows/pydpf-post.yml
  .github/workflows/releaser.yml
  .github/workflows/test_docker.yml
  .github/workflows/tests.yml
  .github/workflows/update_operators.yml
Labels: CI/CD

#1433 Bump to 0.11.1.dev0
  pyproject.toml
  src/ansys/dpf/core/_version.py
Labels: maintenance

#1434 Implement recommendations from 0.11.0 release
  doc/source/getting_started/dpf_server.rst
  doc/source/getting_started/licensing.rst
Labels: documentation
