Repository ansys/pydpf-core, pull requests merged in 2024-11, with the labels that each got.

#1849 Fix retro-compatibility for example 13-nodes_in_local_coordinate_system.py
  examples/10-mesh_operations/13-nodes_in_local_coordinate_system.py
Labels: bug

#1852 Bump actions/download-artifact@v4
  .github/workflows/ci_release.yml
Labels: CI/CD

#1853 Fix wheel condition on call to tests.yml in ci_release.yml
  .github/workflows/ci_release.yml
Labels: CI/CD

#1854 Fix/wheel artifact concurrency ci release
  .github/workflows/ci_release.yml
Labels: CI/CD

#1855 Fix ci_release.yml wheel concurrency for tests_any
  .github/workflows/ci_release.yml
Labels: CI/CD

#1856 Fix wheel upload condition for tests.yml
  .github/workflows/tests.yml
Labels: CI/CD

#1857 Fix wheel upload condition for tests.yml
  .github/workflows/tests.yml
Labels: CI/CD

#1865 Add 25.1 and 25.2.pre0 to listed Ansys versions in bug.yml
  .github/ISSUE_TEMPLATE/bug.yml
Labels: CI/CD

#1864 Remove numpy restriction to <2
  pyproject.toml
  src/ansys/dpf/core/custom_fields_container.py
  src/ansys/dpf/core/model.py
  src/ansys/dpf/core/nodes.py
Labels: dependencies

#1875 Add CyclicSupport.cs, CyclicSupport.high_low_map & CyclicSupport.low_high_map
  src/ansys/dpf/core/cyclic_support.py
  src/ansys/dpf/gate/cyclic_support_grpcapi.py
  tests/test_cyclic_support.py
Labels: enhancement

#1881 Bump 0.13.3.dev0
  pyproject.toml
Labels: maintenance

#1880 Target 25.2 in ci.yml
  .github/workflows/ci.yml
Labels: CI/CD

#1897 Fix PyAnsys logo link in doc
  doc/source/conf.py
Labels: documentation

#1893 Upgrade pre-commit hooks
  .pre-commit-config.yaml
Labels: maintenance

#1911 Add a tutorial issue template
  .github/ISSUE_TEMPLATE/tutorial.yml
Labels: maintenance

#1912 Fix example issue template labels
  .github/ISSUE_TEMPLATE/examples.yml
Labels: maintenance

#1914 fix: Sphinx button border and transparency style in docs
  doc/source/_static/custom.css
  doc/source/operator_reference.rst
Labels: bug

#1926 Pin down vtk in requirements_test.txt
  requirements/requirements_docs.txt
  requirements/requirements_test.txt
Labels: CI/CD, dependencies

#1928 Add retro tests for 242 in release CI
  .github/workflows/ci_release.yml
Labels: CI/CD

#1929 Skip test_cast_worklow_any as failing for any.whl below 251
  tests/test_any.py
Labels: CI/CD

#1931 Augment license check timeout in licensing example
  .ci/run_examples.py
  .github/workflows/examples.yml
  examples/04-advanced/13-manage_licensing.py
Labels: CI/CD

#1924 Switch from pip list to pip freeze in bug.yml template requirements
  .github/ISSUE_TEMPLATE/bug.yml
Labels: maintenance

#1932 Fix warning condition on field location for compute_streamlines
  src/ansys/dpf/core/helpers/streamlines.py
Labels: bug

#1935 Bump 0.13.4.dev0
  pyproject.toml
Labels: maintenance

#1925 Add badges for supported solvers
  doc/source/_static/custom.css
  doc/source/conf.py
  doc/source/user_guide/tutorials/animate/index.rst
Labels: documentation

#1937 Mark support for psd and prs files
  doc/source/dpf_ansys_file_support_table.rst
  doc/source/index.rst
Labels: documentation

#1945 Fix/examples custom operator downloads
  examples/08-python-operators/00-wrapping_numpy_capabilities.py
  examples/08-python-operators/01-package_python_operators.py
  examples/08-python-operators/02-python_operators_with_dependencies.py
  src/ansys/dpf/core/examples/downloads.py
Labels: bug

#1946 Examples/refactor custom plugin examples
  examples/08-python-operators/00-wrapping_numpy_capabilities.py
  examples/08-python-operators/01-package_python_operators.py
  examples/08-python-operators/02-python_operators_with_dependencies.py
  src/ansys/dpf/core/examples/downloads.py
  tests/test_examples.py
Labels: examples
