Repository ansys/pydpf-core, pull requests merged in 2024-05, with the labels that each got.

#1552 Improve MAPDL names handling
  tests/test_resultinfo.py
Labels: enhancement

#1564 Update CI for 251
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/examples.yml
  .github/workflows/examples_docker.yml
  .github/workflows/pydpf-post.yml
  .github/workflows/test_docker.yml
  .github/workflows/tests.yml
  .github/workflows/update_operators.yml
Labels: CI/CD

#1537 Move LS-Dyna examples to their own section
  examples/14-lsdyna/00-lsdyna_operators.py
  examples/14-lsdyna/README.txt
Labels: documentation

#1582 Fix link on DPF Server Customer Portal page
  doc/source/conf.py
  doc/source/getting_started/dpf_server.rst
  requirements/requirements_docs.txt
Labels: maintenance

#1590 Fix environment PATH pollution by CGrpc servers
  src/ansys/dpf/core/server_factory.py
  src/ansys/dpf/core/server_types.py
  tests/test_server.py
Labels: bug

#1589 DataSources.set_result_file_path recognizes .cas/dat.cff and .cas/dat.h5 files automatically
  src/ansys/dpf/core/data_sources.py
  tests/test_datasources.py
Labels: enhancement

#1592 Fix a bug where a new server is run on object creation
  src/ansys/dpf/core/any.py
  src/ansys/dpf/core/collection.py
  src/ansys/dpf/core/collection_base.py
  src/ansys/dpf/core/config.py
  src/ansys/dpf/core/custom_type_field.py
  src/ansys/dpf/core/cyclic_support.py
  src/ansys/dpf/core/data_sources.py
  src/ansys/dpf/core/data_tree.py
  src/ansys/dpf/core/dpf_operator.py
  src/ansys/dpf/core/field_definition.py
  src/ansys/dpf/core/generic_data_container.py
  src/ansys/dpf/core/label_space.py
  src/ansys/dpf/core/meshed_region.py
  src/ansys/dpf/core/operator_specification.py
  src/ansys/dpf/core/result_info.py
  src/ansys/dpf/core/scoping.py
  src/ansys/dpf/core/streams_container.py
  src/ansys/dpf/core/string_field.py
  src/ansys/dpf/core/support.py
  src/ansys/dpf/core/workflow.py
  tests/test_scoping.py
Labels: bug

#1594 Add MeshInfo.bodies
  examples/12-fluids/00-fluids_model.py
  src/ansys/dpf/core/mesh_info.py
  tests/test_mesh_info.py
Labels: enhancement

#1581 Add vtk_helpers for DPF to VTK translation
  src/ansys/dpf/core/vtk_helper.py
  tests/test_vtk_translate.py
Labels: enhancement
