Repository ansys/pydpf-core, pull requests merged in 2024-10, with the labels that each got.

#1782 Vale upgrade TokenIgnores
  doc/.vale.ini
Labels: maintenance

#1786 Add mandatory AUTHORS file
  AUTHORS
Labels: maintenance

#1789 Bump nick-fields/retry to v3
  .github/workflows/test_docker.yml
  .github/workflows/tests.yml
Labels: maintenance

#1729 StreamsContainer.datasources
  src/ansys/dpf/core/streams_container.py
  tests/test_streams_container.py
Labels: enhancement

#1790 Bump to codecov/codecov-action@v4
  .github/workflows/test_docker.yml
  .github/workflows/tests.yml
Labels: maintenance

#1798 Bump ts-graphviz/setup-graphviz to v2
  .github/workflows/docs.yml
Labels: maintenance

#1811 Bump ansys/actions to v8
  .github/workflows/ci.yml
  .github/workflows/ci_release.yml
  .github/workflows/docs.yml
  .github/workflows/releaser.yml
Labels: maintenance

#1815 Fix Coordinate System example retro on Docker
  examples/10-mesh_operations/13-nodes_in_local_coordinate_system.py
Labels: examples

#1820 adapt logo for light and dark modes
  doc/source/conf.py
Labels: documentation

#1819 Move the concepts section into the User Guide
  doc/source/conf.py
  doc/source/index.rst
  doc/source/user_guide/concepts/concepts.rst
  doc/source/user_guide/concepts/index.rst
  doc/source/user_guide/concepts/stepbystep.rst
  doc/source/user_guide/concepts/waysofusing.rst
  doc/source/user_guide/how_to.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/main_entities.rst
  doc/source/user_guide/troubleshooting.rst
Labels: documentation

#1726 Example/example re assembling fields
  examples/01-mathematical-operations/matrix-operations.py
Labels: examples

#1830 fix: missing bot secrets in deploy actions
  .github/workflows/ci.yml
  .github/workflows/releaser.yml
Labels: CI/CD

#1821 Fix hidden operators exposure
  .ci/code_generation.py
  src/ansys/dpf/core/operators/build.py
  src/ansys/dpf/core/operators/operator.mustache
Labels: bug
