Repository ansys/pydpf-core, pull requests merged in 2024-04, with the labels that each got.

#1482 Fix Sound license increment name
  doc/source/getting_started/licensing.rst
Labels: documentation

#1492 Add 8.2 to prepare for post-release
  src/ansys/dpf/core/_version.py
Labels: CI/CD

#1473 Associate the mesh to the Nodes.coordinates field
  src/ansys/dpf/core/nodes.py
  tests/test_meshregion.py
Labels: bug

#1494 Fix issue in model without faces
  src/ansys/dpf/core/faces.py
  tests/test_faces.py
Labels: bug

#1469 Add PropertyField.name
  src/ansys/dpf/core/field.py
  src/ansys/dpf/core/fields_container.py
  src/ansys/dpf/core/property_field.py
  tests/conftest.py
  tests/test_propertyfield.py
Labels: enhancement

#1495 Prepare release CI to 2024.2.pre1
  .github/ISSUE_TEMPLATE/bug.yml
  .github/workflows/ci_release.yml
Labels: CI/CD

#1503 Bump to 0.12.1.dev0
  pyproject.toml
  src/ansys/dpf/core/_version.py
Labels: maintenance

#1502 Update compatibility table
  doc/source/getting_started/compatibility.rst
Labels: documentation

#1500 Reactivate Docker tests
  .github/workflows/ci.yml
Labels: CI/CD

#1514 Fix server shutdown
  src/ansys/dpf/core/server_types.py
  tests/test_server.py
Labels: bug

#1527 Fix Operator.eval() in case output pin 0 is not named "fields_container"
  src/ansys/dpf/core/outputs.py
  src/ansys/dpf/core/results.py
Labels: bug

#1536 Revert "Fix apt get ubuntu (#1533)"
  .github/workflows/tests.yml
Labels: CI/CD

#1535 Enable parallel_projection as a kwarg
  examples/06-plotting/00-basic_plotting.py
  src/ansys/dpf/core/plotter.py
Labels: enhancement
