Repository ansys/pydpf-core, pull requests merged in 2024-01, with the labels that each got.

#1340 Add Meshinfo zone helpers
  examples/12-fluids/00-fluids_model.py
  src/ansys/dpf/core/mesh_info.py
  tests/test_mesh_info.py
Labels: enhancement

#1343 Fix doc generation
  requirements/requirements_docs.txt
  src/ansys/dpf/core/server_factory.py
Labels: CI/CD

#1346 Add time scoping in hdf5 example
  examples/05-file-IO/02-hdf5_serialize_and_read.py
Labels: documentation, examples

#1350 Target 241.sp01 instead of 241.pre0 or 241
  .github/workflows/ci.yml
  .github/workflows/ci_release.yml
Labels: CI/CD

#1354 Remove unstable tests and examples
  .github/workflows/test_docker.yml
  doc/source/conf.py
  tests/test_server.py
Labels: CI/CD

#1359 Skip unstable distributed_stress_averaging example in doc generation
  doc/source/conf.py
Labels: CI/CD

#1358 Switch to pyansys ci bot
  .github/workflows/ansys_lab.yml
  .github/workflows/update_operators.yml
Labels: CI/CD

#1357 Skip unstable example in CI
  .ci/run_examples.py
Labels: CI/CD

#1362 Update issue templates with new DPF versions
  .github/ISSUE_TEMPLATE/bug.yml
Labels: CI/CD

#1331 Fix releaser.yml following 0.10.1 release
  .github/workflows/ansys_lab.yml
  .github/workflows/releaser.yml
Labels: CI/CD

#1375 FieldsContainer.plot
  src/ansys/dpf/core/fields_container.py
  tests/test_fieldscontainer.py
Labels: enhancement

#1374 MeshInfo.parts helper
  src/ansys/dpf/core/generic_data_container.py
  src/ansys/dpf/core/mesh_info.py
  src/ansys/dpf/core/string_field.py
  tests/test_mesh_info.py
Labels: enhancement

#1379 Allow update of dpf-site.zip
  src/ansys/dpf/core/custom_operator.py
Labels: enhancement

#1380 Move FieldsContainer.plot test
  tests/test_fieldscontainer.py
  tests/test_plotter.py
Labels: bug

#1372 Create a ResultInfo
  src/ansys/dpf/core/result_info.py
  tests/test_resultinfo.py
Labels: enhancement

#1376 Allow GenericDataContainer as input/output of a CustomOperator and fix dpf-site.zip update
  src/ansys/dpf/core/__init__.py
  src/ansys/dpf/core/_custom_operators_helpers.py
  src/ansys/dpf/core/custom_operator.py
  src/ansys/dpf/core/dpf_operator.py
  src/ansys/dpf/core/server.py
  src/ansys/dpf/core/server_types.py
  tests/test_operator.py
  tests/test_python_plugins.py
  tests/testfiles/pythonPlugins/all_types/dpf_types_op.py
  tests/testfiles/pythonPlugins/all_types/load_operators_func.py
Labels: bug

#1388 Fix parsing of ansys_path version in start_local_server
  src/ansys/dpf/core/misc.py
  src/ansys/dpf/core/server.py
  src/ansys/dpf/core/server_types.py
Labels: bug
