Repository ansys/pydpf-core, pull requests merged in 2024-09, with the labels that each got.

#1720 Fix CI release main python version envvar
  .github/workflows/ci_release.yml
Labels: CI/CD

#1721 Add new DPF versions to the bug issue template
  .github/ISSUE_TEMPLATE/bug.yml
Labels: maintenance

#1723 Augment timeout for PyDPF-Post testing
  .github/workflows/pydpf-post.yml
Labels: CI/CD

#1728 Fix Any as input of operator and workflow
  src/ansys/dpf/core/dpf_operator.py
  src/ansys/dpf/core/workflow.py
  src/ansys/dpf/gate/operator_grpcapi.py
  src/ansys/dpf/gate/workflow_grpcapi.py
  tests/test_operator.py
  tests/test_workflow.py
Labels: bug

#1730 Take ownership of ansys/dpf/gate/*grpcapi.py files
  .ci/update_dpf_dependencies.py
  .github/workflows/update_operators.yml
Labels: CI/CD, maintenance

#1739 Fix connecting StreamsContainer as input or output of Operator or Workflow when InProcess
  src/ansys/dpf/core/dpf_operator.py
  src/ansys/dpf/core/workflow.py
  tests/test_operator.py
  tests/test_workflow.py
Labels: bug

#1747 Fix coordinate system example retro-compatibility
  examples/10-mesh_operations/13-nodes_in_local_coordinate_system.py
  tests/operators/test_coordinate_system.py
Labels: examples

#1754 Improvements to the release notes template
  .github/release.yml
Labels: CI/CD

#1725 Fix label space string representation
  src/ansys/dpf/core/__init__.py
  src/ansys/dpf/core/collection_base.py
  src/ansys/dpf/core/label_space.py
  tests/test_label_space.py
Labels: bug

#1764 Remove sphinx-autobuild as doc requirement
  requirements/requirements_docs.txt
Labels: dependencies

#1763 Changes in the user guide layout
  doc/source/user_guide/concepts/concepts.rst
  doc/source/user_guide/concepts/index.rst
  doc/source/user_guide/concepts/stepbystep.rst
  doc/source/user_guide/concepts/waysofusing.rst
  doc/source/user_guide/how-to/create_sites_for_python_operators.ps1
  doc/source/user_guide/how-to/create_sites_for_python_operators.sh
  doc/source/user_guide/how-to/custom_operator_example.py
  doc/source/user_guide/how-to/custom_operators.rst
  doc/source/user_guide/how-to/custom_operators_deps.rst
  doc/source/user_guide/how-to/custom_plugin.xml
  doc/source/user_guide/how-to/index.rst
  doc/source/user_guide/how-to/install_ansys_dpf_core_in_ansys.ps1
  doc/source/user_guide/how-to/install_ansys_dpf_core_in_ansys.sh
  doc/source/user_guide/how-to/server_context.rst
  doc/source/user_guide/how-to/server_types.rst
  doc/source/user_guide/how-to/uninstall_ansys_dpf_core_in_ansys.ps1
  doc/source/user_guide/how-to/uninstall_ansys_dpf_core_in_ansys.sh
  doc/source/user_guide/how-to/xmlfiles.rst
  doc/source/user_guide/how_to.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/main_entities.rst
  doc/source/user_guide/troubleshooting/index.rst
  doc/source/user_guide/troubleshooting/troubleshooting.rst
  doc/source/user_guide/tutorials/fields_container.rst
  doc/source/user_guide/tutorials/index.rst
  doc/source/user_guide/tutorials/model.rst
  doc/source/user_guide/tutorials/operators.rst
  doc/source/user_guide/tutorials/plotting.rst
  examples/08-python-operators/02-python_operators_with_dependencies.py
  requirements/requirements_docs.txt
Labels: documentation
