Repository ansys/pydpf-core, pull requests merged in 2024-07, with the labels that each got.

#1653 Update support for CentOS and Rocky 8
  doc/source/getting_started/compatibility.rst
Labels: documentation

#1658 Switch release CI to DPF 2025.1.pre0
  .github/workflows/ci_release.yml
Labels: CI/CD

#1660 Add 9.1 to prepare for post-release
  src/ansys/dpf/core/_version.py
Labels: CI/CD

#1542 Add test_operator_mesh_plan_clip_rst
  tests/conftest.py
  tests/operators/test_operator_mesh_plan_clip.py
Labels: bug

#1666 Refactor vtk_helper.py to allow appending data
  src/ansys/dpf/core/vtk_helper.py
  tests/test_vtk_translate.py
Labels: enhancement
