Repository ansys/pydpf-core, pull requests merged in 2025-05, with the labels that each got.

#2272 ci: make pydpf-post job information-only
  .github/workflows/pydpf-post.yml
Labels: CI/CD

#2277 Bump to 0.13.8dev0
  pyproject.toml
Labels: maintenance

#2278 Add missing homogeneities
  src/ansys/dpf/core/available_result.py
Labels: bug, enhancement

#1844 LSDYNA beam results example
  examples/14-lsdyna/01-lsdyna_beam.py
Labels: examples

#1908 Add mesh tutorials to the main tutorials branch
  doc/source/user_guide/tutorials/index.rst
  doc/source/user_guide/tutorials/mesh/create_a_mesh_from_scratch.rst
  doc/source/user_guide/tutorials/mesh/explore_mesh.rst
  doc/source/user_guide/tutorials/mesh/explore_mesh_metadata.rst
  doc/source/user_guide/tutorials/mesh/extract_mesh_in_split_parts.rst
  doc/source/user_guide/tutorials/mesh/get_mesh_from_result_file.rst
  doc/source/user_guide/tutorials/mesh/index.rst
  doc/source/user_guide/tutorials/mesh/split_mesh.rst
Labels: tutorials

#1903 Add plotting tutorials to the main tutorials branch
  doc/source/links_and_refs.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/tutorials/index.rst
  doc/source/user_guide/tutorials/mesh/create_a_mesh_from_scratch.rst
  doc/source/user_guide/tutorials/operators_and_workflows/index.rst
  doc/source/user_guide/tutorials/plot/index.rst
  doc/source/user_guide/tutorials/plot/plot_a_graph.rst
  doc/source/user_guide/tutorials/plot/plot_contour.rst
  doc/source/user_guide/tutorials/plot/plot_deformed_mesh.rst
  doc/source/user_guide/tutorials/plot/plot_mesh.rst
  doc/source/user_guide/tutorials/transform_data/index.rst
Labels: tutorials

#2297 Bump to 0.13.9.dev0
  pyproject.toml
Labels: maintenance

#1910 Add math tutorials to the main tutorials branch
  doc/source/user_guide/tutorials/mathematics/basic_maths.rst
  doc/source/user_guide/tutorials/mathematics/index.rst
Labels: tutorials

#2301 Support Beam3 in ElementDescriptor
  src/ansys/dpf/core/elements.py
  tests/test_elements.py
Labels: enhancement

#2300 Use repository variable ANSY_VERSION_DEFAULT in CI
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/examples.yml
  .github/workflows/examples_docker.yml
  .github/workflows/pydpf-post.yml
  .github/workflows/test_docker.yml
  .github/workflows/tests.yml
  .github/workflows/update_operators.yml
Labels: CI/CD

#2299 Move CI to 26R1
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/examples.yml
  .github/workflows/examples_docker.yml
  .github/workflows/pydpf-post.yml
  .github/workflows/test_docker.yml
  .github/workflows/tests.yml
  .github/workflows/update_operators.yml
Labels: CI/CD

#2303 ci(issues): update issue templates for dev of DPF in 26R1
  .github/ISSUE_TEMPLATE/bug.yml
Labels: CI/CD

#2310 fix(dependencies): Remove upper limit on imageio in pyproject.toml
  pyproject.toml
Labels: bug, dependencies
