Repository ansys/pydpf-core, pull requests merged in 2025-06, with the labels that each got.

#2324 feat(framework): expose operator changelog
  src/ansys/dpf/core/changelog.py
  src/ansys/dpf/core/custom_operator.py
  src/ansys/dpf/core/dpf_operator.py
  src/ansys/dpf/core/operator_specification.py
  src/ansys/dpf/gate/operator_specification_grpcapi.py
  tests/conftest.py
  tests/test_changelog.py
  tests/test_operator.py
  tests/test_python_plugins.py
  tests/testfiles/pythonPlugins/operator_with_changelog.py
Labels: enhancement

#1700 fix(animation): add mode number and frequency value with unit in mode animations
  src/ansys/dpf/core/animation.py
  src/ansys/dpf/core/animator.py
Labels: bug

#2341 ci(doc): upload PR doc
  .github/workflows/ci.yml
Labels: documentation, CI/CD

#2376 maint(ci): Update tox.ini doc clean environment
  tox.ini
Labels: documentation, CI/CD

#2375 fix(api): Make locations a publicly documented class
  src/ansys/dpf/core/common.py
  src/ansys/dpf/gate/common.py
  src/ansys/dpf/gate/meshed_region_grpcapi.py
Labels: bug

#2377 feat(plotter): enable plots of mesh scopings
  src/ansys/dpf/core/elements.py
  src/ansys/dpf/core/meshes_container.py
  src/ansys/dpf/core/nodes.py
  src/ansys/dpf/core/plotter.py
  src/ansys/dpf/core/scoping.py
  src/ansys/dpf/core/scopings_container.py
  tests/test_plotter.py
Labels: enhancement
