Repository ansys/pydpf-core, pull requests merged in 2025-03, with the labels that each got.

#2059 Pin aliases
  src/ansys/dpf/core/dpf_operator.py
  src/ansys/dpf/core/inputs.py
  src/ansys/dpf/core/operator_specification.py
  src/ansys/dpf/core/operators/build.py
  src/ansys/dpf/core/operators/math/accumulate.py
  src/ansys/dpf/core/operators/math/accumulate_fc.py
  src/ansys/dpf/core/operators/math/add_constant.py
  src/ansys/dpf/core/operators/math/add_constant_fc.py
  src/ansys/dpf/core/operators/math/correlation.py
  src/ansys/dpf/core/operators/math/mac.py
  src/ansys/dpf/core/operators/math/scale.py
  src/ansys/dpf/core/operators/math/scale_fc.py
  src/ansys/dpf/core/operators/operator.mustache
  src/ansys/dpf/core/outputs.py
  src/ansys/dpf/gate/operator_specification_grpcapi.py
  tests/test_animation.py
  tests/test_animator.py
  tests/test_specification.py
Labels: enhancement

#2140 Twine recently broke deployment. Pinning twine==6.0.1
  .github/workflows/releaser.yml
Labels: CI/CD

#2137 Enforce timeout in connect_to_server
  src/ansys/dpf/core/server.py
  src/ansys/dpf/core/server_types.py
Labels: bug

#2141 DpfVector BUG: DpfVector were created on one clayer and deleted in another
  src/ansys/dpf/core/collection_base.py
  src/ansys/dpf/core/custom_type_field.py
  src/ansys/dpf/core/field.py
  src/ansys/dpf/core/property_field.py
  src/ansys/dpf/core/scoping.py
  src/ansys/dpf/core/string_field.py
  src/ansys/dpf/gate/dpf_vector.py
Labels: bug

#2146 Sort operators in __init__.py during operator code generation
  .github/workflows/update_operators.yml
  src/ansys/dpf/core/operators/build.py
  src/ansys/dpf/core/operators/geo/__init__.py
  src/ansys/dpf/core/operators/mapping/__init__.py
  src/ansys/dpf/core/operators/math/__init__.py
  src/ansys/dpf/core/operators/mesh/__init__.py
  src/ansys/dpf/core/operators/result/__init__.py
  src/ansys/dpf/core/operators/serialization/__init__.py
  src/ansys/dpf/core/operators/utility/__init__.py
Labels: CI/CD

#2156 Update link to Customer Portal for DPF Server
  doc/source/getting_started/dpf_server.rst
Labels: documentation

#2167 Ci: add test analytics
  .github/workflows/test_docker.yml
  .github/workflows/tests.yml
  tox.ini
Labels: CI/CD, tests

#2168 Feat: add operator internal name alias for operator Python modules
  src/ansys/dpf/core/operators/build.py
  src/ansys/dpf/core/operators/metadata/cyclic_support_provider.py
  src/ansys/dpf/core/operators/operator.mustache
Labels: enhancement

#2175 Ci: run entry tests first
  .github/workflows/tests.yml
  tox.ini
Labels: CI/CD, tests
