Repository ansys/pydpf-core, pull requests merged in 2025-07, with the labels that each got.

#2403 ci: test 25R2 retro-compatibility
  .github/workflows/ci.yml
Labels: CI/CD

#2407 fix: custom type check for unsupported type
  src/ansys/dpf/core/custom_type_field.py
  src/ansys/dpf/gate/dpf_vector.py
  tests/test_custom_type_field.py
  tests/test_dpf_vector.py
Labels: bug

#2413 feat(plotter): return the plotter instance
  src/ansys/dpf/core/fields_container.py
  src/ansys/dpf/core/plotter.py
Labels: enhancement

#2425 ci(test): skip test-operators/test_operator_change_shell_layers_connect_enum
  tests/operators/test_change_shell_layers.py
Labels: bug, CI/CD

#2438 feat: expose modal location
  src/ansys/dpf/core/common.py
Labels: enhancement

#2463 doc(tutorials): allow version requirement for tutorials
  doc/source/_static/custom.css
  doc/source/conf.py
  doc/source/user_guide/tutorials/custom_operators_and_plugins/custom_operators.rst
  doc/source/user_guide/tutorials/custom_operators_and_plugins/index.rst
  doc/source/user_guide/tutorials/index.rst
  doc/sphinx_utilities/version_filtering.py
  src/ansys/dpf/core/examples/examples.py
Labels: deploy-pr-doc

#2473 fix(example): fix retro with 25R1 and below for 00-basic_plotting.py
  examples/06-plotting/00-basic_plotting.py
Labels: bug, examples

#2474 fix(doctest): fix the ScopingsContainer.plot docstring example
  src/ansys/dpf/core/scopings_container.py
Labels: bug

#2472 tuto(custom): custom operators tutorial supports older DPF versions
  doc/source/user_guide/tutorials/custom_operators_and_plugins/custom_operators.rst
  doc/source/user_guide/tutorials/custom_operators_and_plugins/index.rst
  src/ansys/dpf/core/examples/python_plugins/custom_operator_example.py
Labels: tutorials, deploy-pr-doc

#2476 fix(doctest): fix doctests for plots of scopings
  src/ansys/dpf/core/plotter.py
  src/ansys/dpf/core/scoping.py
Labels: bug

#2468 Modify test for internal fluid variables
  tests/test_resultinfo.py
Labels: tests
