Repository ansys/pydpf-core, pull requests merged in 2025-01, with the labels that each got.

#1988 Fix averaging example plots
  examples/09-averaging/00-compute_and_average.py
Labels: examples

#1991 Fix connecting Any as inpt
  src/ansys/dpf/core/dpf_operator.py
  tests/test_operator.py
Labels: bug

#1996 Documentation edits
  doc/source/_static/simple_example.rst
  doc/source/getting_started/compatibility.rst
  doc/source/getting_started/dpf_server.rst
  doc/source/getting_started/index.rst
  doc/source/getting_started/install.rst
  doc/source/getting_started/licensing.rst
  doc/source/operator_reference.rst
  doc/source/user_guide/concepts/concepts.rst
  doc/source/user_guide/concepts/stepbystep.rst
  doc/source/user_guide/concepts/waysofusing.rst
  doc/source/user_guide/custom_operators.rst
  doc/source/user_guide/custom_operators_deps.rst
  doc/source/user_guide/fields_container.rst
  doc/source/user_guide/operators.rst
  doc/source/user_guide/plotting.rst
  doc/source/user_guide/server_context.rst
  doc/source/user_guide/troubleshooting.rst
  doc/source/user_guide/xmlfiles.rst
Labels: documentation

#1999 Add examples from Operators section to Field API
  src/ansys/dpf/core/field.py
Labels: documentation

#2004 Add maximum number of failures in PyDPF-Post test CI
  .github/workflows/pydpf-post.yml
Labels: CI/CD

#1998 Fix temporarily broken customer portal link
  doc/source/getting_started/dpf_server.rst
Labels: bug

#2003 Fixed text issue
  doc/source/operator_reference.rst
Labels: documentation

#2001 Accept a Python range when setting scoping IDs.
  src/ansys/dpf/core/mesh_scoping_factory.py
  src/ansys/dpf/core/scoping.py
  tests/test_scoping.py
Labels: enhancement

#2005 Fix mesh_scoping_factory.named_selection_scoping server argument
  src/ansys/dpf/core/mesh_scoping_factory.py
  src/ansys/dpf/core/meshed_region.py
  src/ansys/dpf/core/model.py
  tests/test_factories.py
Labels: bug

#2008 Deprecate pkg_resources usage
  src/ansys/dpf/core/__init__.py
  src/ansys/dpf/gate/load_api.py
Labels: refactoring

#2022 Bump tests to DPF 2025.1.0 in ci_release.yml
  .github/workflows/ci_release.yml
  .github/workflows/tests.yml
Labels: CI/CD

#2024 Update test_cast_workflow_any to also skip on 2025.1.0
  tests/test_any.py
Labels: CI/CD

#2027 Remove code specific to unsupported old DPF servers
  src/ansys/dpf/core/dpf_operator.py
  src/ansys/dpf/core/meshed_region.py
  src/ansys/dpf/core/session.py
  src/ansys/dpf/core/workflow.py
  tests/test_cache.py
Labels: refactoring

#2025 Accept rank-1 NumPy arrays for workflow and operator inputs which accept lists
  src/ansys/dpf/core/dpf_operator.py
  src/ansys/dpf/core/workflow.py
  tests/test_operator.py
  tests/test_workflow.py
Labels: enhancement

#1950 Add tutorials guidelines in the main tutorials branch
  doc/source/getting_started/contributing.rst
  doc/source/getting_started/install.rst
  doc/source/getting_started/write_code/index.rst
  doc/source/getting_started/write_doc/guidelines_tutorials.rst
  doc/source/getting_started/write_doc/index.rst
  doc/source/getting_started/write_doc/tutorial_card_template.rst
  doc/source/getting_started/write_doc/tutorial_content_template.rst
  doc/source/getting_started/write_doc/tutorial_section_template.rst
  doc/source/getting_started/write_doc/tutorial_structure_template.rst
  doc/source/links_and_refs.rst
Labels: tutorials

#2040 Fix Scoping.ids setter for int64 arrays
  src/ansys/dpf/core/scoping.py
  tests/test_scoping.py
Labels: bug

#1874 Add a README file to the "mathematical operations" examples folder
  examples/16-maths-ops/01-matrix-operations.py
  examples/16-maths-ops/README.text
Labels: examples

#2042 Fix link to image in README.md
  README.md
Labels: documentation
