Repository ansys/pydpf-core, pull requests merged in 2025-08, with the labels that each got.

#2494 doc(tutorials): Correct card of the "Custom operators" tutorial
  doc/source/user_guide/tutorials/custom_operators_and_plugins/index.rst
Labels: tutorials

#2516 ci(release): ci_release.yml use repository variable ANSYS_VERSION_LAST_RELEASED
  .github/workflows/ci_release.yml
Labels: CI/CD

#2510 Deprecate renamed gasket_deformation operators
  .ci/code_generation.py
  src/ansys/dpf/core/operators/result/__init__.py
  src/ansys/dpf/core/operators/result/gasket_deformation.py
  src/ansys/dpf/core/operators/result/gasket_deformation_X.py
  src/ansys/dpf/core/operators/result/gasket_deformation_XY.py
  src/ansys/dpf/core/operators/result/gasket_deformation_XZ.py
  tests/operators/test_gasket_deformation.py
Labels: deploy-pr-doc

#2517 ci: use repository variables for retro testing matrices
  .github/workflows/ci.yml
  .github/workflows/ci_release.yml
Labels: CI/CD

#2487 fix(any): fix cast of Any to DataSources
  src/ansys/dpf/core/any.py
  src/ansys/dpf/gate/any_grpcapi.py
  tests/test_any.py
Labels: bug

#2529 ci(doc): Switch doc-deploy-pr to a dedicated workflow
  .github/workflows/ci.yml
  .github/workflows/doc-deploy-pr.yml
Labels: CI/CD, deploy-pr-doc

#2541 bump to 0.14.2.dev0
  pyproject.toml
Labels: maintenance

#2540 ci(operators): minor updates to generate_operators_doc.py
  .ci/generate_operators_doc.py
Labels: CI/CD
