Repository ansys/pydpf-core, pull requests merged in 2025-02, with the labels that each got.

#2053 Deprecate Inputs.connect and handle ambiguous connections
  src/ansys/dpf/core/inputs.py
  tests/test_operator.py
Labels: bug, deprecation

#2068 Only ask integration_proxies for review for operator updates on main branch
  .github/workflows/update_operators.yml
Labels: CI/CD

#2069 Maint: Remove google-api-python-client from dependencies
  pyproject.toml
Labels: maintenance, dependencies

#2089 Add new homogeneities
  src/ansys/dpf/core/available_result.py
Labels: enhancement

#2094 Handle connection of Enum to operators
  src/ansys/dpf/core/inputs.py
  tests/operators/test_change_shell_layers.py
Labels: bug

#2099 Fix Workflow.view and add graphviz to the testing environment
  .github/workflows/test_docker.yml
  .github/workflows/tests.yml
  requirements/requirements_test.txt
  src/ansys/dpf/core/workflow.py
  tests/test_workflow.py
Labels: bug, CI/CD

#2107 Fix specification.config_specification on empty spec
  src/ansys/dpf/core/operator_specification.py
  tests/test_operator.py
Labels: bug

#2085 feat: improve contribute section documentation
  doc/source/conf.py
  doc/source/dpf_ansys_file_support_table.rst
  doc/source/getting_started/contribute/developer.rst
  doc/source/getting_started/contribute/documentarian.rst
  doc/source/getting_started/contribute/tox.png
  doc/source/getting_started/contribute/user.rst
  doc/source/getting_started/contributing.rst
  doc/source/links.rst
  requirements/requirements_docs.txt
  tox.ini
Labels: documentation, enhancement

#2110 Raise useful error on workflow.connect_with for wrong labels
  src/ansys/dpf/core/workflow.py
  tests/test_workflow.py
Labels: bug

#2119 Add pypandoc_binary to requirements_build.txt
  requirements/requirements_build.txt
Labels: bug, CI/CD, dependencies
